.lang-sel {
  text-align: right;
}
.lang-sel.align-left {
  text-align: left;
}
.lang-sel.align-right {
  text-align: right;
}
.lang-sel.align-center {
  text-align: center;
}
@media (max-width: 767px) {
  .lang-sel {
    text-align: center;
  }
}
.lang-sel > div {
  text-align: left;
}
