/**** List Styles ****/
.impruw-list {
	margin: 0.5em 0;
	ul {
		list-style-type: disc;
		list-style-position: inside;
		&.hover-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
		  	li {
				font: 200 1em/1.5;
			  	border-bottom: 1px solid @text-color;
			  	padding: 0;
			  	margin: 0;
			  	a, span {
					text-decoration: none;
					color: @text-color;
					display: block;
					margin: 0;
					padding: 0.5em;
					-webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
					-moz-transition: font-size 0.3s ease, background-color 0.3s ease;
					-o-transition: font-size 0.3s ease, background-color 0.3s ease;
					-ms-transition: font-size 0.3s ease, background-color 0.3s ease;
					transition: font-size 0.3s ease, background-color 0.3s ease;
					&:hover {
						font-size: 1.2em;
		  				color: @primary1;
		  				background: @tertiary1;
					}
				}
			  	&:last-child {
			  		border: none;
			  	}
			}
		}
		&.numbered-list {
			counter-reset: list-counter;
			list-style-type: none;
			margin-left: 0.5em;
			li {
				a, span {
					text-decoration: none;
					color: @text-color;
					display: inline-block;
					margin: 0;
					padding: 0.5em;
				}
				&:before {
					content: counter(list-counter, decimal);
					counter-increment: list-counter;
					color: @tertiary1;
					font-size: 1.1em;
					font-style: italic;
				}
				&:hover {
					a, span {
						color: darken(@text-color, 10%);
					}
					&:before {
						color: @primary1;
					}
				}
			}
		}
		&.checked-list {
			list-style-type: none;
			margin-left: 0.5em;
			li {
				font-size: 1.1em;
				color: lighten(@secondary1, 20%);
				font-weight: 300;
				margin: 0 0 @regular;
				display: block;
				margin-right: 1%;
				a, span {
					text-decoration: none;
					color: @text-color;
					display: inline-block;
					margin: 0;
				}
				&:before {
					display: block;
					content: '✓';
					width: 13px;
					height: 13px;
					float: left;
					margin-right: 10px;
					border: 1px solid @primary1;
					position: relative;
					font-size: 1.2em;
					line-height: 0.33em;
					top: 3px;
					color: transparent;
				}
				&:hover {
					a, span {
						color: darken(@text-color, 10%);
					}
					&:before {
						color: @secondary1;
					}
				}
			}
		}
	}
}
