/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Feb, 2014, 7:45:35 PM
    Author     : jarr-head
*/
.site-style-container {
	.row {
		&.center-container{
			max-width: 1170px;
			margin: @regular auto;
		}

		&.grey-background{
		    background: @tertiary1;
		}
		
		&.footer-container {
			background: @secondary1;
		}

		&.column-dividers {
			.column {
				border-right: 1px solid lighten(@secondary1, 20%);
				&:last-child {
					border-right: 0;
				} 
				@media (max-width: 969px) { 
					border-right: 0;
				}
			}
		}
	}
}