/**** Styles for Smart Tables ****/
.smart-table {
	.clearfix;
	text-align: center;
	.smart-title {
		font-size: 2em;
		margin: 0 auto 1em;
		font-weight: 300;
	}
	.smart-cell {
		padding: 0.5em 1em;
		margin-bottom: 0.5em;
		dt {
			font-size: 1.2em;
			color: @secondary1;
			margin: 0;
			font-weight: 700;
			text-transform: uppercase;
		}
		dd {
			font-size: 1em;
			color: @text-color;
			&.emphasis {
				font-size: 1.5em;
				font-weight: 500;
			}
		}
	}
	&.multi-column {
		text-align: left;
		.smart-title {
			margin: 0 0.5em 1em;
		}
		.smart-cell {
			width: 33%;
			min-width: 300px;
			display: inline-block;
			position: relative;
			vertical-align: top;
			dt {
				border-bottom: 1px dotted @text-color;
				margin: 0 0 0.5em;
				font-weight: 500;
			}
			.emphasis {
				position: absolute;
				right: 0.75em;
				top: 0.5em;
				font-size: 1.2em;
				font-weight: 700;
				color: @primary1;
			}
		}
		@media (max-width: 992px) { 
			.smart-cell {
				width: 49%;
			}
		}
		@media (max-width: 767px) { 
			.smart-cell {
				width: 100%;
			}
		}
	}
	&.testimonials {
		text-align: left;
		.smart-title {
			border-bottom: 1px solid @secondary1;
			margin-bottom: 0.5em;
			font-size: 1.2em;
			text-transform: uppercase;
		}
		.smart-cell {
			dt {
				text-transform: none;
				color: @primary1;
			}
			dd {
				font-style: italic;
				color: lighten(@text-color, 10%);
				&.emphasis {
					text-align: right;
					font-size: 0.88em;
					font-weight: 700;
					color: @secondary1;
					font-style: normal;
				}
			}
		}
		&.boxed {
			text-align: center;
			.smart-title {
				border-bottom: 0;
			}
			.smart-cell {
				border-bottom: 1px dotted @primary1;
				dd {
					&.emphasis {
						font-size: 0.8em;
						text-align: center;
						text-transform: uppercase;
						color: darken(@text-color, 10%);
					}
				}
			}
		}
	}
}