// Core variables and mixins
@import "variables.less";
@import "mixins.less";

// Font Files
@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon.eot");
	src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal; 
}

/****body styles****/
.site-style-container {
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;

	/*-- Site Builder Container --*/
	.site-header, .site-footer, .site-page {
		padding: 0 15px;
	}

	/****Selection Color****/
	::selection {
		background: @primary1; 
		color: #fff;
	}
	::-moz-selection {
		background: @primary1; 
		color: #fff;
	}

	/****Link Styles****/
	a {
		color: @primary1;
		text-decoration: none;
		&:hover, &:focus, &:active {
			color: lighten(@primary1, 10%);
			text-decoration: underline;
		}
	}

	p {
		font-size: 1em;
	}

	/****Heading Styles****/
	h1, h2, h3, h4, h5, h6{
		font-weight: 700;
		color: @primary1;
		&.sub-title {
			text-transform: uppercase;
			color: darken(@grey, 50%);
			font-weight: 300;
			margin: 0.5em 0;
		}
	}
}

// Base theme CSS
@import "row.less";
@import "menu.less";
@import "title.less";
@import "text.less";
@import "image-with-text.less";
@import "links-buttons.less";
@import "address.less";
@import "social.less";
@import "contact.less";
@import "room-elements.less";

//generic margins
@small: 0.5em;
@medium: 1em;
@large: 1.5em;

.top-margin-small{margin-top:@small;}
.left-margin-small{margin-left:@small;}
.right-margin-small{margin-right:@small;}
.bottom-margin-small{margin-bottom:@small;}

.top-margin-medium{margin-top:@medium;}
.left-margin-medium{margin-left:@medium;}
.right-margin-medium{margin-right:@medium;}
.bottom-margin-medium{margin-bottom:@medium;}

.top-margin-large{margin-top:@large;}
.left-margin-large{margin-left:@large;}
.right-margin-large{margin-right:@large;}
.bottom-margin-large{margin-bottom:@large;}