//
// Variables
// --------------------------------------------------


//== Colors
//
//## Colors for use across Sites.

@grey: #F2F2F2;
@dark-grey: #29333F;

@primary1: #FF7E00;
@secondary1: @dark-grey;
@tertiary1: @grey;