<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-xs-12">
        <h2 class="aj-imp-page-head">{{#polyglot}}My Site Profile{{/polyglot}}</h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <form class="form-horizontal clearfix" name="form-siteprofile" id="form-siteprofile">
            <div class="scroll-indicator-container scrollsection" id="general-settings" data-text="{{#polyglot}}General Settings{{/polyglot}}">
                <h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}General Settings{{/polyglot}}</h4>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">{{#polyglot}}Site Name{{/polyglot}}</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="input-group">
                            <input type="text" class="form-control" id="sitename" disabled="disabled" name="site_name" 
                            value="{{site_domain}}" >
                            <span class="input-group-addon">{{#polyglot}}impruw.com{{/polyglot}}</span>
                        </div>
                    </div>
                </div>
                <div class="form-group pic-upload">
                    <label for="inputFile3" class="col-sm-2 control-label">{{#polyglot}}Upload Your Logo{{/polyglot}}</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 100px;">
                              <img src ="{{logo_url}}" class="site_profile_images"/>
                          </div>
                          <div>
                            <span class="btn btn-default btn-file">
                                <!--<span class="fileinput-new">Select image</span> -->
                                <span class="fileinput-exists">{{#polyglot}}Change{{/polyglot}}</span>
                                <input type="file" >
                                <input type="text" name="logo_id" id="logo_id" value="{{logo_id}}">
                            </span>
                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">{{#polyglot}}Remove{{/polyglot}}</a>
                          </div>
                        </div>
                    </div>
                </div>
                
                <!--<div class="form-group pic-upload">
                    <label for="inputFile4" class="col-sm-2 control-label">Upload Fav Icon <small>of size 16x16 pixels</small></label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="fileinput fileinput-new" data-provides="fileinput">
                          <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 100px;"></div>
                          <div>
                            <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="inputFile4"></span>
                            <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">Remove</a>
                          </div>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="help-block">
                            Favicon stands for "Favorites Icon". It's the little icon beside your site's name in the favorites list, before the URL in the address bar and bookmarks folder and as a bookmarked website on the desktop in some operating systems.
                            <h6>Why should you use a favicon?</h6>
                            Most people have a very cluttered bookmarks / favorites list. Having yours stand out with a nice graphical reminder of your site beside it, is a good way to get their attention again.
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="scroll-indicator-container scrollsection" id="business-details" data-text="{{#polyglot}}Business Details{{/polyglot}}">
                <h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Business Details{{/polyglot}}<small>{{#polyglot}}Details for contactus{{/polyglot}}</small></h4>
                    
                <div class="form-group">
                    <label for="inputAddress1" class="col-sm-2 control-label">{{#polyglot}}Street{{/polyglot}}</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <input type="text" value="{{street}}" class="form-control" id="inputAddress1" placeholder="{{#polyglot}}21 Jump Street{{/polyglot}}" name="street">
                    </div>
                </div>
                
                <div class="form-group dual">
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="inputAddress2" class="col-sm-5 control-label">{{#polyglot}}Postal Code{{/polyglot}}</label>
                            <div class="col-sm-7 col-sm-offset-5">
                                <input type="text" class="form-control" name="postal_code" id="inputAddress2" data-mask="999-999" placeholder="{{#polyglot}}420-001{{/polyglot}}" value="{{postal_code}}">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-5">
                        <div class="form-group">
                            <label for="inputAddress3" class="col-sm-5 control-label">{{#polyglot}}City Town{{/polyglot}}</label>
                            <div class="col-sm-7 col-sm-offset-5">
                                <input type="text" class="form-control" id="inputAddress2" placeholder="{{#polyglot}}Gotham City{{/polyglot}}" name="city" value="{{city}}">
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="form-group">
                    <label for="inputAddress4" class="col-sm-2 control-label dd-label">{{#polyglot}}Country{{/polyglot}}</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <select name="country">
                            <option value="Norway">{{#polyglot}}Norway{{/polyglot}}</option>
                            <option value="Sweden">{{#polyglot}}Sweden{{/polyglot}}</option>
                            <option value="Denmark">{{#polyglot}}Denmark{{/polyglot}}</option>
                        </select>
                    </div>
                </div>
                
                
                <div class="form-group add-another">
                    <label for="inputEmail1" class="col-sm-2 control-label">{{#polyglot}}Email{{/polyglot}}</label>
                    <div class="col-sm-4 col-sm-offset-2">
                        <input type="email" class="form-control" id="inputEmail1" placeholder="{{#polyglot}}youremail@site.com{{/polyglot}}" name="other_emails[]" value="{{other_emails}}">
                        <!--<span class="help-block add-another-link"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span> Add Another</a></span>-->
                    </div>                              
                
                    <label for="inputPhone1" class="col-sm-2 control-label label-2">{{#polyglot}}Phone{{/polyglot}}</label>
                    <div class="col-sm-4 col-sm-offset-2">
                        <input type="text" class="form-control" id="inputEmail1" data-mask="99-999-999" placeholder="{{#polyglot}}99-888-777{{/polyglot}}" name="other_phone_no[]" value="{{other_phone_no}}">
                        <!--<span class="help-block add-another-link"><a href="#"><span class="glyphicon glyphicon-plus-sign"></span> Add Another</a></span>-->
                    </div>
                </div>

               <!-- <div class="form-group add-another">
    
                    <div class="col-sm-4 col-sm-offset-2">
                            <span class="div_email"><input type="email" class="form-control" name="email[]" placeholder="youremail@site.com" value="myemail@asd.com">  <span class="del_email" style="display:none;">Delete</span> </span>                       
                        <span class="help-block add-another-link"><a href="#" id="add_another_email"><span class="glyphicon glyphicon-plus-sign"></span> Add Another</a></span>
                    </div>                                

                    
                    <div class="col-sm-4 col-sm-offset-2">
                      
                        <span class="div_phone"><input type="text" class="form-control" name="phone[]" data-mask="99-999-999" placeholder="99-888-777" value="99999999999999"> <span class="del_phone" style="display: none">Delete</span> </span>                                                                   
                    
                        <span class="help-block add-another-link"><a href="#" id="add_another_phone"><span class="glyphicon glyphicon-plus-sign"></span> Add Another</a></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="help-block">
                            Email accounts and phone numbers are easy to setup and there is really no limit to how many you can have. Use this to better organize and manage your communication.
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="scroll-indicator-container scrollsection" id="social-settings" data-text="{{#polyglot}}Social Settings{{/polyglot}}">
                <h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Social Settings{{/polyglot}}<small>{{#polyglot}}Update social tags{{/polyglot}}</small></h4>
                <div class="form-group">
                    <label for="inputSocial1" class="col-sm-2 control-label">{{#polyglot}}Facebook{{/polyglot}}</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon">{{#polyglot}}Facebook url{{/polyglot}}</span>
                            <input type="text" class="form-control" id="inputSocial1" placeholder="{{#polyglot}}yourpageurl{{/polyglot}}" name="facebook" value="{{facebook}}">
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputSocial2" class="col-sm-2 control-label">{{#polyglot}}Twitter{{/polyglot}}</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="input-group">
                            <span class="input-group-addon">{{#polyglot}}Twitter url{{/polyglot}}</span>
                            <input type="text" class="form-control" id="inputSocial2" placeholder="{{#polyglot}}Twitter{{/polyglot}}" name="twitter" value ="{{twitter}}">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="help-block">
                            {{#polyglot}}Good social links{{/polyglot}}
                            <h6>{{#polyglot}}The future{{/polyglot}}</h6>
                            {{#polyglot}}social media marketing{{/polyglot}}
                            <br><br>
                            <h6>{{#polyglot}}search results{{/polyglot}}</h6>
                            {{#polyglot}}search engine{{/polyglot}}
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="scroll-indicator-container" id="scr4">
                <h4 class="aj-imp-sub-head scroll-ref">SEO <small>Make your website rank higher</small></h4>
                <div class="form-group">
                    <label for="inputSEO1" class="col-sm-2 control-label">Site Description</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <textarea class="form-control" rows="3" name="inputSEO1" placeholder="A brief description of your site for search engines."></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="help-block">
                            Keep site descriptions between 150 and 160 characters as search engines generally truncate snippets longer than 160 characters.
                            <h6>What is a site description?</h6>
                            The site description serves the function of advertising copy. It draws readers to a website from the search engines and thus, is an extremely important part of search marketing. Crafting a readable, compelling description using important keywords can improve the click-through rate for a given webpage. To maximize click-through rates on search engine result pages, it's important to note that Google and other search engines bold keywords in the description when they match search queries.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputSEO2" class="col-sm-2 control-label">Meta Keywords</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <textarea class="form-control" rows="3" name="inputSEO2" placeholder="Separate each keyword with a comma."></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="help-block">
                            A meta keywords tag is supposed to be a brief and concise list of the most important terms on your page.
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputSEO3" class="col-sm-2 control-label">Footer Code</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <textarea class="form-control" rows="3" name="inputSEO3" placeholder="ex. Google Analytics tracking code."></textarea>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="inputSEO4" class="col-sm-2 control-label">Header Code</label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <textarea class="form-control" rows="3" name="inputSEO4" placeholder="ex. Google Webmaster tools verification code."></textarea>
                    </div>
                </div>

                 <div class="form-group">
                    <div class="col-sm-10 col-sm-offset-2">
                        <div class="help-block">
                            <h6>Why is it important to gauge my website metrics?</h6>
                            Knowing precisely what your website visitors -- who are often current and potential customers -- like and dislike about your site can help you reach your overall business goals.
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <label for="checkbox2" class="checkbox checked">
                            <input type="checkbox" data-toggle="checkbox" checked="checked" id="checkbox2" value="">
                            Hide site from Search Engines
                        </label>
                        <div class="help-block">
                            If you choose this your website will no longer be available on the search results.
                        </div>
                    </div>
                </div>
            </div> 

            <div class="scroll-indicator-container" id="scr5">
                <h4 class="aj-imp-sub-head scroll-ref">Editors <small>Select people that are allowed to edit your website.</small></h4>
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Last Login</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody data-link="row" class="rowlink">
                        <tr>
                            <td>
                                <a href="#rowlinkModal" data-toggle="modal">admin@impruw.com</a>
                            </td>
                            <td>
                                Admin
                            </td>
                            <td>
                                23/11/2013 @ 13:09
                            </td>
                            <td class="rowlink-skip">
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#rowlinkModal" data-toggle="modal">user@impruw.com</a>
                            </td>
                            <td>
                                Author
                            </td>
                            <td>
                                23/11/2013 @ 13:09
                            </td>
                            <td class="rowlink-skip">
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="#rowlinkModal" data-toggle="modal">user@impruw.com</a>
                            </td>
                            <td>
                                Author
                            </td>
                            <td>
                                23/11/2013 @ 13:09
                            </td>
                            <td class="rowlink-skip">
                                <a href="#">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a href="#addeditorModal" data-toggle="modal" style="display: block; margin: 0 0 1em;"><span class="glyphicon glyphicon-plus-sign"></span> Add Editor</a>

                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="help-block">
                            <h5>Roles and their Capabilities</h5>
                            <h6>A user can have one of the below given roles.</h6>
                            <a href="http://codex.wordpress.org/Roles_and_Capabilities#Administrator" target="_blank">Administrator</a> – somebody who has access to all the administration features in the website.<br>
                            <a href="http://codex.wordpress.org/Roles_and_Capabilities#Editor" target="_blank">Editor</a> – somebody who can publish and manage posts including the posts of other users.<br>
                            <a href="http://codex.wordpress.org/Roles_and_Capabilities#Author" target="_blank">Author</a> – somebody who can publish and manage their own posts.
                        </div>
                    </div>
                </div>
            </div> -->


            <div class="aj-imp-long-form-actions" data-spy="affix">
                <div class="action">
                    <!--<div class="affix-show">You have unsaved changes!</div>-->
                    <button type="button" id="btn_savesitedetails"  name="btn_savesitedetails" class="btn btn-wide aj-imp-submit">{{#polyglot}}Save{{/polyglot}}</button>
                    <img src ='{{THEMEURL}}/images/loader.gif' width="38" height="30"  id="siteprofilesubmitm_loader" style="display:none"/>
                </div>
            </div>
            
        </form>
        
    </div>
</div>




