/*custom.css*/
.ui-sortable-placeholder {
    outline: 1px dashed #5E5555;
    visibility: visible!Important;
    border-radius: 4px;
    background: transparent!Important;
}

#aj-imp-builder-drag-drop > div.row{
	margin-bottom: 10px;
}

#controls-drag{
	z-index : 10000;
}

a{
    outline: none;
}

div.element-drop-loader{
    
    height      : 60px; 
    background  : url(../images/loader.gif) no-repeat center center #fff;
    position    : absolute;
    width: 100%;

}

div.element-drop-loader > p{
    text-align: center;
    padding-top: 50px;
}