<div class="aj-imp-dash-title col-xs-8">
    <h2 class="aj-imp-page-head">
        Additional Info <small>Lorem ipsum dolor sit amet, consectetur adipiscing</small>
    </h2>
</div>
<div class="form-group">
    <div class="col-sm-8">
        <h6 class="aj-imp-sub-head-thin">Check-in Time</h6>
    </div>
</div>
<div id="check-in-region"></div>
<div class="form-group">
    <div class="col-sm-8">
        <h6 class="aj-imp-sub-head-thin">Additional Policies</h6>
    </div>
</div>
<div id="policies-region"></div>
                         
                          