<header class="aj-imp-dash-header row">
	<div class="aj-imp-dash-title col-xs-12">
	    <h2 class="aj-imp-page-head">
            {{#polyglot}}Room Summary{{/polyglot}}
	    </h2>
	</div>
</header>
<div class="row">
    <div class="col-sm-12">
        <h6 class="aj-imp-sub-head-thin">{{#polyglot}}Add information here that will be common across all rooms {{/polyglot}}</h6>
        <div class="aj-imp-help-text">
            <span class="icon icon-info2"></span>
            <p>
                {{#polyglot}}The below given information will be displayed in the single room page on site builder using room summary element.{{/polyglot}}
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h6 class="aj-imp-sub-head">{{#polyglot}}CHECK-IN AND CHECK-OUT TIME{{/polyglot}}</h6>
    </div>
</div>
<div id="check-in-region"></div>
<div class="row">
    <div class="col-sm-12">
        <h6 class="aj-imp-sub-head">{{#polyglot}}Currency{{/polyglot}} <small>{{#polyglot}}The tariff you set for all rooms will use the currency selected here{{/polyglot}}</small></h6>
    </div>
</div>
<div id="currency-region"></div>
<div class="row">
    <div class="col-sm-12">
        <h6 class="aj-imp-sub-head">{{#polyglot}}Additional Policies{{/polyglot}}</h6>
    </div>
</div>
<div id="policies-region"></div>                        