.aj-imp-browser-preview

	// browser header
	.aj-imp-browser-header
		//row first
		.row
			.col-sm-2
				.aj-imp-browser-dots
					li.red: span &nbsp;
					li.yellow: span &nbsp;
					li.green: span &nbsp;
			.col-sm-4
				.aj-imp-browser-title How does your site look in a browser?
			.col-sm-6
				.aj-imp-page-publish
					.aj-imp-publish
						a.auto-save(href="#") Auto Save

		//second row
		.row.second
			.col-sm-6
				.aj-imp-browser-address-bar {{SITEURL}}

	// browser body
	#aj-imp-browser-body
		.site-style-container.aj-imp-builder-layout-mode#aj-imp-builder-drag-drop
			header#site-header-region.droppable-column
			div#site-page-content-region.droppable-column
			footer#site-footer-region.droppable-column

	//browser footer
	.aj-imp-browser-footer


