nav.aj-imp-builder-top-nav.row(role="navigation")
	.aj-imp-builder-back.col-sm-2
		p.navbar-text
			a(href="#") 
				span.glyphicon.glyphicon-arrow-left 
				|  Back to Dashboard

	.aj-imp-page-layout.col-sm-8.clearfix.navbar-text
		| Page: 
		select#aj-imp-page-sel(name="aj-imp-page-sel")
			option(value="") Choose 

	.aj-imp-builder-top-options.col-sm-1