@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);
/****Mixins****/
.clearfix {
  *zoom: 1;
}
.clearfix:after,
.clearfix:before {
  clear: both;
  content: "";
  display: table;
}
.t-a-r {
  text-align: right;
}
.t-a-l {
  text-align: left;
}
.t-a-c {
  text-align: center;
}
.f-r {
  float: right;
}
.f-l {
  float: left;
}
.backTrans {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.spinTrans {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
@font-face {
  font-family: 'icomoon';
  src: url("../resources/fonts/icomoon.eot");
  src: url("../resources/fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../resources/fonts/icomoon.woff") format("woff"), url("../resources/fonts/icomoon.ttf") format("truetype"), url("../resources/fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/****Google Fonts****/
/****body styles****/
.site-style-container {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  /*-- Site Builder Container --*/

  /****Selection Color****/

  /****Link Styles****/

  /****Heading Styles****/

}
.site-style-container ::selection {
  background: #07669e;
  color: #fff;
}
.site-style-container ::-moz-selection {
  background: #07669e;
  color: #fff;
}
.site-style-container a {
  color: #07669e;
  text-decoration: none;
}
.site-style-container a:hover,
.site-style-container a:focus,
.site-style-container a:active {
  color: #0986cf;
  text-decoration: underline;
}
.site-style-container p {
  font-size: 1em;
}
.site-style-container h1,
.site-style-container h2,
.site-style-container h3,
.site-style-container h4,
.site-style-container h5,
.site-style-container h6 {
  font-weight: 700;
  color: #07669e;
}
.site-style-container h1.sub-title,
.site-style-container h2.sub-title,
.site-style-container h3.sub-title,
.site-style-container h4.sub-title,
.site-style-container h5.sub-title,
.site-style-container h6.sub-title {
  text-transform: uppercase;
  color: #727272;
  font-weight: 300;
  margin: 0.5em 0;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Feb, 2014, 7:45:35 PM
    Author     : jarr-head
*/
.row.blue-strip-top {
  border-top: 5px solid #07669e;
  background: #f2f2f2;
  min-height: 100px;
}
.row.grey-background {
  background: #f2f2f2;
  min-height: 100px;
}
.row.center-container {
  max-width: 1170px;
  margin: 0.5em auto;
}
.row.white-shaded-background {
  padding: 1em 15px;
  background: #fff;
  box-shadow: 0 0 2px #d4d4d4;
}
.row.footer-container {
  background: #555555;
  min-height: 100px;
}
.row.column-dividers .column {
  border-right: 1px solid #888888;
}
.row.column-dividers .column:last-child {
  border-right: 0;
}
/****Top Slim-menu Styles****/
.nav.slimmenu {
  border: 1px solid #d9d9d9;
  border-bottom: 0;
  border-left: 0;
  padding: 0;
  margin: 0 auto 1em;
  border-bottom: 3px solid #07669e !important;
  background: #fff;
}
.nav.slimmenu > li {
  background: transparent !important;
  padding: 0.3em 0;
  border: 0;
  margin-right: -3px;
}
.nav.slimmenu > li a {
  font-size: 1em;
  font-weight: bold;
  color: #07669e;
  padding: 0.5em 44px 0.5em 1.5em;
  border-right: 1px solid #d9d9d9;
}
.nav.slimmenu > li a span {
  display: block;
  font-size: 0.75em;
  font-weight: normal;
  color: #888888;
}
.nav.slimmenu > li a:hover {
  background: transparent;
  color: #555555;
}
.nav.slimmenu > li a:hover span {
  color: #16a2f5;
}
.nav.slimmenu > li .sub-collapser {
  background: transparent;
  width: 40px;
}
.nav.slimmenu > li .sub-collapser > i {
  font-size: 0.6em;
  color: #bfbfbf;
}
.nav.slimmenu > li > ul.dropDrown {
  padding: 0;
  width: auto;
}
.nav.slimmenu > li > ul.dropDrown li {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
}
.nav.slimmenu > li > ul.dropDrown li a {
  border: 0;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em 1.5em;
  color: #555555;
}
.nav.slimmenu > li > ul.dropDrown li a:hover {
  background: #d9d9d9;
  color: #07669e;
}
.nav.slimmenu > li.active {
  background: #07669e;
}
.nav.slimmenu > li.active a {
  color: #f2fafe;
  border-color: #07669e;
}
.nav.slimmenu > li.active a span {
  color: #a9ddfb;
}
.nav.slimmenu > li:last-child a {
  border-right: 0;
}
.nav .menu-collapser {
  background: #fff;
  color: #07669e;
  font-weight: 700;
  text-shadow: none;
}
.nav .menu-collapser .collapse-button {
  background: #07669e;
  border-radius: 3px;
}
.nav.footer-menu {
  padding: 0;
}
.nav.footer-menu li {
  position: relative;
  margin: 0 0 0.2em;
}
.nav.footer-menu li a {
  color: #fff;
  font-weight: 100;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.33em;
}
.nav.footer-menu li a:hover {
  text-decoration: none;
  background: transparent;
}
.nav.footer-menu li:before {
  content: '›';
  display: inline-block;
  color: #fff;
  font-size: 1.3em;
  margin-right: 5px;
}
.nav.footer-menu li:hover {
  left: 0.25em;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.nav.footer-menu-2 {
  padding: 0;
}
.nav.footer-menu-2 li {
  border-bottom: 1px dotted #fff;
  *zoom: 1;
}
.nav.footer-menu-2 li:after,
.nav.footer-menu-2 li:before {
  clear: both;
  content: "";
  display: table;
}
.nav.footer-menu-2 li a {
  display: block;
  color: #fff;
  text-transform: uppercase;
  padding: 0 0 0.5em;
}
.nav.footer-menu-2 li a:hover {
  text-decoration: none;
  background: transparent;
}
.nav.footer-menu-2 li:after {
  content: '›';
  display: block;
  float: right;
  color: #fff;
  font-size: 1.3em;
  line-height: 0.25em;
  margin-left: 5px;
  width: 14px;
  height: 14px;
  padding: 3px 0 0 2px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20px;
  text-align: center;
  font-weight: 100;
  position: relative;
  top: -22px;
}
.nav.footer-menu-2 li:hover {
  border-bottom-style: solid;
}
/**** Title Styles****/
.title.page-title {
  color: #555555;
  font-style: italic;
  font-weight: 700;
  font-size: 4em;
}
.title.title-super-text {
  font-size: 1.5em;
}
.title.footer-title {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 400;
}
.title.footer-sub-title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.4em;
}
.title.small-title {
  font-size: 1.2em;
  font-weight: 300;
}
.title.grey-title-text {
  color: #555555;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 400;
}
.title.emphasis-text {
  color: #555555;
  font-weight: 300;
  display: inline-block;
  font-size: 1.5em;
  border-bottom: 1px solid #07669e;
}
.title.inner-title {
  color: #555555;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: none;
  font-style: italic;
}
.title.thumb-title {
  text-transform: uppercase;
  color: #bfbfbf;
  font-size: 0.8em;
  font-weight: 300;
  border-bottom: 1px solid #bfbfbf;
}
.title.thumb-main-title {
  color: #555555;
  font-weight: 400;
  font-size: 1.6em;
}
.text {
  color: #989898;
}
/****Image With Text Styles****/
.image {
  padding: 0.5em 0;
}
.image .info {
  color: #555555;
  font-size: 1em;
}
.image.style-two {
  color: #d9d9d9;
  font-size: 1em;
  font-weight: 300;
}
.image.style-two p {
  font-size: inherit;
}
/****Link Element Styles****/
.link {
  display: inline-block;
  margin: 0 0.5em 0.5em 0;
}
.link.button a {
  background: #fff;
  color: #07669e;
  display: inline-block;
  padding: 0.3em 0.5em 0.2em;
  margin: 1em 0;
  font-size: 1.2em;
  font-weight: 400;
}
.link.button a:hover {
  text-decoration: none;
  background: #07669e;
  color: #fff;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/****Address Element Styles****/
.address {
  padding: 0.5em 0;
}
.address .info {
  color: #555555;
  font-size: 1em;
}
.address.small-address .info {
  color: #555555;
  font-size: 1em;
  font-weight: 200;
  margin-bottom: 10px;
  padding-left: 5px;
}
/****Social Element Styles****/
.icon-dribbble:before,
.icon-twitter:before,
.icon-facebook:before,
.icon-pinterest:before,
.icon-flickr:before,
.icon-google-plus:before,
.icon-tumblr:before,
.icon-youtube:before,
.icon-dribbble:after,
.icon-twitter:after,
.icon-facebook:after,
.icon-pinterest:after,
.icon-flickr:after,
.icon-google-plus:after,
.icon-tumblr:after,
.icon-youtube:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-twitter:before,
.icon-twitter:after {
  content: "\e602";
}
.icon-facebook:before,
.icon-facebook:after {
  content: "\e600";
}
.icon-pinterest:before,
.icon-pinterest:after {
  content: "\e603";
}
.icon-flickr:before,
.icon-flickr:after {
  content: "\e607";
}
.icon-google-plus:before,
.icon-google-plus:after {
  content: "\e601";
}
.icon-youtube:before,
.icon-youtube:after {
  content: "\e606";
}
.social {
  text-align: right;
  padding-left: 0;
}
.social li {
  font-size: 1.2em;
  display: inline-block;
  width: 40px;
  height: 40px;
  overflow: hidden;
  line-height: 40px;
  background: #07669e;
  border-radius: 100%;
  margin: 0 .3em .3em .3em;
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
  text-align: center;
}
.social li a {
  display: block;
  width: 100%;
  height: 200%;
  position: relative;
  top: 0;
  color: #fff !important;
  -webkit-transition: top 0.7s;
  -moz-transition: top 0.7s;
  -o-transition: top 0.7s;
  transition: top 0.7s;
}
.social li a .name {
  display: none;
}
.social li a:after {
  text-align: center;
  position: absolute;
  width: inherit;
  height: 50%;
  left: 0;
  bottom: 0;
  line-height: 60px;
  color: #555555;
}
.social li a:hover {
  text-decoration: none !important;
}
.social li:hover {
  background: #f2f2f2;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.3);
}
.social li:hover a {
  top: -50px;
}
@media (max-width: 767px) {
  .social {
    text-align: center;
  }
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 Mar, 2014, 16:08:41 PM
    Author     : jarr-head
*/
.contactform label {
  display: none;
}
.contactform .flat {
  border-radius: 0;
  margin-bottom: 0.8em;
}
.contactform select {
  color: #B2BCC5;
}
.contactform select:focus {
  color: #34495E;
}
.contactform .btn {
  border-radius: 0;
  margin-top: 0.3em;
}
.contactform .btn:hover {
  background: #07669e;
}
/* 
    Created on : 10 March, 2014, 1:25:41 PM
    Author     : jarr-head
*/
/****Room Tariff Styles****/
.room-tariff-container {
  background: #fff;
  box-shadow: 1px 1px 2px 0 #bbbbbb;
  padding: 0.5em;
}
.room-tariff-container .room-tariff-title h4 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.room-tariff-container .room-tariff-title h5 {
  font-size: 1em;
  font-weight: 400;
}
.room-tariff-container .room-tariff-grid .tariff .date-range {
  color: #888888;
  text-align: right;
  font-weight: 300;
  width: 5%;
  float: left;
}
.room-tariff-container .room-tariff-grid .tariff .date-range .date {
  display: block;
}
.room-tariff-container .room-tariff-grid .tariff .date-range .from,
.room-tariff-container .room-tariff-grid .tariff .date-range .to {
  margin: 0.2em 0 0.4em;
}
.room-tariff-container .room-tariff-grid .tariff .packages {
  width: 95%;
  float: left;
}
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks {
  margin: 0 0 1em;
}
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block {
  background: #d9d9d9;
  border-left: 5px solid #bfbfbf;
  padding: 0.5em;
}
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block h6 {
  margin: 0 0 0.5em;
  font-weight: 400;
  font-size: 1.2em;
}
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block .weekday,
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block .weekend {
  width: 49%;
  min-width: 80px;
  margin-right: 1%;
  float: left;
  text-transform: uppercase;
  color: #888888;
  font-weight: 300;
}
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block .weekday .price,
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block .weekend .price {
  font-weight: 700;
  font-size: 1.4em;
  display: block;
}
.room-tariff-container .room-tariff-grid .tariff .packages .package-blocks .block:hover {
  border-color: #07669e;
}
@media (max-width: 767px) {
  .room-tariff-container .room-tariff-grid .tariff .date-range,
  .room-tariff-container .room-tariff-grid .tariff .packages {
    float: none;
    width: 100%;
  }
  .room-tariff-container .room-tariff-grid .tariff .date-range {
    text-align: left;
  }
  .room-tariff-container .room-tariff-grid .tariff .date-range .from,
  .room-tariff-container .room-tariff-grid .tariff .date-range .to,
  .room-tariff-container .room-tariff-grid .tariff .date-range .date {
    display: inline-block;
  }
  .room-tariff-container .room-tariff-grid .tariff .package-blocks {
    border-left: 2px solid #d9d9d9;
  }
  .room-tariff-container .room-tariff-grid .tariff .package-blocks .block {
    margin: 0.25em 0;
  }
}
/****Room Facilities Styles****/
.room-facilities-container {
  background: #fff;
  box-shadow: 1px 1px 2px 0 #bbbbbb;
  padding: 0.5em;
}
.room-facilities-container .room-facilities-title h5 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.room-facilities-container .room-facilities-title h4 {
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
}
.room-facilities-container .facilities {
  margin: 1em 0 0.5em;
  padding: 0;
  list-style: none;
}
.room-facilities-container .facilities li {
  font-size: 1.1em;
  color: #888888;
  font-weight: 300;
  margin: 0 0 0.5em;
  display: block;
  width: 30%;
  float: left;
  margin-right: 1%;
  min-width: 300px;
}
.room-facilities-container .facilities li:before {
  display: block;
  content: '✓';
  width: 13px;
  height: 13px;
  float: left;
  margin-right: 10px;
  border: 1px solid #888888;
  position: relative;
  font-size: 1.2em;
  line-height: 0.33em;
  top: 3px;
  color: #07669e;
}
.room-facilities-container .facilities li:hover:before {
  color: #555555;
}
/****Room Summary Styles****/
.room-summary-container .room-summary-title h4 {
  font-size: 1.5em;
  font-weight: 300;
}
.room-summary-container .room-summary {
  background: #fff;
  box-shadow: 1px 1px 2px 0 #bbbbbb;
  padding: 1em 0.5em 0.5em;
}
.room-summary-container .room-summary .room-summary-item {
  display: inline-block;
  border-bottom: 1px solid #bbbbbb;
  margin: 0 1em 1em 0;
}
.room-summary-container .room-summary .room-summary-item span {
  display: inline-block;
  font-size: 1.1em;
}
.room-summary-container .room-summary .room-summary-item span.key {
  min-width: 100px;
  color: #888888;
}
.room-summary-container .room-summary .room-summary-item span.value {
  color: #555555;
  font-weight: 700;
}
.room-summary-container .room-summary .room-summary-item:hover {
  border-color: #07669e;
}
.room-summary-container .room-summary .room-summary-desc {
  color: #888888;
  margin: 1em 0 0;
}
.room-summary-container .room-summary .room-summary-desc .btn-book {
  display: block;
  margin: 0.5em 0;
  background: #07669e;
}
.room-summary-container .room-summary .room-summary-desc .btn-book:hover {
  background: #0986cf;
}
.top-margin-small {
  margin-top: 0.5em;
}
.left-margin-small {
  margin-left: 0.5em;
}
.right-margin-small {
  margin-right: 0.5em;
}
.bottom-margin-small {
  margin-bottom: 0.5em;
}
.top-margin-medium {
  margin-top: 1em;
}
.left-margin-medium {
  margin-left: 1em;
}
.right-margin-medium {
  margin-right: 1em;
}
.bottom-margin-medium {
  margin-bottom: 1em;
}
.top-margin-large {
  margin-top: 1.5em;
}
.left-margin-large {
  margin-left: 1.5em;
}
.right-margin-large {
  margin-right: 1.5em;
}
.bottom-margin-large {
  margin-bottom: 1.5em;
}
