<div class="aj-imp-browser-preview">
  <!-- browser header-->
  <div class="aj-imp-browser-header">
    <!--row first-->
    <div class="row">
      <div class="col-sm-2">
        <div class="aj-imp-browser-dots">
          <li class="red"><span>&nbsp;</span></li>
          <li class="yellow"><span>&nbsp;</span></li>
          <li class="green"><span>&nbsp;</span></li>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="aj-imp-browser-title">How does your site look in a browser?</div>
      </div>
      <div class="col-sm-2">
        <div class="aj-imp-page-publish">
          <div class="aj-imp-publish">
            <div id="aj-imp-preview-sel" class="dropdown"> 
              <a data-toggle="dropdown" href="#">Preview <span class="caret"></span></a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  <div class="aj-imp-preview-box">
                    <h6>Choose Device</h6>
                    <ul class="clearfix">
                      <li><a href="#"
                             class="selected preview-current-page"
                             target="_BLANK"><span class="bicon icon-uniF121"></span></a></li>
                      <li><a href="#"><span class="bicon icon-uniF120"></span></a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--second row-->
    <div class="row second">
      <div class="col-sm-7">
        <div class="aj-imp-browser-address-bar clearfix">
          <b>Page Name: </b>
          <input type="text" value="{{SITEURL}}" class="page-slug-edit">
          
          <select id="builder-page-sel" name="builder-page-sel">
            {{#pages}}
            <option value="{{ID}}">{{post_title}}</option>
            {{/pages}}
          </select>

        </div>
      </div>
      <div class="col-sm-1">
        <a href="#" class="btn btn-xs add-new-page"><span class="glyphicon glyphicon-plus-sign"></span> Add Page</a>
      </div>
      <div class="col-sm-2 clearfix">

        <div class="aj-imp-revisions pull-right">
          <div id="aj-imp-revision-sel" class="dropdown"> 
            <a data-toggle="dropdown" href="#" class="rev-toggle">Revisions <span class="caret"></span></a>
            
          </div>
        </div>

      </div>
      <div class="aj-imp-save-action col-sm-2">
        <a href="#" class="publish-page btn btn-primary btn-sm btn-embossed"><span class="glyphicon glyphicon-floppy-disk"></span> Publish </a>
      </div>
    </div>
  </div>
  <!-- browser body-->
  <div id="aj-imp-browser-body">
    <div id="aj-imp-builder-drag-drop" class="site-style-container aj-imp-builder-layout-mode"></div>
  </div>
  <!--browser footer-->
  <div class="aj-imp-browser-footer"></div>
</div>