<div ><a href="{{DASHBOARDURL}}"><span class="bicon icon-uniF151"></span>&nbsp;{{#polyglot}}Back to Dashboard{{/polyglot}}</a></div>
<div class="aj-imp-browser-preview">
    <!-- browser header-->
    <div class="aj-imp-browser-header">
        <div class="lock-message hidden">
            <span class="bicon icon-uniF180"></span>
            <div class="message-span">{{#polyglot}}Editing has been locked for this page.{{/polyglot}}</div>
            <button id="take-over-button" class="btn btn-xs aj-imp-orange-btn">{{#polyglot}}Take Over{{/polyglot}}</button>
            <span class="option-or">{{#polyglot}}Or Edit Another Page:{{/polyglot}}</span>
            <select id="builder-page-sel-lock" name="builder-page-sel">
                {{#pages}}
                <option data-slug="{{post_name}}" value="{{ID}}" data-originalid="{{original_id}}">{{post_title}}</option>
                {{/pages}}
            </select>
        </div>
        <!--row first-->
        <div class="row">
            <div class="col-sm-2">
                <div class="aj-imp-browser-dots">
                    <li class="red"><span>&nbsp;</span></li>
                    <li class="yellow"><span>&nbsp;</span></li>
                    <li class="green"><span>&nbsp;</span></li>
                </div>
            </div>
            <div class="col-sm-7">
                <div class="aj-imp-browser-title">
                    <label class="page-name-label">
                        {{#polyglot}}Current Page: {{/polyglot}}
                    </label>
                    <div class="page-sel-del">
                        <select id="builder-page-sel" name="builder-page-sel">
                            {{#pages}}
                            <option data-slug="{{post_name}}" value="{{ID}}" data-originalid="{{original_id}}">{{post_title}}</option>
                            {{/pages}}
                        </select>
                    </div>
                    <a href="#" class="add-new-page">
                        <span class="glyphicon glyphicon-plus-sign"></span>
                        {{#polyglot}}Add Page{{/polyglot}}
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="pages-help">
                    <span class="glyphicon glyphicon-hand-left"></span> {{#polyglot}}You can add, remove and edit the pages on your site from here.{{/polyglot}}
                </div>
            </div>
        </div>
        <!--second row-->
        <div class="row second">
            <div class="col-sm-9">
                <!-- Change page name section -->
                <div class="page-name">
                    <div class="page-name-content">
                        <b>{{#polyglot}}Page Title{{/polyglot}}: </b>
                        <input type="text" name="page_name" id="page_name" class="page-name-input">
                        <button type="button" class="btn-update-pg-name">{{#polyglot}}Update{{/polyglot}}</button>
                    </div>
                </div>
                <div class="aj-imp-browser-address-bar clearfix">
                    <b>{{#polyglot}}Page URL{{/polyglot}}: </b>
                    <input type="text" value="{{SITEURL}}" class="page-slug-edit">
                </div>
            </div>
            <div class="aj-imp-save-action col-sm-3">
                <div class="aj-imp-page-publish">
                    <div id="aj-imp-preview-sel" class="dropdown">
                        <a data-toggle="dropdown" href="#">{{#polyglot}}Preview{{/polyglot}} <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation">
                                <div class="aj-imp-preview-box">
                                    <h6>{{#polyglot}}Choose Device{{/polyglot}}</h6>
                                    <ul class="clearfix">
                                        <li><a href="#"
                                               class="selected preview-current-page"
                                               target="_newtab"><span class="bicon icon-uniF121"></span></a></li>
                                        <li><a href="#"><span class="bicon icon-uniF120"></span></a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="aj-imp-publish">
                        <a href="#" class="publish-page btn btn-primary btn-sm btn-embossed"><span
                        class="glyphicon glyphicon-floppy-disk"></span> {{#polyglot}}Publish{{/polyglot}} </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- browser body-->
    <div id="aj-imp-browser-body">
        <!-- TODO: remove inline style-->
        <div id="aj-imp-builder-drag-drop" style="min-height:800px" class="site-style-container aj-imp-builder-layout-mode"></div>
    </div>
    <!--browser footer-->
    <div class="aj-imp-browser-footer"></div>
</div>