<div class="form-group legend-group">

	<div class="col-sm-12">
		<div class="form-group">
			<div class="col-sm-12">
			<h6 class="aj-imp-widget-title">{{#polyglot}}Translation{{/polyglot}} (<small>{{defaultLanguage}}</small>)</h6>
			</div>
		</div>
	</div>
</div>

<div class="form-group legend-group">


	<div class="col-sm-12">
		<div class="form-group">
			<div class="col-sm-12">
				<input type="text" {{#isTranslated}}placeholder="{{#polyglot}}Add Translation{{/polyglot}}"{{/isTranslated}} id="" class="form-control" value ="{{translatedRoomTitle}}">
			</div>
		</div>
	</div>
</div>

<div class="form-group legend-group">


	<div class="col-sm-12">
		<div class="form-group">
			<div class="col-sm-12">
				<textarea type="text" {{#isTranslated}}placeholder="{{#polyglot}}Add Translation{{/polyglot}}"{{/isTranslated}} id="" class="form-control">
					{{translatedRoomDesc}}
				</textarea>
			</div>
		</div>
	</div>
</div>