ul.nav.nav-tabs
	li.active: a(href="#upload-region" data-toggle="tab") Upload
	li: a(href="#all-media-region" data-toggle="tab") All media
	li: a(href="#gallery-region" data-toggle="tab") Gallery
.tab-content
	.tab-pane.active#upload-region
	.tab-pane#all-media-region
	.tab-pane#gallery-region