<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Payment Page{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">
            <div class="aj-imp-dash-widget">

                <div class="aj-imp-widget-container panel panel-default">
                    <div class="panel-body">
                        <div class="aj-imp-widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="payment-page">

                                    <!-- <h6 class="aj-imp-sub-head">{{#polyglot}}Payment Page{{/polyglot}}</h6> -->

                                    <div id="active-sub-region">
                                        <!--ACTIVE PLAN REGION begins-->
                                        <!-- <div class="aj-imp-widget-head row">
                                            <div class="col-sm-6 left">
                                                <h6 class="aj-imp-sub-head">
                                                    <small>{{#polyglot}}Active Plan:{{/polyglot}}</small>
                                                    {{plan_name}}
                                                </h6>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <h6 class="aj-imp-sub-head">
                                                    <small>{{#polyglot}}Active Since:{{/polyglot}}</small>
                                                    {{start_date}}
                                                </h6>
                                            </div>
                                        </div> -->
                                        <!--ACTIVE PLAN REGION ends-->

                                    </div>

                                    <div class="row" id="payment-page-region">


                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>