<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Payment Page{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">
            <div class="aj-imp-dash-widget">

                <div class="aj-imp-widget-container panel panel-default">
                    <div class="panel-body">
                        <div class="aj-imp-widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="payment-page">

                                    <h6 class="aj-imp-sub-head">{{#polyglot}}Payment Page{{/polyglot}}</h6>

                                    <div id="active-sub-region">
                                        <!--ACTIVE PLAN REGION begins-->
                                       <!--  <div class="aj-imp-widget-head row">
                                            <div class="col-sm-6 left">
                                                <h6 class="aj-imp-sub-head">
                                                    <small>{{#polyglot}}Active Plan:{{/polyglot}}</small>
                                                    {{plan_name}}
                                                </h6>
                                            </div>
                                            <div class="col-sm-6 right">
                                                <h6 class="aj-imp-sub-head">
                                                    <small>{{#polyglot}}Active Since:{{/polyglot}}</small>
                                                    {{start_date}}
                                                </h6>
                                            </div>
                                        </div> -->
                                        <!--ACTIVE PLAN REGION ends-->

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div id="payment-region">
                                            <!--PAYMENT REGION begins-->
                                            <!--PAYMENT REGION ends-->
                                        </div>
                                    </div>
                                    <div class="col-sm-4 price-plans chosen-plan">
                                        <div id="selected-plan">
                                            <!--CHANGE OF PLAN NOTE begins-->
                                            <!-- <div class="alert text-center">
                                                <p>{{#polyglot}}Any Change of Plans in the middle of a cycle will be applicable from the start of the new cycle.{{/polyglot}}</p>
                                            </div> -->
                                            <!--CHANGE OF PLAN NOTE ends-->

                                            <!--SELECTED PLAN VIEW begins-->
                                            <div class="panel panel-default text-center active">
                                                <div class="panel-heading">
                                                    <h3>Summary</h3>
                                                </div>
                                                <div class="panel-body">
                                                    <h5 class="panel-title">Current Plan</h5>
                                                </div>
                                                <ul class="list-group">
                                                    <li class="list-group-item">Name: Essential</li>
                                                    <li class="list-group-item">Amount: £ 9.99</li>
                                                    <li class="list-group-item">Current billing cycle: From: DEC 14, 2014 - JAN 13, 2015</li>
                                                    <li class="list-group-item">Next billing date: JAN 14, 2015</li>
                                                </ul>
                                                <div class="panel-body">
                                                    <h5 class="panel-title">Chosen Plan</h5>
                                                </div>
                                                <ul class="list-group">
                                                    <li class="list-group-item">Name: Premium</li>
                                                    <li class="list-group-item">Plan Amount: £ 19.99</li>
                                                    <li class="list-group-item">Current Balance: £ 9</li>
                                                    <li class="list-group-item">You Pay: £ 10.99</li>
                                                    <!-- <li class="list-group-item"><span class="ribbon">
                                                    <a href="javascript:void(0)" class="btn btn-block activate-link free-plan-link">{{#polyglot}}Pay now{{/polyglot}}</a></span></li> -->
                                                </ul>

                                            </div>
                                            <!--SELECTED PLAN VIEW ends-->
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>