.lang-sel {
  text-align: right;
  margin: 0.2em 0;
}
.lang-sel.align-left {
  text-align: left;
}
.lang-sel.align-right {
  text-align: right;
}
.lang-sel.align-center {
  text-align: center;
}
@media (max-width: 767px) {
  .lang-sel {
    text-align: center;
  }
}
.lang-sel > div {
  text-align: left;
}
.lang-sel > div ul,
.lang-sel > div li {
  min-width: 170px;
}
.lang-sel > div ul ul,
.lang-sel > div li ul {
  z-index: 1;
}
.lang-sel > div ul a.lang_sel_sel,
.lang-sel > div li a.lang_sel_sel {
  border: 0;
}
.lang-sel > div .iclflag {
  top: -1px !important;
}
