
<form>
  <div class="row">
    <div class="col-md-6">
      <label>First Name</label>
      <input type="text" placeholder="Your First Name" required class="form-control flat"/>
      <label>Last Name</label>
      <input type="text" placeholder="Your Last Name" class="form-control flat"/>
      <label>Email Address</label>
      <input type="email" placeholder="Your Email Address" required class="email form-control flat"/>
      <label>Subject</label>
      <select id="subject" name="c-subject" placeholder="Choose One:" class="form-control flat">
        <option value="" selected="">Select subject:</option>
        <option value="service">General Customer Service</option>
        <option value="suggestions">Suggestions</option>
        <option value="product">Product Support</option>
      </select>
    </div>
    <div class="col-md-6">
      <label>Message</label>
      <textarea id="message" rows="5" name="message" placeholder="Your Message" required class="form-control flat"></textarea>
      <button type="button" id="contact-form-save" class="btn btn-default">Send Message</button>
    </div>
  </div>
</form>