
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">
            <!-- <h6 class="aj-imp-sub-head">{{#polyglot}}Pricing Plans{{/polyglot}}</h6>
            <hr> -->
            <div class="row price-plans">
<!--                 <div class="col-md-3">
                    <div class="panel panel-default text-center" id="free-plan">
                        <div class="panel-heading">
                            <h3>{{#polyglot}}Free{{/polyglot}}</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">{{currency}} 0</h3>
                            <span></span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">{{#polyglot}}Assisted Set-Up{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Unlimited Pages{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Easy to use Content Management System (CMS){{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Mobile and Tablet Ready Site{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Facebook/Twitter Widgets{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Search Engine Optimisation (SEO){{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Online Support{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Continuous Development{{/polyglot}}</li>
                            <li class="list-group-item">&nbsp;</li>
                            <li class="list-group-item">&nbsp;</li>
                            <li class="list-group-item">&nbsp;</li>
                            <li class="list-group-item"><span class="ribbon">
                        <a href="javascript:void(0)" class="btn btn-block activate-link free-plan-link">{{#polyglot}}Choose Plan{{/polyglot}}</a></span></li>
                        </ul>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>
<img src="{{THEMEURL}}/images/loader.gif" width="38" height="30"
     id="change_plan_loader" style="display:none ">
<div id="change_plan_status"></div>