<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-xs-12">
        <h2 class="aj-imp-page-head">{{#polyglot}}SEO{{/polyglot}} <small></small></h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
    	<h3 class="aj-imp-sub-head-thin"><small>{{#polyglot}}Promote your business in order to increase the number of visitors the site receives from search engines like Google and Yahoo.{{/polyglot}}</small></h3>
    	<div id="js-seo-language-selection">

		</div>

        <form class="form-horizontal clearfix" name="form-seo" id="form-seo">
        	<div class="aj-imp-dash-widget">
        		<div id="js-seo-page-nav">

        		</div>
 <!--        		<ul class="nav nav-pills">
					<li class="active"><a href="#site" data-toggle="tab">{{#polyglot}}Site{{/polyglot}}</a></li>
					<li><a href="#home" data-toggle="tab">{{#polyglot}}Home{{/polyglot}}</a></li>
					<li><a href="#about-us" data-toggle="tab">{{#polyglot}}About Us{{/polyglot}}</a></li>
					<li id="room-btn"><a href="#rooms" data-toggle="tab">{{#polyglot}}Rooms{{/polyglot}}</a></li>
					<li><a href="#contact-us" data-toggle="tab">{{#polyglot}}Contact Us{{/polyglot}}</a></li>
				</ul> -->
	        	<div class="aj-imp-widget-container panel panel-default">
					<div class="panel-body">
						<div class="aj-imp-widget-content">
							<div id="js-seo-page-tabs">

							</div>
<!-- 							<div class="tab-content">
								<div id="site" class="tab-pane active">
								    <div class="form-group">
										<label for="" class="col-sm-2 control-label">{{#polyglot}}SEO Title{{/polyglot}}</label>
										<div class="col-sm-10 col-sm-offset-2">
											<input class="form-control" id="" name="" placeholder="{{#polyglot}}Title display in search engines is limited to 70 chars{{/polyglot}}" required="" type="text">
											<div class="p-messages"></div>
										</div>
								    </div>
								    <div class="form-group">
										<div class="col-sm-10 col-sm-offset-2">
											<div class="help-block">
												{{#polyglot}}The title element of a web page is meant to be an accurate and concise description of a page's content. Google typically displays the first 50-60 characters of a title tag, or as many characters as will fit into a 512-pixel display. If you keep your titles under 55 characters, you can expect at least 95% of your titles to display properly.{{/polyglot}}
											</div>
										</div>
								    </div>

								    <div class="form-group">
										<label for="" class="col-sm-2 control-label">{{#polyglot}}Meta Description{{/polyglot}}</label>
										<div class="col-sm-10 col-sm-offset-2">
											<textarea class="form-control" id="" name="" placeholder="{{#polyglot}}The meta description will be limited to 156 chars{{/polyglot}}" required="" type="text"></textarea>
											<div class="p-messages"></div>
										</div>
								    </div>
								    <div class="form-group">
										<div class="col-sm-10 col-sm-offset-2">
											<div class="help-block">
												{{#polyglot}}The meta description tag serves the function of advertising copy. It draws readers to a website from the search engine results page and thus, is an extremely important part of search marketing. Crafting a readable, compelling description using important keywords can improve the click-through rate for a given webpage. To maximize click-through rates on search engine result pages, it's important to note that Google and other search engines bold keywords in the description when they match search queries.{{/polyglot}}
											</div>
										</div>
								    </div>

								    <div class="form-group">
										<label for="" class="col-sm-2 control-label">{{#polyglot}}Meta Keywords{{/polyglot}}</label>
										<div class="col-sm-10 col-sm-offset-2">
											<input class="form-control" id="" name="" placeholder="{{#polyglot}}Your keywords separated by a comma{{/polyglot}}" required="" type="text">
											<div class="p-messages"></div>
										</div>
								    </div>

								    <div class="form-group">
										<div class="col-sm-10 col-sm-offset-2">
											<button class="btn btn-sm btn-wide aj-imp-orange-btn">{{#polyglot}}Save{{/polyglot}}</button>
										</div>
								    </div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>

			<!-- <h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Webmaster Tools{{/polyglot}} <small>{{#polyglot}}You can use the fields below to verify with the Google or Bing webmaster tools, if your site is already verified, you can just forget about these.{{/polyglot}}</small></h4>
			<div class="form-group add-another">
                <label class="col-sm-2 control-label" for="">{{#polyglot}}Google Webmaster Tools{{/polyglot}}</label>
                <div class="col-sm-4 col-sm-offset-2">
                    <input type="text" value="" placeholder="" id="" name="" class="form-control">
                </div>

                
                <label class="col-sm-2 control-label label-2" for="">{{#polyglot}}Bing Webmaster Tools{{/polyglot}}</label>
                <div class="col-sm-4 col-sm-offset-2">
                    <input type="text" value="" name="" placeholder="" id="" class="form-control">
                </div>
		    </div>

		    <h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}XML Sitemap{{/polyglot}}</h4>
		    <div class="form-group">
				<div class="col-sm-12">
					<label class="checkbox">
						<input type="checkbox">
						{{#polyglot}}Enable XML{{/polyglot}}
					</label>
				</div>
		    </div>

		    <div class="form-group">
				<div class="col-sm-12">
					<button class="btn btn-wide aj-imp-orange-btn">{{#polyglot}}Save{{/polyglot}}</button>
				</div>
		    </div> -->
        </form>
    </div>
</div>