<div class="form-group legend-group">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-sm-3 control-label" for=""></label>
            <div class="col-sm-9 col-sm-offset-3">
                <h6 class="aj-imp-widget-title">{{#polyglot}}Original Text{{/polyglot}} (<small>{{defaultLanguage}}</small>)</h6>
            </div>
        </div>
    </div>
</div>

<div class="form-group legend-group">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{#polyglot}}Page Name{{/polyglot}}</label>
            <div class="col-sm-9 col-sm-offset-3">
                <p class="original">
                    {{pageTitle}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class ="form-group legend-group">
    <div class="col-sm-12">
        <div class="form-group">
            <label class="col-sm-3 control-label" for="">{{#polyglot}}Page Description{{/polyglot}}</label>
            <div class="col-sm-9 col-sm-offset-3">
                <p class="original">
                    {{pageDesc}}
                </p>
            </div>
        </div>
    </div>
</div>