<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Credit Card Details{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">
            <div class="aj-imp-dash-widget">

                <div class="aj-imp-widget-container panel panel-default">
                    <div class="panel-body">
                        <div class="aj-imp-widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="credit-card-listing">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>