<h4 class="booking-title">{{#polyglot}}Booking{{/polyglot}} &amp; {{#polyglot}}Availability{{/polyglot}}</h4>
<div class="room-booking" id="room-booking-region">
    <div class="row room-booking-container">
        <div class="col-md-8">
            <div class="room-booking-calender" id="calendar-region">           
                <h4>
                     <span class="glyphicon glyphicon-calendar"></span>{{#polyglot}}Monthly Calendar{{/polyglot}}<span class="excerpt">{{#polyglot}}Monthly Calendar Desc{{/polyglot}}</span>
                </h4> 
                <div id="room-booking-calendar" >
                </div>
                <br>
                <ul class="list-inline daterange-legends">
                    <li><span class=""></span>{{#polyglot}}Date Range one{{/polyglot}}
                    </li>
                    <li><span class=""></span>{{#polyglot}}Date Range two{{/polyglot}}
                    </li>
                  
                </ul>
            </div>
        </div>
        <div class="col-md-4 room-booking-data" id="plans-details-region">
            <div class="date-range">
                {{#polyglot}}You have selected{{/polyglot}}
                <b>{{#polyglot}}18 Jan to 16 Jan{{/polyglot}}</b>
            </div>
            <div class="room-booking-plan">
                <h5>{{#polyglot}}Plan 1{{/polyglot}}</h5>
                <p>{{#polyglot}}Room Lorem ipsum{{/polyglot}}</p>
                    
                <div class="booking-detail">
                    {{#polyglot}}Max Adults{{/polyglot}}
                        <span>{{#polyglot}}02{{/polyglot}}</span>
                </div>
                <div class="booking-detail">
                    {{#polyglot}}Max Children{{/polyglot}}
                    <span>{{#polyglot}}02{{/polyglot}}</span>
                </div>
                <div class="clearfix"></div>
				<div class="plan-bg">
                <h6>{{#polyglot}}Additional Charge{{/polyglot}}</h6>
                <div class="booking-detail">
                    {{#polyglot}}per extra Adult{{/polyglot}}
                    
                </div>
                <div class="booking-detail">
                     {{#polyglot}}per extra Child{{/polyglot}}
                        
                </div>
                <div class="clearfix"></div>
                
                <div class="booking-price">{{#polyglot}}WEEKDAYS{{/polyglot}} <b>{{#polyglot}}$300{{/polyglot}}</b></div>
				 </div>
            </div>
            
            <div class="room-booking-plan">
                <h5>{{#polyglot}}Plan 2{{/polyglot}} </h5>
                <p>{{#polyglot}}Room Lorem ipsum{{/polyglot}}</p>
                    
                <div class="booking-detail">
                    {{#polyglot}}Max Adults{{/polyglot}}
                        <span>{{#polyglot}}02{{/polyglot}}</span>
                </div>
                <div class="booking-detail">
                    {{#polyglot}}Max Children{{/polyglot}}
                    <span>{{#polyglot}}02{{/polyglot}}</span>
                </div>
                <div class="clearfix"></div>
              <div class="plan-bg">
                <h6>{{#polyglot}}Additional Charge{{/polyglot}}</h6>
                <div class="booking-detail">
                    {{#polyglot}}per extra Adult{{/polyglot}}
                    
                </div>
                <div class="booking-detail">
                     {{#polyglot}}per extra Child{{/polyglot}}
                        
                </div>
                <div class="clearfix"></div>
                
                <div class="booking-price">{{#polyglot}}WEEKDAYS{{/polyglot}} <b>{{#polyglot}}$300{{/polyglot}}</b></div>
				 </div>
            </div>
    </div>
</div>