<h4 class="booking-title">Booking &amp; Availability</h4>
<div class="room-booking" id="room-booking-region">
    <div class="row room-booking-container">
        <div class="col-md-8">
            <div class="room-booking-calender" id="calendar-region">           
                <h4>
                     <span class="glyphicon glyphicon-calendar"></span> Monthly Calendar <span class="excerpt">Donec vulputate nibh et odio vehicula, id porttitor quam malesuada</span>
                </h4> 
                <div id="room-booking-calendar" class="hasDatepicker">
                    <div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all ui-datepicker-multi-2 ui-datepicker-multi" style="width: 34em; display: block;">
                        <div class="ui-datepicker-group ui-datepicker-group-first">
                            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-left"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a>
                                <div class="ui-datepicker-title"><span class="ui-datepicker-month">April</span>&nbsp;<span class="ui-datepicker-year">2014</span>
                                </div>
                            </div>
                            <table class="ui-datepicker-calendar">
                                <thead>
                                    <tr>
                                        <th class="ui-datepicker-week-end"><span title="Sunday">Su</span>
                                        </th>
                                        <th><span title="Monday">Mo</span>
                                        </th>
                                        <th><span title="Tuesday">Tu</span>
                                        </th>
                                        <th><span title="Wednesday">We</span>
                                        </th>
                                        <th><span title="Thursday">Th</span>
                                        </th>
                                        <th><span title="Friday">Fr</span>
                                        </th>
                                        <th class="ui-datepicker-week-end"><span title="Saturday">Sa</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">1</a>
                                        </td>
                                        <td class=" ui-datepicker-days-cell-over  available ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default ui-state-highlight ui-state-active" href="#">2</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">3</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">4</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">5</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">6</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">7</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">8</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">9</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">10</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">11</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">12</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">13</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">14</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">15</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">16</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">17</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">18</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">19</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">20</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">21</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">22</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">23</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">24</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">25</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">26</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">27</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">28</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">29</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="3" data-year="2014"><a class="ui-state-default" href="#">30</a>
                                        </td>
                                        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="ui-datepicker-group ui-datepicker-group-last">
                            <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-right"><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
                                <div class="ui-datepicker-title"><span class="ui-datepicker-month">May</span>&nbsp;<span class="ui-datepicker-year">2014</span>
                                </div>
                            </div>
                            <table class="ui-datepicker-calendar">
                                <thead>
                                    <tr>
                                        <th class="ui-datepicker-week-end"><span title="Sunday">Su</span>
                                        </th>
                                        <th><span title="Monday">Mo</span>
                                        </th>
                                        <th><span title="Tuesday">Tu</span>
                                        </th>
                                        <th><span title="Wednesday">We</span>
                                        </th>
                                        <th><span title="Thursday">Th</span>
                                        </th>
                                        <th><span title="Friday">Fr</span>
                                        </th>
                                        <th class="ui-datepicker-week-end"><span title="Saturday">Sa</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">1</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">2</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">3</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">4</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">5</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">6</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">7</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">8</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">9</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">10</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">11</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">12</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">13</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">14</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">15</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">16</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">17</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">18</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">19</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">20</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">21</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">22</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">23</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">24</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">25</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">26</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">27</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">28</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">29</a>
                                        </td>
                                        <td class="  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">30</a>
                                        </td>
                                        <td class=" ui-datepicker-week-end  available" data-handler="selectDay" data-event="click" data-month="4" data-year="2014"><a class="ui-state-default" href="#">31</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="ui-datepicker-row-break"></div>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <ul class="list-inline daterange-legends">
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                    <li><span class="">&nbsp;</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 room-booking-data" id="plans-details-region">
            <div class="date-range">
                You have selected
                <b>18 Jan to 16 Jan </b>
            </div>
            <div class="room-booking-plan">
                <h5>Plan 1 </h5>
                <p>Room. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    
                <div class="booking-detail">
                    Max Adults:
                        <span>02</span>
                </div>
                <div class="booking-detail">
                    Max Children:
                    <span>  02</span>
                </div>
                <div class="clearfix"></div>
                <h6>Additional Charge</h6>
                <div class="booking-detail">
                    per extra Adult : $200
                    
                </div>
                <div class="booking-detail">
                     per extra Child : $152
                        
                </div>
                <div class="clearfix"></div>
                
                <div class="booking-price">WEEKDAYS <b>$300</b></div>
            </div>
            
            <div class="room-booking-plan">
                <h5>Plan 2 </h5>
                <p>Room. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    
                <div class="booking-detail">
                    Max Adults:
                        <span>02</span>
                </div>
                <div class="booking-detail">
                    Max Children:
                    <span>  02</span>
                </div>
                <div class="clearfix"></div>
                <h6>Additional Charge</h6>
                <div class="booking-detail">
                    per extra Adult : $200
                    
                </div>
                <div class="booking-detail">
                     per extra Child : $152
                        
                </div>
                <div class="clearfix"></div>
                
                <div class="booking-price">WEEKENDDAYS <b>$300</b></div>
            </div>
    </div>
</div>