<header class="aj-imp-dash-header row">
	<div class="aj-imp-dash-title col-xs-12">
		<h2 class="aj-imp-page-head">Add Room</h2>
	</div>
</header>
<div class="row" id="add-room-form">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Add Room Category</label>
		<div class="col-sm-10 col-sm-offset-2">
			<input type="text" class="form-control" id="post_title" name="post_title" 
			placeholder="eg. Executive Room" required />
			<div class="p-messages"></div>
		</div>
	</div>

	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">No. of Rooms</label>
		<div class="col-sm-10 col-sm-offset-2">
			<input type="text" required class="form-control" name="no_of_rooms" id="no_of_rooms" placeholder="eg. 10" />
			<div class="p-messages"></div>
		</div>
	</div>
	<div class="scroll-indicator-container" id="scr1">
		<h4 class="aj-imp-sub-head scroll-ref">Room Description <small>Give a brief description of your room category.</small></h4>
	</div>
	<div class="form-group">
		<label for="inputSEO1" class="col-sm-2 control-label">Room Description</label>
		<div class="col-sm-10 col-sm-offset-2">
			  <textarea class="form-control" rows="2" name="post_content" id="roomdescription"
			 placeholder="Room Description" required  ></textarea>  
			<div class="p-messages"></div>
		</div>
	</div>
</div>
<div class="row" id="facilities-region"></div>
<div class="row" id="tariff-region"></div>
<button type="button" class="btn btn-wide aj-imp-submit" id="btn_saveroom" name="btn_saveroom">Save Room</button>
