//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap blue.

@primary1: #DC6868;
// Used in Contact Form, Links, Buttons, Menu, Room Elements, Slider, Social Links, Headings, Selection Background

@secondary1: #483535;
// Used in Address Elements, Image with Text, Menu, Room Elements, Social Links, Headings

@tertiary1: #D7D3CA;
// Used in Menu, Room Elements, Site Background, Social Links

@quarternary1: #BEBEBE;
// Used in Address, Menu, Room Elements, Row Elements, Social Links, Slider, Text Element

@quinary1: #F9F8F4;
// Used in Slider

@text-color: #333333;
@button-color: @primary1;

@white: @quinary1;
@black: #000;

//== Padding, Margins, etc
//

@regular: 0.5em;
@medium: 1em;
@large: 1.5em;
