<ul class="nav nav-tabs">
	<li class="active"><a href="#upload" data-toggle="tab">Upload</a></li>
	<li><a href="#images" data-toggle="tab">Images</a></li>
	<li><a href="#videos" data-toggle="tab">Videos</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane active" id="upload">
		<button type="button" class="btn btn-primary" id="choosefiles">Select Files</button>
		<button type="button" class="btn btn-primary" id="uploadfiles">Uplaod</button>
		<div id="filelist"></div>
		<br />
	</div>
	<div class="tab-pane " id="images">
		<div class="row">
			<div class="col-md-12 selectable-images" >
				<% mediaCollection.each(function(media, index){ %>
					<img src="<%= media.get('url') %>" width="150" height="150"/>
				<% }) %>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="videos">
		show video grid here
	</div>
</div>

