<ul class="nav nav-tabs">
	<% _.each(menus, function(menu, index){ %>
		<li class="<%= (index === 0 ? 'active' : '') %>"><a href="#<%= menu.get('slug') %>" data-toggle="tab"><%= menu.get('name') %></a></li>
	<% }); %>	
</ul>
<div class="tab-content">
	<% _.each(menus, function(menu, index){ %>
	<div class="tab-pane <%= (index === 0 ? 'active' : '') %>" id="<%= menu.get('slug') %>">
		<div class="row aj-imp-menu-edit">
			<div class="col-md-6 aj-imp-add-menu-item">
				<h4><%= menu.get('name') %></h4>
				<p class="desc">
					<%= menu.get('description') %>
				</p>
				<a class="aj-imp-add-link" href="#<%= menu.get('slug') %>-add-menu" data-toggle="collapse">Add Menu Item</a>
				<div id="<%= menu.get('slug') %>-add-menu" class="collapse add-menu-form">
					<form class="form-horizontal well">
						<div class="form-group">
							<label class="col-sm-4 control-label">Menu Link Label</label>
							<div class="col-sm-8">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Menu Link</label>
							<div class="col-sm-8">
								<input type="text" class="form-control">
							</div>
						</div>
						<div class="form-group form-actions">
							<div class="col-sm-offset-4 col-sm-8">
								<button type="button" class="btn btn-embossed">Cancel</button>
								<button type="button" class="btn btn-embossed save-btn">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-6 aj-imp-menu-item-list">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><%= menu.get('name') %></h3>
					</div>
					<div class="list-group ui-sortable sortable-menu">
						<% _.each(menu.get('items'), function(item, index){ %>
							<div class="list-group-item">
								<div>	
									<div class="row menu-item">
										<div class="col-sm-1 menu-dragger">
											<span class="icon-uniF160"></span>
										</div>
										<div class="col-sm-8 menu-name">
											<%= item.title %>
										</div>
										<div class="col-sm-3 menu-edit">
											<a href="#<%= menu.get('slug') %>-item-<%= item.ID %>" data-toggle="collapse">
												<span class="glyphicon glyphicon-edit"></span> Edit
											</a>
										</div>
									</div>
									<div id="<%= menu.get('slug') %>-item-<%= item.ID %>" class="collapse menu-item-edit">
										<form class="form-horizontal">
											<div class="form-group">
												<label class="col-sm-4 control-label">Menu Link Label</label>
												<div class="col-sm-8">
													<input value="<%= item.title %>" type="text" name="item-title" class="form-control">
												</div>
											</div>
											<div class="form-group">
												<label class="col-sm-4 control-label">Menu Link</label>
												<div class="col-sm-8">
													<input value="<%= item.url %>" type="text" name="item-url" class="form-control">
												</div>
											</div>
											<div class="form-group form-actions">
												<div class="col-sm-offset-4 col-sm-8">
													<button type="button" class="btn save-btn">Save</button>
													<button type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button>
												</div>
											</div>
										</form>
									</div>
								</div>
								<% if(!_.isUndefined(item.subMenu) && _.isArray(item.subMenu)){ %>
									<div class="list-group ui-sortable sortable-menu">
										<% _.each(menu.get('subMenu'), function(sitem, index){ %>
											<div class="list-group-item">
													<div class="row menu-item">
														<div class="col-sm-1 menu-dragger">
															<span class="icon-uniF160"></span>
														</div>
														<div class="col-sm-8 menu-name">
															<%= sitem.title %>
														</div>
														<div class="col-sm-3 menu-edit">
															<a href="#<%= menu.get('slug') %>-item-<%= sitem.ID %>" data-toggle="collapse">
																<span class="glyphicon glyphicon-edit"></span> Edit
															</a>
														</div>
													</div>
													<div id="<%= menu.get('slug') %>-item-<%= sitem.ID %>" class="collapse menu-item-edit">
														<form class="form-horizontal">
															<div class="form-group">
																<label class="col-sm-4 control-label">Menu Link Label</label>
																<div class="col-sm-8">
																	<input value="<%= sitem.title %>" type="text" name="item-title" class="form-control">
																</div>
															</div>
															<div class="form-group">
																<label class="col-sm-4 control-label">Menu Link</label>
																<div class="col-sm-8">
																	<input value="<%= sitem.url %>" type="text" name="item-url" class="form-control">
																</div>
															</div>
															<div class="form-group form-actions">
																<div class="col-sm-offset-4 col-sm-8">
																	<button type="button" class="btn save-btn">Save</button>
																	<button type="button" class="btn"><span class="glyphicon glyphicon-trash"></span></button>
																</div>
															</div>
														</form>
													</div>
												</div>
										<% }) %>
									</div>
								<% } %>
							</div>
						<% }) %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% }) %>
</div>

