			<div class="default-lang">
				{{#polyglot}}Your default language is:{{/polyglot}} <span>{{default_language}}</span>
			</div>
			
			<div class="pick-languages">
				<h6>{{#polyglot}}Languages on my site:{{/polyglot}}</h6>
				<div class="selected-languages clearfix">
				</div>
				<div class="error-msg">
				</div>

				<button class="btn btn-xs add-more-langs aj-imp-orange-btn" data-toggle="collapse" data-target="#all-languages"><span class="glyphicon glyphicon-plus"></span>&nbsp;{{#polyglot}}Add / Remove Languages{{/polyglot}}</button>

				<form id="all-languages" class="form-horizontal collapse">
					<ul class="languages clearfix">
					</ul>

					<hr>
					<div class="js-update-languages">
						<button class="btn btn-xs aj-imp-orange-btn" name="btn_update-enabled-languages"
						id="btn_update-enabled-languages" data-target="#all-languages" data-toggle="collapse"> {{#polyglot}}Update{{/polyglot}} </button>

						<button class="btn btn-xs cancel-more-langs" data-toggle="collapse" data-target="#all-languages">{{#polyglot}}Cancel{{/polyglot}}</button>
					</div>
				</form>

			<hr>

			<h5 class="aj-imp-sub-head-thin">
				{{#polyglot}}Editing Language{{/polyglot}} &nbsp;
				<select class="selectpicker js-enabled-languages" id="select_editing_language"></select>
			</h5> 				