<div class="layout">
	<span class="icon-uniF13C"></span>
	<div class="aj-imp-descriptor">Title</div>
</div>
<div class="content">
	<div class="clearfix aj-imp-edit-content align-center logo">
		<div contenteditable="true" class="editable-title" placeholder="Enter Logo Text">Enter logo  text</div>
	</div>
</div>