<div class="form-group">
    <label for="inputSocial2" class="col-sm-2 control-label">Daterange Label</label>
    <div class="col-sm-9 col-sm-offset-2">
        <input type="text" class="form-control" name="daterange_name" required value="{{daterange_name}}">
        <div class="p-messages"></div>
    </div>
</div>
<div class="form-group dual dates">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputAddress2" class="col-sm-4 control-label">Start Date</label>
            <div class="col-sm-8 col-sm-offset-4">
                <div class="input-group">
                    <input type="text" class="form-control dated" value="{{from_date}}" id="fromdaterange" required parsley-trigger="blur" parsley-validation-minlength="0" name="from_date" />
                    <span class="input-icon fui-calendar"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="inputAddress2" class="col-sm-4 control-label">End Date</label>
            <div class="col-sm-8 col-sm-offset-4">
                <div class="input-group">
                    <input type="text" class="form-control dated" value="{{to_date}}" id="todaterange" required parsley-trigger="blur" parsley-validation-minlength="0" name="to_date" />
                    <span class="input-icon fui-calendar"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputSocial2" class="col-sm-2 control-label">Color</label>
    <div class="col-sm-9 col-sm-offset-2">
        <input type="hidden" class="form-control" name="daterange_colour" id="daterange_colour" required readonly value="{{daterange_colour}}">
        <div class="p-messages"></div>
    </div>
</div>
<div class="modal-footer">
    <a href="#" class="red-link pull-left" id="btn_deletedaterange">
        <span class="glyphicon glyphicon-trash"></span> Delete Date Range
    </a>
    <button type="button" class="btn btn-default aj-imp-modal-save" id="btn_updatedaterange">
        <span class="glyphicon glyphicon-ok"></span> Update Date Range
    </button>
</div>
