<div class="aj-imp-dash-bb">
    <div class="row aj-imp-dash-header">
        <div class="aj-imp-dash-content col-md-12">

            <h3 class="aj-imp-sub-head-thin text-center">
                {{#polyglot}}HI! GOOD TO SEE YOU HERE. LETS GET YOU STARTED ON IMPRUW.{{/polyglot}}
            </h3>

            <!-- <header class="aj-imp-dash-header row">
                <div class="aj-imp-dash-title col-sm-8">
                    <h2 class="aj-imp-page-head">
                        {{#polyglot}}My Dashboard{{/polyglot}}
                    </h2>
                </div>
                <div class="aj-imp-dash-actions col-sm-4"> -->
                    <!--<a href="#" class="btn btn-embossed btn-wide"><span class="glyphicon glyphicon-cog"></span> Settings</a>-->
                <!-- </div>
            </header>
            <div class="row">
                <div class="aj-imp-dash-content col-md-12">
                    <h4 class="aj-imp-sub-head">
                        <small>
                            {{#polyglot}}Website is ready{{/polyglot}}
                            <a href="{{SITEURL}}" target="_BLANK">{{SITEURL}}</a>
                            <a href="{{SITEURL}}/site-builder" target="_BLANK" class="btn btn-default btn-xs">{{#polyglot}}Edit Site{{/polyglot}}</a>
                        </small>
                    </h4> -->
            
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4 dashboard-column">
        <div class="brace">
            
        </div>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8 builder-coulmn">
        <div class="builder-gif"></div>
    </div>
</div>