<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-8">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}My Dashboard{{/polyglot}}
        </h2>
    </div>
    <div class="aj-imp-dash-actions col-sm-4">
        <!--<a href="#" class="btn btn-embossed btn-wide"><span class="glyphicon glyphicon-cog"></span> Settings</a>-->
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <h4 class="aj-imp-sub-head">
            <small>
                {{#polyglot}}Website is ready{{/polyglot}}
                <a href="{{SITEURL}}" target="_BLANK">{{SITEURL}}</a>
            </small>
        </h4>
        <a href="{{SITEURL}}/site-builder" target="_BLANK" class="btn btn-xs">{{#polyglot}}Edit Site{{/polyglot}}</a>
        <div class="aj-imp-help-text">
            <span class="icon icon-info2"></span>
            <p>
                {{#polyglot}}You are currently active on the free plan. To add your own website domain{{/polyglot}} <a href="#/billing/pricing-plans">{{#polyglot}}upgrade your plan{{/polyglot}}</a> {{#polyglot}}and add your website url from your{{/polyglot}} <a href="#/site-profile">{{#polyglot}}site profile{{/polyglot}}</a>
            </p>
        </div>
        <hr>
        <h3 class="aj-imp-sub-head-thin">
            {{#polyglot}}Get started impruw{{/polyglot}}
        </h3>
        <br>
        <br>
    </div>
</div>
<div class="row">
    <div class="aj-imp-dash-content col-md-6">
        <div class="aj-imp-dash-widget">
            <h6 class="aj-imp-sub-head">
                {{#polyglot}}My Site Profile{{/polyglot}}
            </h6>
            <div class="aj-imp-widget-container panel panel-default">
                <div class="panel-body">
                    <div class="aj-imp-widget-head row">
                        <div class="col-sm-12">
                            <h6 class="aj-imp-sub-head">
                                <small>
                                    {{#polyglot}}Fill Website Profile{{/polyglot}}
                                </small>
                            </h6>
                        </div>
                    </div>
                    <div class="aj-imp-widget-content row">
                        <div class="col-sm-12">
                            <p>
                                {{#polyglot}}It lets you add your{{/polyglot}}
                                <ul>
                                    <li>
                                        {{#polyglot}}Business details{{/polyglot}}
                                    </li>
                                    <li>
                                        {{#polyglot}}Add facebook urls{{/polyglot}}
                                    </li>
                                    <li>
                                        {{#polyglot}}Select people{{/polyglot}}
                                    </li>
                                </ul>
                            </p>
                            <p>
                                {{#polyglot}}Fill Website details{{/polyglot}}
                            </p>
                            <a href="#site-profile">{{#polyglot}}Update website profile{{/polyglot}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aj-imp-dash-widget">
            <h6 class="aj-imp-sub-head">
                {{#polyglot}}Site Builder{{/polyglot}}
            </h6>
            <div class="aj-imp-widget-container panel panel-default">
                <div class="panel-body">
                    <div class="aj-imp-widget-head row">
                        <div class="col-sm-12">
                            <h6 class="aj-imp-sub-head">
                                <small>
                                    {{#polyglot}}Drag drop create{{/polyglot}}
                                </small>
                            </h6>
                        </div>
                    </div>
                    <div class="aj-imp-widget-content row">
                        <div class="col-sm-12">
                            <p>
                                {{#polyglot}}Fast site builder{{/polyglot}}
                            </p>
                            <p>
                                {{#polyglot}}Customize your site{{/polyglot}}
                            </p>
                            <a href="{{SITEURL}}/site-builder">{{#polyglot}}Click to edit{{/polyglot}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aj-imp-dash-content col-md-6">
        <div class="aj-imp-dash-widget">
            <h6 class="aj-imp-sub-head">
                {{#polyglot}}Rooms{{/polyglot}}
            </h6>
            <div class="aj-imp-widget-container panel panel-default">
                <div class="panel-body">
                    <div class="aj-imp-widget-head row">
                        <div class="col-sm-12">
                            <h6 class="aj-imp-sub-head">
                                <small>
                                    {{#polyglot}}Add room types{{/polyglot}}
                                </small>
                            </h6>
                        </div>
                    </div>
                    <div class="aj-imp-widget-content row">
                        <div class="col-sm-12">
                            <p>
                                {{#polyglot}}Impruw suit business needs{{/polyglot}}
                                <ul>
                                    <li>
                                        {{#polyglot}}Tariff according to date{{/polyglot}}
                                    </li>
                                    <li>
                                        {{#polyglot}}Facilities and add ons{{/polyglot}}
                                    </li>
                                    <li>
                                        {{#polyglot}}Room types of choice{{/polyglot}}
                                    </li>
                                </ul>
                            </p>
                            <p>
                                {{#polyglot}}Create complete business website{{/polyglot}}
                            </p>
                            <a href="#rooms/add">{{#polyglot}}Click to add rooms{{/polyglot}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aj-imp-dash-widget">
            <h6 class="aj-imp-sub-head">
                {{#polyglot}}User Profile{{/polyglot}}
            </h6>
            <div class="aj-imp-widget-container panel panel-default">
                <div class="panel-body">
                    <div class="aj-imp-widget-head row">
                        <div class="col-sm-12">
                            <h6 class="aj-imp-sub-head">
                                <small>
                                    {{#polyglot}}Complete User Profile{{/polyglot}}
                                </small>
                            </h6>
                        </div>
                    </div>
                    <div class="aj-imp-widget-content row">
                        <div class="col-sm-12">
                            <p>
                                {{#polyglot}}Its all about you!{{/polyglot}}
                            </p>
                            <p>
                                {{#polyglot}}You can change your password or your preferred language here.{{/polyglot}}
                            </p>
                            <a href="#my-profile">{{#polyglot}}Click here to complete your user profile{{/polyglot}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>