
<div class="aj-imp-dash-bb">
    <div class="row aj-imp-dash-header">
        <div class="aj-imp-dash-content col-md-12">

            <h3 class="aj-imp-sub-head-thin text-center">
                {{#polyglot}}HI! GOOD TO SEE YOU HERE. LETS GET YOU STARTED ON IMPRUW.{{/polyglot}}
            </h3>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6 col-md-5 col-lg-4 dashboard-column">
        <div class="brace">
            
        </div>
    </div>
    <div class="col-sm-6 col-md-7 col-lg-8 builder-coulmn">
        <div class="builder-gif"></div>
    </div>
</div>