<header class="aj-imp-dash-header row">
	<div class="aj-imp-dash-title col-xs-12">
		<h2 class="aj-imp-page-head">Edit Room</h2>
	</div>
</header>
<div id="add-room-form">
	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">Add Room Category</label>
		<div class="col-sm-10 col-sm-offset-2">
			<input type="text" class="form-control" id="post_title" name="post_title" 
			placeholder="eg. Executive Room" required value="{{post_title}}"/>
			<div class="p-messages"></div>
		</div>
	</div>

	<div class="form-group">
		<label for="inputEmail3" class="col-sm-2 control-label">No. of Rooms</label>
		<div class="col-sm-10 col-sm-offset-2">
			<input type="text" required class="form-control" name="no_of_rooms" id="no_of_rooms" placeholder="eg. 10" value="{{no_of_rooms}}"/>
			<div class="p-messages"></div>
		</div>
	</div>
	<div class="col-md-12 scroll-indicator-container" id="scr1">
		<h4 class="aj-imp-sub-head scroll-ref">Room Description <small>Give a brief description of your room category.</small></h4>
	</div>
	<div class="form-group">
		<label for="inputSEO1" class="col-sm-2 control-label">Room Description</label>
		<div class="col-sm-10 col-sm-offset-2">
			  <textarea class="form-control" rows="2" name="post_content" id="roomdescription"
			 placeholder="Room Description" required  >{{post_content}}</textarea>  
			<div class="p-messages"></div>
		</div>
	</div>
</div>
<div class="aj-imp-dash-header row">
	<div class="col-md-12" id="facilities-region"></div>
</div>
<div class=" aj-imp-dash-header row" >
	<h4 class="aj-imp-sub-head scroll-ref">Images <small>Add attachment images to your room.</small></h4>
	<div>
		<button type="button" class="btn add-gallery-images"><span class="icon icon-plus"></span>&nbsp;Add Images</button>
		<input type="hidden" name="slider_id" value="{{slider_id}}" />		
	</div>
	<div id="gallery-region">
	</div>
	<div class="gallery-info">
		<span class="icon icon-pictures"></span>
		Add Images to your Room here. The images that you add here can then be added to the page of the room by placing the Gallery Element in the Site Builder.
	</div>
</div>
<div class="aj-imp-dash-header row" >
	<h4 class="aj-imp-sub-head scroll-ref">Room Tariff <small>Add tariffs and date ranges for your rooms.</small></h4>
	<div id="room-tariff-region"></div>
</div>
<div class="aj-imp-dash-header row">
	<h4 class="aj-imp-sub-head scroll-ref">Room Booking <small>Set up booking</small></h4>
	<div id="room-booking-region"></div>
</div>
<button type="button" class="btn btn-wide aj-imp-submit" id="btn_saveroom" name="btn_saveroom">Save Room</button>
<input type="reset" class="hidden" id="btn_resetroom" name="btn_resetroom">
