<div class="aj-imp-dash-content scroll-indicator-container">
	<header class="aj-imp-dash-header row">
		<div class="aj-imp-dash-title col-xs-12">
			<h2 class="aj-imp-page-head">{{#polyglot}}Edit Room{{/polyglot}}</h2>
		</div>
	</header>
	<form class="form-horizontal clearfix">
		<div id="add-room-form">
			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">{{#polyglot}}Add Room Category{{/polyglot}}</label>
				<div class="col-sm-10 col-sm-offset-2">
					<input type="text" class="form-control" id="post_title" name="post_title" 
					placeholder="eg. Executive Room" required value="{{{post_title}}}"/>
					<div class="p-messages"></div>
				</div>
			</div>

			<div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">{{#polyglot}}No. of Rooms{{/polyglot}}</label>
				<div class="col-sm-10 col-sm-offset-2">
					<input type="text" required class="form-control" name="no_of_rooms" id="no_of_rooms" placeholder="eg. 10" value="{{no_of_rooms}}"/>
					<div class="p-messages"></div>
				</div>
			</div>
			<div class="" id="scr1">
				<h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Room Description{{/polyglot}}<small>{{#polyglot}}Description of your room category{{/polyglot}}</small></h4>
			</div>
			<div class="form-group">
				<label for="inputSEO1" class="col-sm-2 control-label">{{#polyglot}}Room Description{{/polyglot}}</label>
				<div class="col-sm-10 col-sm-offset-2">
					  <textarea class="form-control" rows="2" name="post_content" id="roomdescription"
					 placeholder="Room Description" required  >{{{post_content}}}</textarea>  
					<div class="p-messages"></div>
				</div>
			</div>
			<div class="" id="scr1">
				<h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Featured Image{{/polyglot}} <small>{{#polyglot}}A picture of your room category.{{/polyglot}}</small></h4>
			</div>
			<div class="form-group pic-upload">
                <label for="inputFile3" class="col-sm-2 control-label">{{#polyglot}}Upload a Featured Image{{/polyglot}}</label>
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
                      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 300px; height: 150px;">
                          <img src ="{{image_url}}" class="feature-image"/>
                      </div>
                      <div>
                        <span class="btn btn-default btn-file">
                            <!--<span class="fileinput-new">Select image</span> -->
                            <span class="fileinput-exists">{{#polyglot}}Change{{/polyglot}}</span>
                            <input type="file" >
                            <input type="text" name="feature_image_id" id="feature-image-id" value="{{feature_image_id}}">
                        </span>
                        <a href="#" class="btn btn-danger fileinput-exists" data-dismiss="fileinput">{{#polyglot}}Remove{{/polyglot}}</a>
                      </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
				<div class="col-sm-10 col-sm-offset-2">
					<div class="help-block">
						{{#polyglot}}A featured image represent the contents, mood, or theme of your room.{{/polyglot}}
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12" id="facilities-region"></div>
		</div>
		<div class="row scrollsection" id="room-gallery" data-text="Room Gallery">
			<div class="col-md-12">
				<h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Images{{/polyglot}}<small>{{#polyglot}}Add attachment images to your room.{{/polyglot}}</small></h4>
				<div>
					<button type="button" class="btn btn-default add-gallery-images"><span class="icon icon-plus"></span>&nbsp;{{#polyglot}}Add Images{{/polyglot}}</button>
					<input type="hidden" name="slider_id" value="{{slider_id}}" />		
				</div>
				<div id="gallery-region">
				</div>
				<div class="gallery-info">
					<span class="icon icon-pictures"></span>
                    {{#polyglot}}Add Images to your Room here. The images that you add here can then be added to the page of the room by placing the Gallery Element in the Site Builder.{{/polyglot}}
				</div>
			</div>
		</div>
		<div class="row scrollsection" id="room-tariffs" data-text="Room Tariff">
			<div class="col-md-12">
				<h4 class="aj-imp-sub-head scroll-ref">
                    {{#polyglot}}Room Tariff{{/polyglot}}
					<small>{{#polyglot}}Add tariffs and date ranges for your rooms.{{/polyglot}}</small>
				</h4>
				<h6 class="aj-imp-sub-head">
					<span class="label label-default">{{#polyglot}}All Prices are in:{{/polyglot}}
                    <b class="currency">{{#polyglot}}{{/polyglot}}</b></span>
                    <small>
                    	<a href="#/room-summary">Click here to change currency</a>
						<a href="#" data-target="#plan-help-image" data-toggle="modal" class="pull-right plan-help-link">{{#polyglot}}What are plans and date ranges?{{/polyglot}}</a>
                    </small>
				</h6>
				<!-- Help Image Modal -->
				<div class="modal fade medium-modal" id="plan-help-image" tabindex="-1" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				        <h4 class="modal-title">{{#polyglot}}What are plans and date ranges?{{/polyglot}}</h4>
				      </div>
				      <div class="modal-body">
				        <img src="{{THEMEURL}}/images/impruw-help.jpg" class="img-responsive">
				      </div>
				    </div>
				  </div>
				</div>
				<div id="room-tariff-region"></div>
			</div>
		</div>
		<div class="row scrollsection" id="room-bookings" data-text="Room Bookings">
			<div class="col-md-12">
				<h4 class="aj-imp-sub-head scroll-ref">{{#polyglot}}Room Booking{{/polyglot}}<small>{{#polyglot}}Set up booking{{/polyglot}}</small></h4>
				<div id="room-booking-region"></div>
			</div>
		</div>

		<input type="reset" class="hidden" id="btn_resetroom" name="btn_resetroom">
		<div class="aj-imp-long-form-actions" data-spy="affix">
	        <div class="action">
	            <!--<div class="affix-show">You have unsaved changes!</div>-->
	            <button type="button" class="btn btn-default btn-wide aj-imp-submit" id="btn_saveroom" name="btn_saveroom">{{#polyglot}}Save Room{{/polyglot}}</button>
	        </div>
	    </div>
	</form>
</div>