<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}View Plans{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">
            <h6 class="aj-imp-sub-head">{{#polyglot}}Pricing Plans{{/polyglot}}</h6>
            <hr>
            <div class="row price-plans">
                <div class="col-sm-4">
                    <div class="panel panel-default text-center" id="free-plan">
                        <div class="panel-heading">
                            <h3>{{#polyglot}}Free{{/polyglot}}</h3>
                        </div>
                        <div class="panel-body">
                            <h3 class="panel-title price">&#163;0</h3>
                            <span></span>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item">{{#polyglot}}Mobile and Tablet Ready Site{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Unlimited Pages{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}5 Languages{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}Flexible, easy-to-use Site builder{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}24/7 security monitoring{{/polyglot}}</li>
                            <li class="list-group-item">{{#polyglot}}24/7 technical support{{/polyglot}}</li>
                            <li class="list-group-item"><span class="ribbon">
                        <a href="javascript:void(0)" class="btn btn-block activate-link free-plan-link">{{#polyglot}}Choose Plan{{/polyglot}}</a></span></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<img src="{{THEMEURL}}/images/loader.gif" width="38" height="30"
     id="pay_loader" style="display:none ">
<div id="billingsave_status"></div>