<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Billing{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="alert alert-success" id="billingsave_status" style="display:none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{#polyglot}}Details saved{{/polyglot}}
        </div>
        <div class="billing-container">
            <div class="aj-imp-dash-widget">
                <ul class="nav nav-pills">
                    <li><a href="#/billing/purchase-history">{{#polyglot}}Purchase History{{/polyglot}}</a></li>
                    <li><a href="#/billing/billing-info">{{#polyglot}}Billing Info{{/polyglot}}</a></li>
                    <li class="active"><a href="javascript:void(0)">{{#polyglot}}Pricing Plans{{/polyglot}}</a></li>
                    <li><a href="#/billing/payment-page">{{#polyglot}}Payment Page{{/polyglot}}</a></li>
                </ul>
                <div class="aj-imp-widget-container panel panel-default">
                    <div class="panel-body">
                        <div class="aj-imp-widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="pricing-plans">

                                    <h6 class="aj-imp-sub-head">{{#polyglot}}Pricing Plans{{/polyglot}}</h6>

                                    <div class="row price-plans">

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>