<div class="form-group">
    <label for="inputAddress1" class="col-sm-2 control-label">
        {{#polyglot}}Old Password{{/polyglot}}
    </label>
    <div class="col-sm-10 col-sm-offset-2">
        <input type="password" class="form-control" id="currentPass" name="currentPassword"
        placeholder="{{#polyglot}}Old Password{{/polyglot}}" required parsley-trigger="blur" parsley-validation-minlength="0"
        parsley-minlength="6" 
        parsley-required-message="{{ __('Please enter current password') }}">
        <div class="p-messages">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputAddress1" class="col-sm-2 control-label">
        {{#polyglot}}New Password{{/polyglot}}
    </label>
    <div class="col-sm-10 col-sm-offset-2">
        <input type="password" class="form-control" id="newPassword" name="newPassword"
            placeholder="{{#polyglot}}New Password{{/polyglot}}" 
            required parsley-trigger="blur" 
            parsley-validation-minlength="0"
            parsley-minlength="6" parsley-equalto="#newpassword" 
            parsley-required-message="{{ __('Please enter new password') }}">
        <div class="p-messages">
        </div>
    </div>
</div>
<div class="form-group">
    <label for="inputAddress1" class="col-sm-2 control-label">
        {{#polyglot}}Confirm Password{{/polyglot}}
    </label>
    <div class="col-sm-10 col-sm-offset-2">
        <input type="password" class="form-control" id="confirmNewPassword" name="confirmNewPassword"
        placeholder="{{#polyglot}}Confirm Password{{/polyglot}}" 
        required parsley-trigger="blur" 
        parsley-validation-minlength="0"
        parsley-minlength="6" parsley-equalto="#newpassword" 
        parsley-required-message="{{ __('Please Retype new password') }}">
        <div class="p-messages">
        </div>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <button type="button" id="btn-update-password" name="btn-update-password"
        class="btn btn-wide aj-imp-submit">
            {{#polyglot}}Change Password{{/polyglot}}
        </button>
        <img src='{{THEMEURL}}/images/loader.gif' width="38" height="30" id="changepassubmit_loader"
        style="display:none" />
    </div>
</div>