<form class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">{{#polyglot}}Name on the Card{{/polyglot}}</label>
        <div class="col-sm-8 col-sm-offset-2">
            <input type="text" class="form-control " id="card_name"
             placeholder="Name on the Card" data-braintree-name="cardholderName">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{#polyglot}}Card Number{{/polyglot}}</label>
        <div class="col-sm-8 col-sm-offset-2">
            <input type="text" class="form-control " id="card_number"
            placeholder="Card Number" data-braintree-name="number" >
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <span class="help-block">{{#polyglot}}Enter the Card Number without any spaces.{{/polyglot}}</span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{#polyglot}}Security Code{{/polyglot}}</label>

        <div class="col-sm-8 col-sm-offset-2">
            <input type="password" class="form-control" placeholder="CVV"
            data-braintree-name="cvv" id="card-cvv">

        </div>
        <div class="col-sm-2">
            <span class="help-block"><a href="#">{{#polyglot}}Whats this?{{/polyglot}}</a></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">{{#polyglot}}Expires On{{/polyglot}}</label>
        <div class="col-sm-2 col-sm-offset-2">
            <select data-braintree-name="expiration_month" id="exp_month" class="payment">
                <option>{{#polyglot}}Month{{/polyglot}}</option>
                <option>01</option>
                <option>02</option>
                <option>03</option>
                <option>04</option>
                <option>05</option>
                <option>06</option>
                <option>07</option>
                <option>08</option>
                <option>09</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
        </div>
        <div class="col-sm-2">
            <select data-braintree-name="expiration_year" id="exp_year" class="payment">
                <option>{{#polyglot}}Year{{/polyglot}}</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
            </select>
        </div>
    </div>
    <div class="form-group margin-top">
        <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" class="btn btn-sm aj-imp-orange-btn" id="btn-add">{{#polyglot}}Add{{/polyglot}}</button>&nbsp;
            <input type="reset" id="btn-reset" style="display: none">
        </div>
    </div>
</form>
<img src="{{THEMEURL}}/images/loader.gif" width="38" height="30" id="pay_loader" style="display:none ">
<div id="billingsave_status"></div>