<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Update Billing{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">

            <h6 class="aj-imp-sub-head">{{#polyglot}}Update Billing Information{{/polyglot}}</h6>
            <div id="card-region"></div>

            <h6 class="aj-imp-sub-head">Billing Address <small>Your Billing Address is used to prevent fraudulent use of your card. Enter the address exactly as it appears on your card statement.</small></h6>
            <div id="address-region"></div>

            <!--<form class="form-horizontal">-->
                <!--<div class="form-group">-->
                    <!--<label for="inputAddress1" class="col-sm-2 control-label">{{#polyglot}}Address{{/polyglot}}</label>-->
                    <!--<div class="col-sm-10 col-sm-offset-2">-->
                        <!--<input type="text" value="{{street}}" class="form-control" id="inputAddress1" placeholder="{{#polyglot}}21 Jump Street{{/polyglot}}" name="street">-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="form-group dual">-->
                    <!--<div class="col-sm-5">-->
                        <!--<div class="form-group">-->
                            <!--<label for="inputAddress2" class="col-sm-5 control-label">{{#polyglot}}Postal Code{{/polyglot}}</label>-->
                            <!--<div class="col-sm-7 col-sm-offset-5">-->
                                <!--<input type="text" class="form-control" name="postal_code" id="inputAddress2" data-mask="999-999" placeholder="{{#polyglot}}420-001{{/polyglot}}" value="{{postal_code}}">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="col-sm-5">-->
                        <!--<div class="form-group">-->
                            <!--<label for="inputAddress3" class="col-sm-5 control-label">{{#polyglot}}City Town{{/polyglot}}</label>-->
                            <!--<div class="col-sm-7 col-sm-offset-5">-->
                                <!--<input type="text" class="form-control" id="inputAddress2" placeholder="{{#polyglot}}Gotham City{{/polyglot}}" name="city" value="{{city}}">-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->


                <!--<div class="form-group">-->
                    <!--<label for="inputAddress4" class="col-sm-2 control-label dd-label">{{#polyglot}}Country{{/polyglot}}</label>-->
                    <!--<div class="col-sm-10 col-sm-offset-2">-->
                        <!--<select name="country">-->
                            <!--<option value="Norway">{{#polyglot}}Norway{{/polyglot}}</option>-->
                            <!--<option value="Sweden">{{#polyglot}}Sweden{{/polyglot}}</option>-->
                            <!--<option value="Denmark">{{#polyglot}}Denmark{{/polyglot}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">Email</label>-->
                    <!--<div class="col-sm-8 col-sm-offset-2">-->
                        <!--<input type="email" class="form-control" placeholder="Email">-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-8 col-sm-offset-2">-->
                        <!--<span class="help-block">Enter the email to which an invoice is sent each time you are billed.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<div class="col-sm-8 col-sm-offset-2">-->
                        <!--<button type="submit" class="btn btn-sm aj-imp-orange-btn">Update</button>&nbsp;-->
                        <!--<button type="button" class="btn btn-sm">Cancel</button>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
                                
        </div>
    </div>
</div>
