<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Billing Details{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">

            <span>{{#polyglot}}Following
            are your card details. If you wish to remove the your card, ensure you are not
            using the card on any active subscription plan. Removal of a card in the middle of
            a billing cycle may cancel the subscription{{/polyglot}}</span>
            <div id="card-region"></div>

            <h6 class="aj-imp-sub-head">Billing Address</h6>
            <span>Your Billing Address is used to prevent fraudulent use of your card.
            Enter the address exactly as it appears on your card statement.</span>
            <div id="address-region"></div>
                                
        </div>
    </div>
</div>
