// Core mixins
@import "../../../impruwclientparent/css/less/site-elements/mixins.less";

//== Font URL

@font-url: "../../../themes/minimal-theme/resources/fonts";

// Font Files
@font-face {
	font-family: 'icomoon';
	src: url("@{font-url}/icomoon.eot");
	src: url("@{font-url}/icomoon.eot?#iefix") format("embedded-opentype"), url("@{font-url}/icomoon.woff") format("woff"), url("@{font-url}/icomoon.ttf") format("truetype"), url("@{font-url}/icomoon.svg#icomoon") format("svg");
	font-weight: normal;
	font-style: normal; 
}

/****Google Fonts****/
@import url(http://fonts.googleapis.com/css?family=Lato:100,400,700);

/****body styles****/
.site-style-container {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	background: @quinary1;
	&.aj-imp-builder-layout-mode {
		margin-top: 10px;
	}
	.clearfix;
	@media(max-width:1300px) {
		padding: @large;
	}
	@media(max-width:767px) {
		padding: @regular 0;
	}

	/****Selection Color****/
	::selection {
		background: @primary1; 
		color: #fff;
	}
	::-moz-selection {
		background: @primary1; 
		color: #fff;
	}

	/****Link Styles****/
	a {
		color: @primary1;
		text-decoration: none;
		&:hover, &:focus, &:active {
			color: lighten(@primary1, 10%);
			text-decoration: underline;
		}
	}

	p {
		font-size: 1em;
	}

	/****Heading Styles****/
	h1, h2, h3, h4, h5, h6{
		font-weight: 700;
		color: @primary1;
		&.sub-title {
			text-transform: uppercase;
			color: darken(@tertiary1, 50%);
			font-weight: 300;
			margin: 0.5em 0;
		}
	}
}

// Base CSS
@import "../../../impruwclientparent/css/less/site-elements/row.less";
@import "../../../impruwclientparent/css/less/site-elements/logo.less";
@import "../../../impruwclientparent/css/less/site-elements/menu.less";
@import "../../../impruwclientparent/css/less/site-elements/title.less";
@import "../../../impruwclientparent/css/less/site-elements/text.less";
@import "../../../impruwclientparent/css/less/site-elements/image-with-text.less";
@import "../../../impruwclientparent/css/less/site-elements/links-buttons.less";
@import "../../../impruwclientparent/css/less/site-elements/address.less";
@import "../../../impruwclientparent/css/less/site-elements/social.less";
@import "../../../impruwclientparent/css/less/site-elements/contact.less";
@import "../../../impruwclientparent/css/less/site-elements/room-elements.less";
@import "../../../impruwclientparent/css/less/site-elements/gallery.less";
@import "../../../impruwclientparent/css/less/site-elements/map.less";
@import "../../../impruwclientparent/css/less/site-elements/login.less";
@import "../../../impruwclientparent/css/less/site-elements/table.less";
@import "../../../impruwclientparent/css/less/site-elements/language-switcher.less";
@import "../../../impruwclientparent/css/less/site-elements/widget.less";
@import "../../../impruwclientparent/css/less/site-elements/slider.less";

// Theme Specific CSS Overrides
@import "row.less";
@import "logo.less";
@import "menu.less";
@import "title.less";
@import "image-with-text.less";
@import "address.less";
@import "text.less";
@import "links-buttons.less";
@import "room-elements.less";
@import "social.less";
@import "map.less";
@import "contact.less";
@import "slider.less";
@import "login.less";
@import "language-switcher.less";