/**** Title Styles****/
.title {
	&.site-title{
		color: @primary1;
    	font-weight: 300;
    	font-size: 2em;
    	text-transform: uppercase;
    	padding: 0.5em 0 0 15px;
	}
	&.page-title {
		color: @text-color;
		font-size: 2em;
		margin: 0.5em 0;
		text-transform: uppercase;
	}
	&.box-title {
		color: @text-color;
		font-size: 1.6em;
		text-transform: uppercase;
	    margin-bottom: @regular;
	}
	&.line-title {
		font-weight: 700;
		color: @text-color;
		font-size: 1.15em;
		margin-bottom: @large;
		text-transform: uppercase;
		border-bottom: 10px solid @primary1;
	}
	&.footer-title {
		color: @text-color;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: 700;
		margin-bottom: @medium;
	}
}