<div class="col-sm-7">
	<div class="form-group">
		<label class="col-sm-3 control-label" for="">{{#polyglot}}Facility{{term_id}}{{/polyglot}}</label>
		<div class="col-sm-9 col-sm-offset-3">
			<p class="original title">{{name}}
			</p>
		</div>
	</div>
</div>
<!-- 
<div class="col-sm-5">
	<div class="form-group">
		<div class="col-sm-12">
			<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control" value={{facilityNameLang}}>
		</div>
	</div>
</div>
 -->