<div class="form-group">
    <div class="col-sm-2">
        <label class="radio" id="tweleve-hour">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span>
            <input type="radio" name="time_format" value="12" data-toggle="radio">{{#polyglot}}12 hour Format{{/polyglot}}
        </label>
        <span class="help-block">{{#polyglot}}eg 12AM{{/polyglot}}</span>
    </div>
    <div class="col-sm-2">
        <label class="radio " id="twenty-four-hour">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span>
            <input type="radio" name="time_format" value="24" data-toggle="radio">{{#polyglot}}24 hour Format{{/polyglot}}
        </label>
        <span class="help-block">{{#polyglot}}eg 001{{/polyglot}}</span>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2">
        <input type="text" class="form-control check-time" required value="{{checkin_time}}" id="checkin-time" name="checkin_time" data-time_format="g:ia">
        <label for="checkin-time">Check in </label>
    </div>
    <div class="col-sm-2">
        <input type="text" class="form-control check-time" required value="{{checkout_time}}" id="checkout-time" name="checkout_time" data-time_format="g:ia">
        <label for="checkout-time">Check out </label>
    </div>
</div>      

<div class="form-group">
    <div class="col-sm-2">
        <a class="btn btn-xs aj-imp-submit" href="#" id="save-checkin"><span class="glyphicon glyphicon-floppy-disk"></span> {{#polyglot}}Save{{/polyglot}}</a>
    </div>
</div>                   