<div class="form-group">
    <div class="col-sm-2">
        <label class="radio checked" id="tweleve-hour">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span>
            <input type="radio" name="checkin_time_format" value="12" data-toggle="radio" checked="checked">12-hour Format
        </label>
        <span class="help-block">eg. 12:01 AM</span>
    </div>
    <div class="col-sm-2">
        <label class="radio " id="twenty-four-hour">
            <span class="icons"><span class="first-icon fui-radio-unchecked"></span><span class="second-icon fui-radio-checked"></span></span>
            <input type="radio" name="checkin_time_format" value="24" data-toggle="radio">24-hour Format
        </label>
        <span class="help-block">eg: 0:01</span>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-2">
        <input type="text" class="form-control" value="{{checkin_time}}" id="checkin-time" name="checkin_time" data-time-format="g:ia">
        <a class="edit-link" href="#" id="save-checkin"><span class="glyphicon glyphicon-floppy-disk"></span>Save</a>
    </div>
</div>                     