/*custom.css*/
.ui-sortable-placeholder {
    outline: 1px dashed #5E5555;
    visibility: visible!Important;
    border-radius: 4px;
    background: transparent!Important;
}

#aj-imp-builder-drag-drop > div.row{
	margin-bottom: 10px;
}

#aj-imp-builder-drag-drop > .layout-header, #aj-imp-builder-drag-drop > .layout-footer{
    min-height: 150px;
    /*background: url(../images/empty-drag-bg.svg) no-repeat center center #fff;*/
}

#aj-imp-builder-drag-drop .drag-here{
    position: absolute;
    height: 50px;    
    width: 100%;
    bottom:0px;
    text-align: center;
    /*background: url(../images/empty-drag-bg.svg) no-repeat center center #fff;*/
}

#aj-imp-builder-drag-drop > .layout-content {
    min-height: 400px;
    /*background: url(../images/empty-drag-bg.svg) no-repeat center center #fff;*/
}

li.ui-sortable-placeholder{
    height : 80px;
    list-style: none;
}

/*#aj-imp-builder-drag-drop > hr{
    margin-top: 0px;
    margin-bottom: 0px;
}*/

#controls-drag{
	z-index : 10000;
}

a{
    outline: none;
}

data-style="menu1" .dsd{

}

div.element-drop-loader{

    height      : 60px; 
    background  : url(../images/loader.gif) no-repeat center center #fff;
    position    : absolute;
    width: 100%;
    top: 0;

}

div.element-drop-loader > p{
    text-align: center;
    padding-top: 50px;
}

.settings{
    display:none;
}

.element-wrapper:hover{
    border : 1px solid orange;
}
.element-wrapper{
    border : 1px solid transparent;
}
.hover-class:hover > .element-controls .aj-imp-delete-btn{
    display: block
}
.hover-class:hover > .element-controls .aj-imp-drag-handle{
    display: block
}
.hover-class:hover > .element-controls .aj-imp-settings-btn{
    display: block
}
.element-wrapper .element-controls{
    position : relative;
}

.element-wrapper .element-controls .aj-imp-delete-btn{
    position: absolute;
    top: -13px;
    right: -13px;
    padding: 5px 10px 10px 5px;
}

.element-wrapper .element-controls .aj-imp-drag-handle{
    position: absolute;
    top: -13px;
    left: 0%;
    padding: 5px 20px 0;
    margin-left: -48px;
}
.element-wrapper .element-controls .aj-imp-settings-btn{
    position: absolute;
    top: -13px;
    right: 10px;
    padding: 5px 10px 10px 5px;
    display:none;
}

.droppable-column{
    min-height: 200px;
}

#elements-box-region{
    position:absolute;
    top:100px;
}

#settings-region{
    position: absolute !important;
    z-index : 1000;
}