<div class="tab-pane active" id="rooms">
	<h6 class="aj-imp-sub-head">{{#polyglot}}Room Translations{{/polyglot}}</h6>
	
	<div class="pick-room">
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="original-content">

			</div>
		</div>
		<div class="col-md-6">
			<div class="translated-content">

			</div>
		</div>
	</div>


	<h6 class="aj-imp-sub-head">{{#polyglot}}Common Room Elements{{/polyglot}}</h6>

	<div id="original-rooms-facilities">
	</div>

	<div id="translated-rooms-facilities">
	</div>	

	<hr class="dark">

	<div id="original-rooms-dateranges">
	</div>

	<div id="translated-rooms-dateranges">
	</div>	

	<hr class="dark">

	<div id="original-policy">
	</div>

	<div id="translated-policy">
	</div>

	<hr class="dark">

	<div class="pick-plan">
	</div>	

	<div class="row">
		<div class="col-md-6">
			<div class="original-plan-content">

			</div>
		</div>
		<div class="col-md-6">
			<div class="translated-plan-content">

			</div>
		</div>
	</div>


</div>
 