<div class="tab-pane active" id="rooms">
	<h6 class="aj-imp-sub-head">{{#polyglot}}Room Translations{{/polyglot}}</h6>
	
	<div class="pick-room">
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="original-content">

				<!-- <div class="form-group legend-group">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="col-sm-3 control-label" for=""></label>
							<div class="col-sm-9 col-sm-offset-3">
								<h6 class="aj-imp-widget-title">{{#polyglot}}Original Text{{/polyglot}} (<small>{{defaultLanguage}}</small>)</h6>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group legend-group">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="">{{#polyglot}}Room Name{{/polyglot}}</label>
							<div class="col-sm-9 col-sm-offset-3">
								<p class="original">
									{{#polyglot}}Standard Room{{/polyglot}}
								</p>
							</div>
						</div>
					</div>
				</div>

				<div class ="form-group legend-group">
					<div class="col-sm-12">
						<div class="form-group">
							<label class="col-sm-3 control-label" for="">{{#polyglot}}Room Description{{/polyglot}}</label>
							<div class="col-sm-9 col-sm-offset-3">
								<p class="original">
									{{#polyglot}}Lorem Ipsum{{/polyglot}} 
								</p>
							</div>
						</div>
					</div>
				</div> -->

			</div>
		</div>
		<div class="col-md-6">
			<div class="translated-content">
<!-- 				<div class="form-group legend-group">
					
					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<h6 class="aj-imp-widget-title">{{#polyglot}}Translation{{/polyglot}} (<small>{{editingLanguage}}</small>)</h6>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group legend-group">
					

					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
							</div>
						</div>
					</div>
				</div>

				<div class="form-group legend-group">
					

					<div class="col-sm-12">
						<div class="form-group">
							<div class="col-sm-12">
								<textarea type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control"></textarea>
							</div>
						</div>
					</div>
				</div> -->
			</div>
		</div>
	</div>


	<!--<h6 class="aj-imp-sub-head">{{#polyglot}}Common Room Elements{{/polyglot}}</h6>
	
	<div class="form-group dual">
		<div class="col-sm-7">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="">{{#polyglot}}Facility #1{{/polyglot}}</label>
				<div class="col-sm-9 col-sm-offset-3">
					<p class="original">
						{{#polyglot}}Television{{/polyglot}}
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group dual">
		<div class="col-sm-7">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="">{{#polyglot}}Facility #2{{/polyglot}}</label>
				<div class="col-sm-9 col-sm-offset-3">
					<p class="original">
						{{#polyglot}}Room Service{{/polyglot}}
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group dual">
		<div class="col-sm-7">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="">{{#polyglot}}Date Range #1{{/polyglot}}</label>
				<div class="col-sm-9 col-sm-offset-3">
					<p class="original">
						{{#polyglot}}Summer Season{{/polyglot}}
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group dual">
		<div class="col-sm-7">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="">{{#polyglot}}Date Range #2{{/polyglot}}</label>
				<div class="col-sm-9 col-sm-offset-3">
					<p class="original">
						{{#polyglot}}Winter Season{{/polyglot}}
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
				</div>
			</div>
		</div>
	</div>

	<div class="form-group dual">
		<div class="col-sm-7">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="">{{#polyglot}}Plan #1{{/polyglot}}</label>
				<div class="col-sm-9 col-sm-offset-3">
					<p class="original">
						{{#polyglot}}Backpackers Plan{{/polyglot}}
					</p>
				</div>
			</div>
		</div>

		<div class="col-sm-5">
			<div class="form-group">
				<div class="col-sm-12">
					<input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>
 -->