.aj-imp-dash-mobile-header
	a#nav-trigger(href='#')
		span.fui-list
		| Menu
.aj-imp-dash-logo
	a(href='#')
		img.img-responsive(src='http://localhost/impruw/surajair123/wp-content/themes/impruwclientparent/dashboard/images/impruw-logo.png', title='Impruw', alt='Impruw')
nav.aj-imp-dash-nav
	ul#aj-imp-dash-menu