<div class="form-group">
    <label for="inputSocial2" class="col-sm-2 control-label">Plan Type</label>
    <div class="col-sm-9 col-sm-offset-2">
        <input type="text" class="form-control" name="plan_name" placeholder="eg. American Plan" required>
        <div class="p-messages"></div>
    </div>
</div>
<div class="form-group">
    <label for="inputSEO1" class="col-sm-2 control-label">Plan Description
    </label>
    <div class="col-sm-9 col-sm-offset-2">
        <textarea class="form-control" rows="3" id="plandescription" name="plan_description" placeholder="eg. This Plan is inclusive of 3 meals a day." required></textarea>
        <div class="p-messages"></div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default aj-imp-modal-save" id="btn_addplan">
        <i class="fui-plus"></i> Add Plan
    </button>
</div>
