<!-- <ul class="nav nav-pills"> -->
	<!-- <li class="active"><a href="#site" data-toggle="tab">{{#polyglot}}Site{{/polyglot}}</a></li>
	<li><a href="#home" data-toggle="tab">{{#polyglot}}Home{{/polyglot}}</a></li>
	<li><a href="#about-us" data-toggle="tab">{{#polyglot}}About Us{{/polyglot}}</a></li>
	<li id="room-btn"><a href="#rooms" data-toggle="tab">{{#polyglot}}Rooms{{/polyglot}}</a></li>
	<li><a href="#contact-us" data-toggle="tab">{{#polyglot}}Contact Us{{/polyglot}}</a></li> -->
<!-- </ul> -->