//
// Variables
// --------------------------------------------------


//== Colors
//
//## Brand colors for use across Bootstrap blue.

@primary1: #5ca9a1;
// Used in Links, Headings, Selection Background, Header Background, Menus, Buttons, Room Elements, Social Links

@secondary1: #656565;
// Used in Buttons, Room Elements, Footer Background, Social Links, Titles, Selection Background

@primary2: (@primary1 + #222);
@secondary2: (@secondary1 + #333);
@tertiary1: #e1e1e1;
// Used in Room Elements, Headings

@text-color: lighten(@secondary1, 10%);
@button-color: @primary1;

@white: #FFFFFF;
@black: #000;

//== Padding, Margins, etc
//

@regular: 0.5em;
@medium: 1em;
@large: 1.5em;
