
<ul class="nav nav-tabs">
  <li class="active"><a href="#upload-region" data-toggle="tab">Upload</a></li>
  <li><a href="#all-media-region" data-toggle="tab">All Media</a></li>
  <li><a href="#slider-region" data-toggle="tab">Sliders</a></li>
</ul>
<div class="tab-content">
  <div id="upload-region" class="tab-pane active"></div>
  <div id="all-media-region" class="tab-pane">
    <div id="grid-region" class="col-md-9"></div>
    <div id="selected-media-region" class="col-md-3">
      <div class="pick-image"><span class="glyphicon glyphicon-hand-left"></span>
        <h4>Select an Image from the library</h4>
      </div>
    </div>
  </div>
  <div id="slider-region" class="tab-pane"></div>
</div>
<div class="clearfix"></div>