<div class="col-sm-6 column">
	<div class="clearfix">
		&nbsp;
		<div class="aj-imp-drag-elements-message"><span class="glyphicon glyphicon-transfer"></span>Drag Elements Here</div>
	</div>
</div>
<div class="col-sm-6 column">
	<div class="clearfix">
		&nbsp;
		<div class="aj-imp-drag-elements-message"><span class="glyphicon glyphicon-transfer"></span>Drag Elements Here</div>
	</div>
</div>
<div class="aj-imp-drag-handle">
	<a href="#" title="Move">
		<span class="icon-uniF140"></span>
	</a>
</div>
<div class="aj-imp-delete-btn">
	<a href="#" title="Delete">
		&times;
	</a>
</div>
<div class="aj-imp-col-divider">
	<a href="#" title="Drag to adjust width">
		<span class="icon-uniF140"></span>
	</a>
</div>