<div class="col-sm-6 column">
	<div class="aj-imp-drag-elements-message"><span class="glyphicon glyphicon-transfer"></span>Drag Elements Here</div></div>
</div>
<div class="col-sm-6 column">
	<div class="aj-imp-drag-elements-message"><span class="glyphicon glyphicon-transfer"></span>Drag Elements Here</div></div>
</div>
<div class="aj-imp-drag-handle">
	<a href="#" title="Move">
		<span class="glyphicon glyphicon-move"></span>
	</a>
</div>
<div class="aj-imp-delete-btn">
	<a href="#" title="Delete">
		<span class="glyphicon glyphicon-trash"></span>
	</a>
</div>