.row
  #buttons-group
    input#totVisitCheckbox.chart-button(type='checkbox', name='visit', value='ga:visits', checked='checked')
    label(for='visit') Total Visitors
    input#uniqueVisitCheckbox.chart-button(type='checkbox', name='unique', value='ga:visitors', checked='checked')
    label(for='unique') Unique Visitor
    input#newVisitCheckbox.chart-button(type='checkbox', name='new', value='ga:newVisits', checked='checked')
    label(for='new') New Visitor
    input#pageViewCheckbox.chart-button(type='checkbox', name='page', value='ga:pageviews', checked='checked')
    label(for='page') Page Views
.row
  #overview-chart-region
