#buttons-group.btn-group(data-toggle='buttons')
    label.btn(for='visit') 
        input#totVisitCheckbox.chart-button(type='checkbox', name='visit', value='ga:visits', checked='checked')
        |Total Visitors
    label.btn(for='unique') 
        input#uniqueVisitCheckbox.chart-button(type='checkbox', name='unique', value='ga:visitors', checked='checked')
        |Unique Visitor
    label.btn(for='new') 
        input#newVisitCheckbox.chart-button(type='checkbox', name='new', value='ga:newVisits', checked='checked')
        |New Visitor
    label.btn(for='page') 
        input#pageViewCheckbox.chart-button(type='checkbox', name='page', value='ga:pageviews', checked='checked')
        |Page Views
#overview-chart-region
