#overview-chart-region
#buttons-group
    label(for='visit') 
        input#totVisitCheckbox.chart-button(type='checkbox', name='visit', value='ga:visits', checked='checked', data-toggle='switch')
        |Total Visitors
    label(for='unique') 
        input#uniqueVisitCheckbox.chart-button(type='checkbox', name='unique', value='ga:visitors', checked='checked', data-toggle='switch')
        |Unique Visitor
    label(for='new') 
        input#newVisitCheckbox.chart-button(type='checkbox', name='new', value='ga:newVisits', checked='checked', data-toggle='switch')
        |New Visitor
    label(for='page') 
        input#pageViewCheckbox.chart-button(type='checkbox', name='page', value='ga:pageviews', checked='checked', data-toggle='switch')
        |Page Views