<div class="col-sm-6">
    <form class="form-horizontal single-card">
        <h4 class="aj-imp-sub-head-thin">{{card_type}}</h4>
        <div class="form-group">
            <label class="col-sm-4 control-label">Name on the Card</label>

            <div class="col-sm-8 col-sm-offset-4">
                <input type="text" class="form-control" id="card_name"
                       placeholder="Name on the Card" data-braintree-name="cardholderName"
                       value="{{customer_name}}" readonly="readonly">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Card Number</label>

            <div class="col-sm-8 col-sm-offset-4">
                <input type="text" class="form-control" id="card_number"
                       placeholder="Card Number" data-braintree-name="number"
                       value="{{card_number}}" readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-4 control-label">Security Code</label>

            <div class="col-sm-8 col-sm-offset-4">
                <input type="password" class="form-control card-cvv " placeholder="CVV"
                       data-braintree-name="cvv"  >

            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Expires On</label>
            <div class="col-sm-8 col-sm-offset-4">
                <input type="text" class="form-control "
                       data-braintree-name="expiration_date" value="{{expiration_date}}"
                       readonly="readonly" id="expiration-date">

            </div>

        </div>
        <div class="form-group margin-top">
            <div class="col-sm-8 col-sm-offset-4">
                <button type="submit" class="btn btn-xs aj-imp-orange-btn btn-pay">
                    Proceed to Pay
                </button>
            </div>
        </div>

    </form>
    <img src="{{THEMEURL}}/images/loader.gif" width="38" height="30" class="loader" style="display:none ">
</div>