header.settings-header
	.row
		.col-sm-10
			h5.title {{element}} Settings
		.col-sm-2.close-btn
			a(class='close-settings', href='#') &times;
	.row
		.col-sm-12
			form(action='', method='POST', role='form')
				.form-group
					label(for='') Choose Style
					select(name="style")
						{{#styles}}
						option(value="{{.}}") {{.}}
						{{/styles}}
				.form-group
					label(for='') Align
					select(name="align")
						{{#align}}
						option(value="{{.}}") {{.}}
						{{/align}}