<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            My Profile
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="alert alert-success" id="userprofilesave_status" style="display:none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            Your details have been successfully saved
        </div>
        <div class="scroll-indicator-container" id="scr1">
            <h4 class="aj-imp-sub-head scroll-ref">
                General
                <small>
                    General Information about you.
                </small>
            </h4>
            <div id="user-general-form"></div>
        </div>
        <div class="scroll-indicator-container" id="scr2">
            <h6 class="aj-imp-sub-head-thin scroll-ref">
                Change your Password
                <small>
                    Change your Impruw password.
                </small>
            </h6>
            <div id="form-userpass"></div>
        </div>
        <div class="scroll-indicator-container" id="scr2">
            <h6 class="aj-imp-sub-head-thin scroll-ref">
                Change Language
                <small>
                    Change the default language used across your site.
                </small>
            </h6>
            <form class="form-horizontal clearfix">
                <div class="form-group">
                    <label for="inputAddress4" class="col-sm-2 control-label">
                        Select Language
                    </label>
                    <div class="col-sm-10 col-sm-offset-2">
                        <select>
                            <option value="English">
                                English
                            </option>
                            <option value="Norsk">
                                Norsk
                            </option>
                            <option value="Swedish">
                                Swedish
                            </option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>