// element box description
p.desc.move-cursor Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// builder row element
li.aj-imp-add-row.builder-element(data-element="Row" data-placeholder-height="120")
	a(href="#") 
		span.glyphicon.glyphicon-align-justify
		|Add New Row
		span.glyphicon.glyphicon-fullscreen.pull-right

// tab type
ul.nav.nav-tabs#builder-box-tabs
	li.active: a(href="#content" data-toggle="tab") Content
	li: a(href="#room-elements" data-toggle="tab") Room

// tab content
.tab-content
	// #content elements
	#content.tab-pane.active
		ul.aj-imp-builder-items.clearfix

	// #room element
	#room-elements.tab-pane
		ul.aj-imp-builder-items.clearfix