<div class="layout">
	<span class="icon-uniF13C"></span>
	<div class="aj-imp-descriptor">Social</div>
</div>
<div class="content">
	<p contenteditable="true" class="aj-imp-edit-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
</div>