<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Billing{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="alert alert-success" id="billingsave_status" style="display:none;">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{#polyglot}}Details saved{{/polyglot}}
        </div>
        <div class="billing-container">
            <div class="aj-imp-dash-widget">
            <ul class="nav nav-pills">
                <li class="active"><a href="#purchase-history" data-toggle="tab">{{#polyglot}}Purchase History{{/polyglot}}</a></li>
                <li><a href="#billing-info" data-toggle="tab">{{#polyglot}}Billing Info{{/polyglot}}</a></li>
                <li><a href="#pricing-plans" data-toggle="tab">{{#polyglot}}Pricing Plans{{/polyglot}}</a></li>
            </ul>
            <div class="aj-imp-widget-container panel panel-default">
                <div class="panel-body">
                    <div class="aj-imp-widget-content">
                        <div class="tab-content">
                            <div class="tab-pane active" id="purchase-history">
                                
                                <h6 class="aj-imp-sub-head">{{#polyglot}}Purchase History{{/polyglot}}</h6>

                                <div class="aj-imp-widget-head row">
                                    <div class="col-sm-6 left">
                                        <h6 class="aj-imp-sub-head"><small>{{#polyglot}}Your Purchases of: {{/polyglot}}</small>
                                            <select>
                                                <option>Last 3 Months</option>
                                                <option>Last 6 Months</option>
                                                <option>Last 1 Year</option>
                                                <option>All Time</option>
                                            </select>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 right">
                                        <h6 class="aj-imp-sub-head"><small>{{#polyglot}}Domain Name: {{/polyglot}}</small>
                                            <select>
                                                <option>All</option>
                                                <option>Diamond</option>
                                                <option>Neon</option>
                                                <option>Pink</option>
                                            </select>
                                        </h6>
                                    </div>
                                </div>

                                <table class="table table-striped table-responsive table-hover">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Domain Name</th>
                                            <th>Plan</th>
                                            <th>Type</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>6 Apr 2013</td>
                                            <td>Neon</td>
                                            <td>Silver</td>
                                            <td>Manual</td>
                                            <td>&dollar; 120</td>
                                        </tr>
                                        <tr>
                                            <td>9 Apr 2013</td>
                                            <td>Neon</td>
                                            <td>Silver</td>
                                            <td>Automatic</td>
                                            <td>&dollar; 50</td>
                                        </tr>
                                        <tr>
                                            <td>20 July 2014</td>
                                            <td>Diamond</td>
                                            <td>Platinum</td>
                                            <td>Manual</td>
                                            <td>&dollar; 200</td>
                                        </tr>
                                        <tr>
                                            <td>1 Aug 2014</td>
                                            <td>Pink</td>
                                            <td>Silver</td>
                                            <td>Automatic</td>
                                            <td>&dollar; 40</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="pagination">
                                    <ul>
                                        <li class="previous">
                                            <a href="#" class="fui-arrow-left"></a>
                                        </li>

                                        <li><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>

                                        <li class="next">
                                            <a href="#" class="fui-arrow-right"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="billing-info">
                                
                                <h6 class="aj-imp-sub-head">{{#polyglot}}Update Billing Information{{/polyglot}}</h6>

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Name on the Card</label>
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <input type="text" class="form-control" placeholder="Name on the Card">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Card Number</label>
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <input type="text" class="form-control" placeholder="Name on the Card">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <span class="help-block">Enter the Card Number without any spaces.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Expires On</label>
                                        <div class="col-sm-2 col-sm-offset-2">
                                            <select>
                                                <option>Month</option>
                                                <option>01</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                                <option>05</option>
                                                <option>06</option>
                                                <option>07</option>
                                                <option>08</option>
                                                <option>09</option>
                                                <option>10</option>
                                                <option>11</option>
                                                <option>12</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2">
                                            <select>
                                                <option>Year</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                                <option>2020</option>
                                                <option>2021</option>
                                                <option>2022</option>
                                                <option>2023</option>
                                                <option>2024</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group margin-top">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button type="submit" class="btn btn-sm aj-imp-orange-btn">Update</button>&nbsp;
                                            <button type="button" class="btn btn-sm">Cancel</button>
                                        </div>
                                    </div>
                                </form>

                                <h6 class="aj-imp-widget-title">Billing Address</h6>
                                <p>Your Billing Address is used to prevent fraudulent use of your card. Enter the address exactly as it appears on your card statement.</p>

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputAddress1" class="col-sm-2 control-label">{{#polyglot}}Address{{/polyglot}}</label>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <input type="text" value="{{street}}" class="form-control" id="inputAddress1" placeholder="{{#polyglot}}21 Jump Street{{/polyglot}}" name="street">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group dual">
                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="inputAddress2" class="col-sm-5 control-label">{{#polyglot}}Postal Code{{/polyglot}}</label>
                                                <div class="col-sm-7 col-sm-offset-5">
                                                    <input type="text" class="form-control" name="postal_code" id="inputAddress2" data-mask="999-999" placeholder="{{#polyglot}}420-001{{/polyglot}}" value="{{postal_code}}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-5">
                                            <div class="form-group">
                                                <label for="inputAddress3" class="col-sm-5 control-label">{{#polyglot}}City Town{{/polyglot}}</label>
                                                <div class="col-sm-7 col-sm-offset-5">
                                                    <input type="text" class="form-control" id="inputAddress2" placeholder="{{#polyglot}}Gotham City{{/polyglot}}" name="city" value="{{city}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                    <div class="form-group">
                                        <label for="inputAddress4" class="col-sm-2 control-label dd-label">{{#polyglot}}Country{{/polyglot}}</label>
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <select name="country">
                                                <option value="Norway">{{#polyglot}}Norway{{/polyglot}}</option>
                                                <option value="Sweden">{{#polyglot}}Sweden{{/polyglot}}</option>
                                                <option value="Denmark">{{#polyglot}}Denmark{{/polyglot}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Email</label>
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <input type="email" class="form-control" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <span class="help-block">Enter the email to which an invoice is sent each time you are billed.</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <button type="submit" class="btn btn-sm aj-imp-orange-btn">Update</button>&nbsp;
                                            <button type="button" class="btn btn-sm">Cancel</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                            <div class="tab-pane" id="pricing-plans">
                                
                                <h6 class="aj-imp-sub-head">{{#polyglot}}Pricing Plans{{/polyglot}}</h6>

                                <div class="row price-plans">
                                    <div class="col-sm-3">
                                      <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                          <h3>Basic</h3>
                                        </div>
                                        <div class="panel-body">
                                          <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                                        </div>
                                        <ul class="list-group">
                                          <li class="list-group-item">5 Projects</li>
                                          <li class="list-group-item">5 GB of Storage</li>
                                          <li class="list-group-item">Up to 100 Users</li>
                                          <li class="list-group-item">10 GB Bandwidth</li>
                                          <li class="list-group-item">Security Suite</li>
                                          <li class="list-group-item"><a class="btn btn-block">Choose Plan!</a></li>
                                        </ul>
                                      </div>          
                                    </div>
                                    <div class="col-sm-3">
                                      <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                          <h3>Plus</h3>
                                        </div>
                                        <div class="panel-body">
                                          <h3 class="panel-title price">$19<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                                        </div>
                                        <ul class="list-group">
                                          <li class="list-group-item">10 Projects</li>
                                          <li class="list-group-item">10 GB of Storage</li>
                                          <li class="list-group-item">Up to 250 Users</li>
                                          <li class="list-group-item">25 GB Bandwidth</li>
                                          <li class="list-group-item">Security Suite</li>
                                          <li class="list-group-item"><a class="btn btn-block">Choose Plan!</a></li>
                                        </ul>
                                      </div>          
                                    </div>
                                    <div class="col-sm-3">
                                      <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                          <h3>Premium</h3>
                                        </div>
                                        <div class="panel-body">
                                          <h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                                        </div>
                                        <ul class="list-group">
                                          <li class="list-group-item">Unlimited</li>
                                          <li class="list-group-item">50 GB of Storage</li>
                                          <li class="list-group-item">Up to 1000 Users</li>
                                          <li class="list-group-item">100 GB Bandwidth</li>
                                          <li class="list-group-item">Security Suite</li>
                                          <li class="list-group-item"><a class="btn btn-block">Choose Plan!</a></li>
                                        </ul>
                                      </div>          
                                    </div>
                                    <div class="col-sm-3">
                                      <div class="panel panel-default text-center">
                                        <div class="panel-heading">
                                          <h3>Ultimate</h3>
                                        </div>
                                        <div class="panel-body">
                                          <h3 class="panel-title price">$49<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                                        </div>
                                        <ul class="list-group">
                                          <li class="list-group-item">Unlimited</li>
                                          <li class="list-group-item">150 GB of Storage</li>
                                          <li class="list-group-item">Unlimited</li>
                                          <li class="list-group-item">500 GB Bandwidth</li>
                                          <li class="list-group-item">Security Suite</li>
                                          <li class="list-group-item"><a class="btn btn-block">Choose Plan!</a></li>
                                        </ul>
                                      </div>          
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>