<div class="aj-imp-dash-content">
	<header class="aj-imp-dash-header row">
		<div class="aj-imp-dash-title col-sm-12">
			<h2 class="aj-imp-page-head">{{#polyglot}}Languages{{/polyglot}} &amp; {{#polyglot}}Translations{{/polyglot}}</h2> 
		</div>
	</header>
	<div class="language">
		<div class="pick-language-container" id="pick-language">

		</div>
		
		<div class="aj-imp-dash-widget">
			<div id="js-page-nav">

			</div>

			<form class="form-horizontal clearfix">
				<div class="aj-imp-widget-container panel panel-default">
					<div class="panel-body">
						<div class="aj-imp-widget-content">
							<div id="js-other-tabs">

							</div>
							<div id="js-rooms-tab">

							</div>
							<div id="js-address-tab">

							</div>
						</div>
					</div>
				</div>
			</form>  
		</div>

	</div>
</div>