<div class="aj-imp-drag-menu">
	<ul class="nav nav-tabs" id="builder-box-tabs">
		<li class="active"><a href="#content" data-toggle="tab">Content</a></li>
		<li><a href="#structure" data-toggle="tab">Structure</a></li>
		<li><a href="#social" data-toggle="tab">Social</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="content">
			<p class="desc">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			</p>
			<ul class="aj-imp-builder-items clearfix">
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf13c;"></div>
					<div class="aj-imp-builder-title">Title</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf111;"></div>
					<div class="aj-imp-builder-title">Text</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf112;"></div>
					<div class="aj-imp-builder-title">Image + Text</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf10e;"></div>
					<div class="aj-imp-builder-title">Image</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf10c;"></div>
					<div class="aj-imp-builder-title">Gallery</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf110;"></div>
					<div class="aj-imp-builder-title">Map</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf119;"></div>
					<div class="aj-imp-builder-title">Slideshow</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf103;"></div>
					<div class="aj-imp-builder-title">Columns</div>
					</a>
				</li>
				<li>
					<a href="#">
					<div class="aj-imp-builder-icon" data-icon="&#xf10a;"></div>
					<div class="aj-imp-builder-title">Contact Form</div>
					</a>
				</li>
			</ul>
		</div>
		<div class="tab-pane" id="structure">
			Structure
		</div>
		<div class="tab-pane" id="social">
			Social
		</div>
	</div>
</div>