
<nav role="navigation" class="aj-imp-builder-top-nav row">
  <div class="aj-imp-builder-back col-sm-2">
    <p class="navbar-text"><a href="{{DASHBOARDURL}}"><span class="glyphicon glyphicon-arrow-left"></span> Back to Dashboard</a></p>
  </div>
  <div class="aj-imp-page-layout col-sm-3 clearfix navbar-text">Page: 
    <select id="aj-imp-page-sel" name="aj-imp-page-sel">
      <option value="">Choose </option>
    </select>
    <button type="button" class="btn btn-primary add-new-page">Add Page</button>
  </div>
  <div class="col-sm-4 clearfix navbar-text"> 
    <a href="#choose-theme" class="btn btn-primary pull-right choose-theme">Choose Theme</a>
  </div>
  <div class="aj-imp-builder-top-options col-sm-2 navbar-text">
    <a href="{{LOGOUTURL}}" class="btn btn-danger btn-logout"><span class="glyphicon glyphicon-off"></span> Logout</a>
  </div>
</nav>