<nav role="navigation" class="aj-imp-builder-top-nav row">
  <div class="aj-imp-builder-back col-sm-2">
    <p class="navbar-text"><a href="{{DASHBOARDURL}}"><span class="glyphicon glyphicon-arrow-left"></span>{{#polyglot}}Back to Dashboard{{/polyglot}}</a></p>
  </div>

  <div class="aj-imp-builder-top-options aj-imp-page-layout col-sm-8 clearfix navbar-text">
    <a href="#choose-theme" class="btn btn-xs choose-theme"><span class="bicon icon-uniF185"></span>{{#polyglot}}Switch Theme{{/polyglot}}</a>
    
    <div id="aj-imp-color-sel"> 
     <!-- <a class="btn btn-default" data-toggle="modal" href="#theme-color-pop">Change Theme Colors</a> -->
      <a class="btn btn-default">{{#polyglot}}Change Theme Colors{{/polyglot}}</a>

    </div>
  </div>

  <div class="aj-imp-builder-top-options col-sm-2 clearfix"> 
    <a href="#" class="builder-help">{{#polyglot}}Need Help{{/polyglot}}<span class="bicon icon-uniF13B"></span></a>
  </div>
</nav>

