<div class="col-counter">
					<div class="modal-body-title col-counter-label">
						Choose the Number of Columns:
					</div>
					<div class="row set-column-count">
						<div class="col-sm-1">
							<div class="col-item" data-col="1">
								<img class="img-responsive " src="{{THEMEURL}}/images/1-column.png">
								<div class="col-label">1 Column</div>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="col-item " data-col="2">
								<img class="img-responsive " src="{{THEMEURL}}/images/2-column.png">
								<div class="col-label">2 Columns</div>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="col-item" data-col="3">
								<img class="img-responsive " src="{{THEMEURL}}/images/3-column.png">
								<div class="col-label">3 Columns</div>
							</div>
						</div>
						<div class="col-sm-1">
							<div class="col-item" data-col="4">
								<img class="img-responsive " src="{{THEMEURL}}/images/4-column.png">
								<div class="col-label">4 Columns</div>
							</div>
						</div>
						
						<div class="col-sm-1">
							<div class="col-item" data-col="6">
								<img class="img-responsive " src="{{THEMEURL}}/images/6-column.png">
								<div class="col-label">6 Columns</div>
							</div>
						</div>
					</div>
				</div>

				<div>
					<div class="tab-content clearfix"> 
						<div class="modal-body-title">
							Choose your Row Style:
						</div>
						<div class="tab-pane active" id="all-media-region"> 
							<div id="grid-region">
								<div class="row">
									<div class="thumbnails overflow-view style-select">
										{{#styles}}
										<div class="col-sm-3 single-item " data-style="{{name}}">
											<a class="thumbnail " href="#"> 
												<div class="imgthumb ">
													<img class="img-responsive " src="{{CURRENTTHEMEURL}}/resources/img/{{slug}}.png">
												</div> 
												<div class="caption">
													<h3 class="item-title">{{name}}</h3>
													<p class="item-desc">
														{{desc}}
													</p>
												</div>
												<div class="ticker ">
													<span class="glyphicon glyphicon-ok "></span>
													<span class="glyphicon glyphicon-minus "></span>
												</div> 
											</a> 
										</div>
										{{/styles}}
									</div>
								</div>
							</div> 
						</div> 
					</div>
				</div>
				<div class="modal-help-text">
					<span class="glyphicon glyphicon-info-sign"></span>
					The changes you make will be applied in your builder.
				</div>