<h6 class="aj-imp-sub-head">{{#polyglot}}Plan Details{{/polyglot}}</h6>
<div class="aj-imp-widget-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Active Plan:{{/polyglot}}</small>
            {{plan_title}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <a href="#/billing/pricing-plans" class="btn btn-xs aj-imp-orange-btn">{{#polyglot}}Change Plan{{/polyglot}}</a>
    </div>
    <div class="col-sm-12">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Plan Features:{{/polyglot}}<small>
            <br/>
            {{#plan_features}}
            <div class="col-sm-6 left">
                <h6 class="aj-imp-sub-head-thin">
                    <small>{{name}}</small>
                    <small>{{enabled}}</small>
                </h6>
            </div>
            <div class="col-sm-6 right">
                <h6 class="aj-imp-sub-head-thin">
                    <small>{{#polyglot}}Allowed Count: {{/polyglot}} </small>
                    <small>{{count}}</small>
                </h6>
            </div>
            {{/plan_features}}
        </h6>

 <!--            <div class="col-sm-6 left">
                <h6 class="aj-imp-sub-head-thin">
                    <small>{{#polyglot}}Email Account: {{/polyglot}} </small>
                    <small>Enabled</small>
                </h6>
            </div>
            <div class="col-sm-6 right">
                <h6 class="aj-imp-sub-head-thin">
                    <small>{{#polyglot}}Allowed Count: {{/polyglot}} </small>
                    <small>1</small>
                </h6>
            </div>
            <div class="col-sm-6 left">
                <h6 class="aj-imp-sub-head-thin">
                    <small>{{#polyglot}}Site Add ons: {{/polyglot}} </small>
                    <small>Enabled</small>
                </h6>
            </div>
            <div class="col-sm-6 right">
                <h6 class="aj-imp-sub-head-thin">
                    <small>{{#polyglot}}Allowed Count: {{/polyglot}} </small>
                    <small>3</small>
                </h6>
            </div> -->
        
    </div>
    <div class="col-sm-12">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Addons visible on the site: {{/polyglot}} </small>
            <br/>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" value=""> Language Switcher </label>
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" value=""> Smart Table </label>
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" value=""> Display Rooms </label>
            </div>
            <div class="form-group">
                <label class="checkbox"><input type="checkbox" value=""> Room Booking </label>
            </div>
        </h6>
    </div>
</div>
<br/>
<hr>
<h6 class="aj-imp-sub-head">{{#polyglot}}Subscription Details{{/polyglot}}</h6>
<div class="aj-imp-widget-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Subscription Status:{{/polyglot}}</small>
            {{subscription_status}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Billing Frequency:{{/polyglot}} </small>
            {{subscription_type}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Current billing cycle:{{/polyglot}} </small>
            <span>
                <small>{{#polyglot}}From:{{/polyglot}} </small>
                 {{billingPeriodStartDate}}
            </span>
            <span>
                <small>- </small>
                {{billingPeriodEndDate}}
            </span>
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Billing Amount:{{/polyglot}} </small>
            &#163; {{price}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Next billing date:{{/polyglot}} </small>
            {{nextBillingDate}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Next Billing period Amount:{{/polyglot}} </small>
            &#163; {{nextBillAmount}}
        </h6>
    </div>
</div>


