<div class="aj-imp-widget-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>Active Plan: </small>
            {{plan_name}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>Active Since: </small>
            {{start_date}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>Subscription Type: </small>
            {{subscription_type}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>Payment: </small>
            &#163; {{price}}
        </h6>
    </div>
    <div class="col-sm-12 ">
        <h6 class="aj-imp-sub-head-thin">
            <small>Current billing cycle: </small>
            <span>
                <small>From: </small>
                 {{bill_start}}
            </span>
            <span>
                <small>To: </small>
                {{bill_end}}
            </span>
        </h6>
    </div>
</div>
<br>
<a href="#/billing/pricing-plans" class="btn btn-xs aj-imp-orange-btn">Change Plan</a>
<a href="#" class="red-link" id="deactivate-sub"><span class="glyphicon glyphicon-ban-circle"></span>
Deactivate Subscription</a>