<div class="row">
    <div class="col-sm-4">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Subscription Status:{{/polyglot}}</small>
        </h6>
        <h5 class="panel-title">
            {{subscription_status}}
        </h5><br>
    </div>
    <div class="col-sm-4">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Billing Timezone:{{/polyglot}} </small>
        </h6>
        <h5 class="panel-title">
            {{timezone}}
        </h5><br>
    </div>
    <div class="col-sm-4">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Current billing cycle:{{/polyglot}}</small>
        </h6>
        <h5 class="panel-title">            
            <span>
                 {{billingPeriodStartDate}}
            </span>
            <span>
                - 
                {{billingPeriodEndDate}}
            </span>
        </h5><br>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Billing Amount:{{/polyglot}}</small>
        </h6>
        <h5 class="panel-title">
            {{currency}} {{price}}
        </h5><br>
    </div>
    <div class="col-sm-4">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Next billing date:{{/polyglot}}</small>
        </h6>
        <h5 class="panel-title">
            {{nextBillingDate}}
        </h5><br>        
    </div>
    <div class="col-sm-4">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Next Billing period Amount:{{/polyglot}} </small>
        </h6>
        <h5 class="panel-title">
            {{currency}} {{nextBillAmount}}
        </h5>    
    </div>
</div>