<div class="aj-imp-widget-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Card holder Name:{{/polyglot}} </small>
            {{customer_name}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Credit card number:{{/polyglot}} </small>
            {{card_number}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Card Type:{{/polyglot}} </small>
            {{card_type}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>{{#polyglot}}Expiry Date:{{/polyglot}} </small>
            {{expiration_date}}
        </h6>
    </div>
</div>
<br>

