<div class="aj-imp-widget-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>Card holder Name: </small>
            {{customer_name}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head-thin">
            <small>Credit card number: </small>
            {{card_number}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>Card Type: </small>
            {{card_type}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head-thin">
            <small>Expiry Date: </small>
            {{expiration_date}}
        </h6>
    </div>
</div>
<br>

