<div class="aj-imp-widget-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head">
            <small>Billing Name: </small>
            {{plan_name}}
        </h6>
    </div>
    <div class="col-sm-6 right">
        <h6 class="aj-imp-sub-head">
            <small>Credit card number: </small>
            {{active_since}}
        </h6>
    </div>
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head">
            <small>Card Type: </small>
            {{subscription_type}}
        </h6>
    </div>
</div>
<a href="#">Update</a>
<a href="#">Delete</a>
