<header class="aj-imp-dash-header row">
    <div class="aj-imp-dash-title col-sm-12">
        <h2 class="aj-imp-page-head">
            {{#polyglot}}Account Summary{{/polyglot}}
        </h2>
    </div>
</header>
<div class="row">
    <div class="aj-imp-dash-content col-md-12">
        <div class="billing-container">
            <h6 class="aj-imp-sub-head">Account Information</h6>
            <div id="account-info"></div>
            <div id="pending-sub"></div>
            <hr>
            <h6 class="aj-imp-sub-head">Active Plan Card Information</h6>
            <div id="billing-info">
            </div>
            <a href="#/billing/update-billing">View more details </a>
            <hr>
            <h6 class="aj-imp-sub-head">Purchase History</h6>
            <div id="purchase-history"></div>
        </div>
    </div>
</div>