<div class="aj-imp-table-head row">
    <div class="col-sm-6 left">
        <h6 class="aj-imp-sub-head">
            <small>{{#polyglot}}Your Purchases of: {{/polyglot}}</small>
            <select>
                <option>{{#polyglot}}Last 3 Months{{/polyglot}}</option>
                <option>{{#polyglot}}Last 6 Months{{/polyglot}}</option>
                <option>{{#polyglot}}Last 1 Year{{/polyglot}}</option>
                <option>{{#polyglot}}All Time{{/polyglot}}</option>
            </select>
        </h6>
    </div>

</div>

<table class="table table-striped table-responsive table-hover">
    <thead>
    <tr>
        <th>{{#polyglot}}Date{{/polyglot}}</th>
        <!--<th>Domain Name</th>-->
        <th>{{#polyglot}}Plan{{/polyglot}}</th>
        <th>{{#polyglot}}Type{{/polyglot}}</th>
        <th>{{#polyglot}}Total{{/polyglot}}</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!--<div class="pagination">-->
    <!--<ul>-->
        <!--<li class="previous">-->
            <!--<a href="#" class="fui-arrow-left"></a>-->
        <!--</li>-->

        <!--<li><a href="#">1</a></li>-->
        <!--<li><a href="#">2</a></li>-->
        <!--<li><a href="#">3</a></li>-->
        <!--<li><a href="#">4</a></li>-->
        <!--<li><a href="#">5</a></li>-->

        <!--<li class="next">-->
            <!--<a href="#" class="fui-arrow-right"></a>-->
        <!--</li>-->
    <!--</ul>-->
<!--</div>-->