<div class="row">
    <div class="col-sm-12">
        <form>
            <h6 class="aj-imp-sub-head-thin">
                <small><b>{{#polyglot}}Addons visible on the site: {{/polyglot}}</b> </small>
            </h6>

            <div id="selected-site-addons" class="row"></div>

            <div class="js-update-siteaddons">
                <button class="btn btn-xs aj-imp-orange-btn" name="btn_update-selected-addons"
                id="btn_update-selected-addons"> {{#polyglot}}Update{{/polyglot}} </button>
            </div>
        </form>
    </div>
</div>