<div class="aj-imp-dash-content">
	<header class="aj-imp-dash-header row">
		<div class="aj-imp-dash-title col-sm-12">
			<h2 class="aj-imp-page-head">Languages &amp; Translation</h2> 
		</div>
	</header>
	<div class="language">
		<div class="aj-imp-dash-widget">
			<h5 class="aj-imp-sub-head-thin">
				Editing Language: &nbsp;
				<div class="btn-group bootstrap-select">
					<i class="dropdown-arrow"></i>
					<button data-toggle="dropdown" class="btn dropdown-toggle clearfix">
						<span class="filter-option pull-left">Norwegian</span>&nbsp;<span class="caret"></span>
					</button>
					<ul role="menu" class="dropdown-menu">
						<li rel="0" class="selected">
							<a class="opt " href="#" tabindex="-1"><span class="pull-left">Norwegian</span></a>
						</li>
						<li rel="1">
							<a class="opt " href="#" tabindex="-1"><span class="pull-left">Swedish</span></a>
						</li>
						<li rel="2">
							<a class="opt " href="#" tabindex="-1"><span class="pull-left">German</span></a>
						</li>
					</ul>
				</div>
			</h5>
			<ul class="nav nav-pills">
				<li class="active"><a href="#site" data-toggle="tab">Site</a></li>
				<li><a href="#home" data-toggle="tab">Home</a></li>
				<li><a href="#about-us" data-toggle="tab">About Us</a></li>
				<li><a href="#rooms" data-toggle="tab">Rooms</a></li>
				<li><a href="#contact-us" data-toggle="tab">Contact Us</a></li>
			</ul>
			<form class="form-horizontal clearfix">
				<div class="aj-imp-widget-container panel panel-default">
					<div class="panel-body">
						<div class="aj-imp-widget-content">
							<div class="tab-content">
								<div class="tab-pane active" id="site">
									
									<h6 class="aj-imp-sub-head">Site Elements</h6>
									
									<div class="form-group dual legend-group">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for=""></label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <h6 class="aj-imp-widget-title">Original Text <small>English</small></h6>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                               <h6 class="aj-imp-widget-title">Translation <small>Norwegian</small></h6>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Site Name</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Diamond Theme
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Site Description</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="Add Translation" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

									<h6 class="aj-imp-sub-head">Menu Translation</h6>
									
					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Link #1</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Home
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Link #2</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	About Us
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Link #3</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Rooms
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>
								</div>

								<div class="tab-pane" id="home">
									
									<h6 class="aj-imp-sub-head">Home Page Elements</h6>
									
									<div class="form-group dual legend-group">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for=""></label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <h6 class="aj-imp-widget-title">Original Text <small>English</small></h6>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                               <h6 class="aj-imp-widget-title">Translation <small>Norwegian</small></h6>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Page Name</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Diamond Theme Home
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Title #1</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Diamond Theme Demo
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Title #2</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Want to Make a Booking?
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Title #3</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	We Keep in Touch
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

									<h6 class="aj-imp-sub-head">Home Page Text Elements</h6>
									
					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Text Element #1</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="Add Translation" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Text Element #2</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="Add Translation" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Text Element #3</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="Add Translation" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>
								</div>

								<div class="tab-pane" id="about-us">
									<h6 class="aj-imp-sub-head">About Us Translations</h6>
								</div>

								<div class="tab-pane" id="rooms">
									<h6 class="aj-imp-sub-head">Room Translations</h6>
									
									<div class="form-group dual legend-group">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for=""></label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <h6 class="aj-imp-widget-title">Original Text <small>English</small></h6>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                               <h6 class="aj-imp-widget-title">Translation <small>Norwegian</small></h6>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Room #1 Name</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Standard Room
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Room #1 Description</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="Add Translation" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Room #2 Name</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Executive Room
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Room #2 Description</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="Add Translation" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

									<h6 class="aj-imp-sub-head">Room Elements</h6>
									
					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Facility #1</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Television
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Facility #2</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Room Service
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Date Range #1</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Summer Season
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Date Range #2</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Winter Season
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">Plan #1</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	Backpackers Plan
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="Add Translation" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>
								</div>

								<div class="tab-pane" id="contact-us">
									<h6 class="aj-imp-sub-head">Contact Us Translations</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="aj-imp-long-form-actions" data-spy="affix">
	                <div class="action">
	                    <!--<div class="affix-show">You have unsaved changes!</div>-->
	                    <button type="button" id="btn_savesitedetails"  name="btn_savesitedetails" class="btn btn-wide aj-imp-submit">Save</button>
	                    <img src ='{{THEMEURL}}/images/loader.gif' width="38" height="30"  id="siteprofilesubmitm_loader" style="display:none"/>
	                </div>
	            </div>
	        </form>
		</div>
	</div>
</div>