<div class="aj-imp-dash-content">
	<header class="aj-imp-dash-header row">
		<div class="aj-imp-dash-title col-sm-12">
			<h2 class="aj-imp-page-head">{{#polyglot}}Languages{{/polyglot}} &amp; {{#polyglot}}Translations{{/polyglot}}</h2> 
		</div>
	</header>
	<div class="language">
		<div class="pick-language-container">
			<div class="default-lang">
				{{#polyglot}}Your default language is:{{/polyglot}} <span>English</span>
			</div>
			<div class="pick-languages">
				<h6>Languages on my site:</h6>
				<form class="form-horizontal">
					<ul class="languages clearfix">
						<li>
							<div class="form-group">
								<label for="checkbox2" class="checkbox ">
						            <input type="checkbox" data-toggle="checkbox"  name="new_feature_alert" value="" id="new_feature_alert">
						            {{#polyglot}}Norwegian{{/polyglot}}
						        </label>
						    </div>
						</li>
						<li>
							<div class="form-group">
								<label for="checkbox2" class="checkbox ">
						            <input type="checkbox" data-toggle="checkbox"  name="new_feature_alert" value="" id="new_feature_alert">
						            {{#polyglot}}Norwegian{{/polyglot}}
						        </label>
						    </div>
						</li>
						<li>
							<div class="form-group">
								<label for="checkbox2" class="checkbox ">
						            <input type="checkbox" data-toggle="checkbox"  name="new_feature_alert" value="" id="new_feature_alert">
						            {{#polyglot}}Norwegian{{/polyglot}}
						        </label>
						    </div>
						</li>
						<li>
							<div class="form-group">
								<label for="checkbox2" class="checkbox ">
						            <input type="checkbox" data-toggle="checkbox"  name="new_feature_alert" value="" id="new_feature_alert">
						            {{#polyglot}}Norwegian{{/polyglot}}
						        </label>
						    </div>
						</li>
						<li>
							<div class="form-group">
								<label for="checkbox2" class="checkbox ">
						            <input type="checkbox" data-toggle="checkbox"  name="new_feature_alert" value="" id="new_feature_alert">
						            {{#polyglot}}Norwegian{{/polyglot}}
						        </label>
						    </div>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div class="aj-imp-dash-widget">
			<h5 class="aj-imp-sub-head-thin">
				{{#polyglot}}Editing Language{{/polyglot}} &nbsp;
				<div class="btn-group bootstrap-select">
					<i class="dropdown-arrow"></i>
					<button data-toggle="dropdown" class="btn dropdown-toggle clearfix">
						<span class="filter-option pull-left">{{#polyglot}}Norwegian{{/polyglot}}</span>&nbsp;<span class="caret"></span>
					</button>
					<ul role="menu" class="dropdown-menu">
						<li rel="0" class="selected">
							<a class="opt " href="#" tabindex="-1"><span class="pull-left">{{#polyglot}}Norwegian{{/polyglot}}</span></a>
						</li>
						<li rel="1">
							<a class="opt " href="#" tabindex="-1"><span class="pull-left">{{#polyglot}}Swedish{{/polyglot}}</span></a>
						</li>
						<li rel="2">
							<a class="opt " href="#" tabindex="-1"><span class="pull-left">{{#polyglot}}German{{/polyglot}}</span></a>
						</li>
					</ul>
				</div>
			</h5>
			<ul class="nav nav-pills">
				<li class="active"><a href="#site" data-toggle="tab">{{#polyglot}}Site{{/polyglot}}</a></li>
				<li><a href="#home" data-toggle="tab">{{#polyglot}}Home{{/polyglot}}</a></li>
				<li><a href="#about-us" data-toggle="tab">{{#polyglot}}About Us{{/polyglot}}</a></li>
				<li><a href="#rooms" data-toggle="tab">{{#polyglot}}Rooms{{/polyglot}}</a></li>
				<li><a href="#contact-us" data-toggle="tab">{{#polyglot}}Contact Us{{/polyglot}}</a></li>
			</ul>
			<form class="form-horizontal clearfix">
				<div class="aj-imp-widget-container panel panel-default">
					<div class="panel-body">
						<div class="aj-imp-widget-content">
							<div class="tab-content">
								<div class="tab-pane active" id="site">
									
									<h6 class="aj-imp-sub-head">{{#polyglot}}Site Elements{{/polyglot}}</h6>
									
									<div class="form-group dual legend-group">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for=""></label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <h6 class="aj-imp-widget-title">{{#polyglot}}Original Text{{/polyglot}} <small>{{#polyglot}}English{{/polyglot}}</small></h6>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                               <h6 class="aj-imp-widget-title">{{#polyglot}}Translation{{/polyglot}} <small>{{#polyglot}}Norwegian{{/polyglot}}</small></h6>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Site Name{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Diamond Theme{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Site Description{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Lorem Ipsum{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

									<h6 class="aj-imp-sub-head">{{#polyglot}}Menu Translation{{/polyglot}}</h6>
									
					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Link #1{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Home{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Link #2{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}About Us{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Link #3{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Rooms{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>
								</div>

								<div class="tab-pane" id="home">
									
									<h6 class="aj-imp-sub-head">{{#polyglot}}Home Page Elements{{/polyglot}}</h6>
									
									<div class="form-group dual legend-group">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for=""></label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <h6 class="aj-imp-widget-title">{{#polyglot}}Original Text{{/polyglot}} <small>{{#polyglot}}English{{/polyglot}}</small></h6>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                               <h6 class="aj-imp-widget-title">{{#polyglot}}Translation{{/polyglot}} <small>{{#polyglot}}Norwegian{{/polyglot}}</small></h6>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Page Name{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Diamond Theme Home{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Title #1{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Diamond Theme Demo{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Title #2{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Want to Make a Booking?{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Title #3{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}We Keep in Touch{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

									<h6 class="aj-imp-sub-head">{{#polyglot}}Home Page Text Elements{{/polyglot}}</h6>
									
					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Text Element #1{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Lorem Ipsum{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Text Element #2{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Lorem Ipsum{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Text Element #3{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Lorem Ipsum{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>
								</div>

								<div class="tab-pane" id="about-us">
									<h6 class="aj-imp-sub-head">{{#polyglot}}About Us Translations{{/polyglot}}</h6>
								</div>

								<div class="tab-pane" id="rooms">
									<h6 class="aj-imp-sub-head">{{#polyglot}}Room Translations{{/polyglot}}</h6>
									
									<div class="pick-room">
										Pick a Room: 
										<select>
											<option>Standard Room</option>
											<option>Executive Room</option>
											<option>Deluxe Room</option>
										</select>
									</div>

									<div class="form-group dual legend-group">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for=""></label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <h6 class="aj-imp-widget-title">{{#polyglot}}Original Text{{/polyglot}} <small>{{#polyglot}}English{{/polyglot}}</small></h6>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                               <h6 class="aj-imp-widget-title">{{#polyglot}}Translation{{/polyglot}} <small>{{#polyglot}}Norwegian{{/polyglot}}</small></h6>
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Room Name{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Standard Room{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Room Description{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Lorem Ipsum{{/polyglot}} 
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <textarea type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control"></textarea>
					                            </div>
					                        </div>
					                    </div>
					                </div>

									<h6 class="aj-imp-sub-head">{{#polyglot}}Common Room Elements{{/polyglot}}</h6>
									
					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Facility #1{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Television{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Facility #2{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Room Service{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Date Range #1{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Summer Season{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Date Range #2{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Winter Season{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>

					                <div class="form-group dual">
					                    <div class="col-sm-7">
					                        <div class="form-group">
					                            <label class="col-sm-3 control-label" for="">{{#polyglot}}Plan #1{{/polyglot}}</label>
					                            <div class="col-sm-9 col-sm-offset-3">
					                                <p class="original">
					                                	{{#polyglot}}Backpackers Plan{{/polyglot}}
					                                </p>
					                            </div>
					                        </div>
					                    </div>

					                    <div class="col-sm-5">
					                        <div class="form-group">
					                            <div class="col-sm-12">
					                                <input type="text" placeholder="{{#polyglot}}Add Translation{{/polyglot}}" id="" class="form-control">
					                            </div>
					                        </div>
					                    </div>
					                </div>
								</div>

								<div class="tab-pane" id="contact-us">
									<h6 class="aj-imp-sub-head">{{#polyglot}}Contact Us Translations{{/polyglot}}</h6>
								</div>
							</div>
						</div>
					</div>
				</div>
			
				<div class="aj-imp-long-form-actions" data-spy="affix">
	                <div class="action">
	                    <!--<div class="affix-show">You have unsaved changes!</div>-->
	                    <button type="button" id="btn_savesitedetails"  name="btn_savesitedetails" class="btn btn-wide aj-imp-submit">{{#polyglot}}Save{{/polyglot}}</button>
	                    <img src ='{{THEMEURL}}/images/loader.gif' width="38" height="30"  id="siteprofilesubmitm_loader" style="display:none"/>
	                </div>
	            </div>
	        </form>
		</div>
	</div>
</div>