/* 
    Created on : 10 March, 2014, 1:25:41 PM
    Author     : jarr-head
*/
.room-tariff-container {
	.room-tariff-title {
		h4 {
			font-size: 1.5em;
		}
		h5 {
			font-size: 1em;
			font-weight: 400;
		}
	}
	.room-tariff-grid {
		.tariff {
			.date-range {
				color: lighten(@dark-grey, 20%);
				text-align: right;
				font-weight: 300;
				width: 5%;
				float: left;
				.date {
					display: block;
				}
				.from, .to {
					margin: 0.2em 0 0.4em;	
				}
			}
			.packages {
				width: 95%;
				float: left;
				.package-blocks {
					margin: 0 0 1em;
					.block {
						background: darken(@grey, 10%);
						border-left: 5px solid  darken(@grey, 20%);
						padding: 0.5em;
						h6 {
							margin: 0 0 0.5em;
							font-weight: 400;
							font-size: 1.2em;
						}
						.weekday, .weekend {
							width: 49%;
							min-width: 80px;
							margin-right: 1%;
							float: left;
							text-transform: uppercase;
							color: lighten(@dark-grey, 20%);
							font-weight: 300;
							.price {
								font-weight: 700;
								font-size: 1.4em;
								display: block;
							}
						}
					}
				}
			}
			@media(max-width:767px){
				.date-range, .packages {
					float: none;
					width: 100%;
				}
				.date-range {
					text-align: left;
					.from, .to, .date {
						display: inline-block;
					}
				}
				.package-blocks {
					border-left: 2px solid darken(@grey, 10%);
					.block {
						margin: 0.25em 0;
					}
				}
			}
		}
	}
}