.slider-mgr
	.row
		.col-sm-12
			button(type="button").btn.btn-default.btn-block.add-slider 
				span.glyphicon.glyphicon-plus-sign
				| &nbsp;Add New Slider
	.row.sliders
		.col-sm-2
			.thumbnail
				img(data-src="holder.js/200x200")
				.caption
					h5 
						| Slider 1
						span.badge 5
				.actions
					button(type="button").btn.btn-default.btn-xs
						span.glyphicon.glyphicon-pencil
						| &nbsp;Edit
					button(type="button").btn.btn-danger.btn-xs
						span.glyphicon.glyphicon-trash
						| &nbsp;Delete
		.col-sm-2
			.thumbnail
				img(data-src="holder.js/200x200")
				.caption
					h5 
						| Slider 2
						span.badge 13
				.actions
					button(type="button").btn.btn-default.btn-xs
						span.glyphicon.glyphicon-pencil
						| &nbsp;Edit
					button(type="button").btn.btn-danger.btn-xs
						span.glyphicon.glyphicon-trash
						| &nbsp;Delete
