
<h4 class="aj-imp-sub-head-thin">At a Glance</h4>
<div id="date-picker">
<label for="from">From</label>
<input type="text" id="from" name="from">
<label for="to">to</label>
<input type="text" id="to" name="to">
<input type="button" id="daterange-apply">
</div>
<div id="select-days">
  <div data-toggle="buttons" class="btn-group">
    <label class="btn">
      <input id="7days" type="hidden" name="last" value="7" class="range-radio-button"/>7 days
    </label>
    <label class="btn active">
      <input id="30days" type="hidden" name="last" value="30" class="range-radio-button"/>30 days
    </label>
    <label class="btn">
      <input id="1year" type="hidden" name="last" value="365" class="range-radio-button"/>1 year
    </label>
  </div>
</div>
<div id="overview-region"></div>