
<h4 class="aj-imp-sub-head-thin">At a Glance</h4>
<div id="date-picker"></div>
<div id="select-days">
  <div data-toggle="buttons" class="btn-group">
    <label class="btn">
      <input id="7days" type="radio" name="last" value="7" class="range-radio-button"/>7 days
    </label>
    <label class="btn">
      <input id="30days" type="radio" name="last" value="30" class="range-radio-button"/>30 days
    </label>
    <label class="btn">
      <input id="1year" type="radio" name="last" value="365" checked="checked" class="range-radio-button"/>1 year
    </label>
  </div>
</div>
<div id="overview-region"></div>