<div id="room-tariff-region">
   <div class="room-tariff-container">
      <div class="room-tariff-title">
         <h4>{{#polyglot}}Room Price{{/polyglot}}</h4>
         <h5>{{#polyglot}}View Prices{{/polyglot}}</h5>
      </div>
      <div class="room-tariff-grid" id="room-tariff-grid">
         <div>
            <div id="packages-region">
               <div class="tariff package-names clearfix">
                  <div class="packages">
                     <div class="package-blocks header clearfix">
                        <div class="package-block-outer">
                           <div class="block clearfix">
                              <h6>{{#polyglot}}Package 1{{/polyglot}}</h6>
                              <div class="package-desc"> {{#polyglot}}Package Desc{{/polyglot}} </div>
                           </div>
                        </div>
                        <div class="package-block-outer">
                           <div class="block clearfix">
                              <h6>{{#polyglot}}Package 2{{/polyglot}}</h6>
                              <div class="package-desc"> {{#polyglot}}Package Desc{{/polyglot}} </div>
                           </div>
                        </div>
                        <div class="package-block-outer">
                           <div class="block clearfix">
                              <h6>{{#polyglot}}Package 3{{/polyglot}}</h6>
                              <div class="package-desc"> {{#polyglot}}Package Desc{{/polyglot}} </div>
                           </div>
                        </div>
                     </div>
                    
                  </div>
               </div>
            </div>
            <div id="tariff-region">
               <div>
                  <div class="tariff clearfix">
                     <div class="date-range">
                        <div class="from"> {{#polyglot}}From{{/polyglot}} <span class="date">{{#polyglot}}01/Jan{{/polyglot}}</span> </div>
                        <div class="to"> {{#polyglot}}To{{/polyglot}} <span class="date">{{#polyglot}}31/Mar{{/polyglot}}</span> </div>
                     </div>
                     <div class="packages">
                        <div class="package-blocks clearfix">
                           <div class="package-block-outer" data-id="1">
                              <div class="block clearfix">
                                 <div class="weekday"> {{#polyglot}}Weekdays{{/polyglot}} <span class="price">{{#polyglot}}$100{{/polyglot}}</span> </div>
                                 <div class="weekend"> {{#polyglot}}Weekends{{/polyglot}} <span class="price">{{#polyglot}}$200{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Adult{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$20{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$30{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Child{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$10{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$15{{/polyglot}}</span> </div>
                               
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="2">
                              <div class="block clearfix">
                                 <div class="weekday"> {{#polyglot}}Weekdays{{/polyglot}} <span class="price">{{#polyglot}}$100{{/polyglot}}</span> </div>
                                 <div class="weekend"> {{#polyglot}}Weekends{{/polyglot}} <span class="price">{{#polyglot}}$200{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Adult{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$20{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$30{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Child{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$10{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$15{{/polyglot}}</span> </div>
                            
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="3">
                              <div class="block clearfix">
                                 <div class="weekday"> {{#polyglot}}Weekdays{{/polyglot}} <span class="price">{{#polyglot}}$100{{/polyglot}}</span> </div>
                                 <div class="weekend"> {{#polyglot}}Weekends{{/polyglot}} <span class="price">{{#polyglot}}$200{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Adult{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$20{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$30{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Child{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$10{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$15{{/polyglot}}</span> </div>
                           
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tariff clearfix">
                     <div class="date-range">
                        <div class="from"> {{#polyglot}}From{{/polyglot}} <span class="date">{{#polyglot}}01/Apr{{/polyglot}}</span> </div>
                        <div class="to"> {{#polyglot}}To{{/polyglot}} <span class="date">{{#polyglot}}01/Jul{{/polyglot}}</span> </div>
                     </div>
                     <div class="packages">
                        <div class="package-blocks clearfix">
                           <div class="package-block-outer" data-id="1">
                              <div class="block clearfix">
                                 <div class="weekday"> {{#polyglot}}Weekdays{{/polyglot}} <span class="price">{{#polyglot}}$100{{/polyglot}}</span> </div>
                                 <div class="weekend"> {{#polyglot}}Weekends{{/polyglot}} <span class="price">{{#polyglot}}$200{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Adult{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$20{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$30{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Child{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$10{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$15{{/polyglot}}</span> </div>
                              
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="2">
                              <div class="block clearfix">
                                 <div class="weekday"> {{#polyglot}}Weekdays{{/polyglot}} <span class="price">{{#polyglot}}$100{{/polyglot}}</span> </div>
                                 <div class="weekend"> {{#polyglot}}Weekends{{/polyglot}} <span class="price">{{#polyglot}}$200{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Adult{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$20{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$30{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Child{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$10{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$15{{/polyglot}}</span> </div>
                            
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="3">
                              <div class="block clearfix">
                                 <div class="weekday"> {{#polyglot}}Weekdays{{/polyglot}} <span class="price">{{#polyglot}}$100{{/polyglot}}</span> </div>
                                 <div class="weekend"> {{#polyglot}}Weekends{{/polyglot}} <span class="price">{{#polyglot}}$200{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Adult{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$20{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$30{{/polyglot}}</span> </div>
                                 <div class="tariff-label clearfix">{{#polyglot}}Extra Child{{/polyglot}}</div>
                                 <div class="weekday"> <span class="price">{{#polyglot}}$10{{/polyglot}}</span> </div>
                                 <div class="weekend"> <span class="price">{{#polyglot}}$15{{/polyglot}}</span> </div>
                                
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    
   </div>
</div>