<div id="room-tariff-region">
   <div class="room-tariff-container">
      <div class="room-tariff-title">
         <h4>Room Price</h4>
         <h5>LOrem Ipsum Dolor Sit Amet</h5>
      </div>
      <div class="room-tariff-grid" id="room-tariff-grid">
         <div>
            <div id="packages-region">
               <div class="tariff package-names clearfix">
                  <div class="packages">
                     <div class="package-blocks header clearfix">
                        <div class="package-block-outer">
                           <div class="block clearfix">
                              <h6>Package 1</h6>
                              <div class="package-desc"> Lorem Ipsum </div>
                           </div>
                        </div>
                        <div class="package-block-outer">
                           <div class="block clearfix">
                              <h6>Package 2</h6>
                              <div class="package-desc"> Lorem Ipsum </div>
                           </div>
                        </div>
                        <div class="package-block-outer">
                           <div class="block clearfix">
                              <h6>Package 3</h6>
                              <div class="package-desc"> Lorem Ipsum </div>
                           </div>
                        </div>
                     </div>
                    
                  </div>
               </div>
            </div>
            <div id="tariff-region">
               <div>
                  <div class="tariff clearfix">
                     <div class="date-range">
                        <div class="from"> From <span class="date">01/Jan</span> </div>
                        <div class="to"> To <span class="date">31/Mar</span> </div>
                     </div>
                     <div class="packages">
                        <div class="package-blocks clearfix">
                           <div class="package-block-outer" data-id="1">
                              <div class="block clearfix">
                                 <div class="weekday"> Weekdays <span class="price">$100</span> </div>
                                 <div class="weekend"> Weekends <span class="price">$200</span> </div>
                                 <div class="tariff-label clearfix">Extra Adult</div>
                                 <div class="weekday"> <span class="price">$20</span> </div>
                                 <div class="weekend"> <span class="price">$30</span> </div>
                                 <div class="tariff-label clearfix">Extra Child</div>
                                 <div class="weekday"> <span class="price">$10</span> </div>
                                 <div class="weekend"> <span class="price">$15</span> </div>
                               
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="2">
                              <div class="block clearfix">
                                 <div class="weekday"> Weekdays <span class="price">$100</span> </div>
                                 <div class="weekend"> Weekends <span class="price">$200</span> </div>
                                 <div class="tariff-label clearfix">Extra Adult</div>
                                 <div class="weekday"> <span class="price">$20</span> </div>
                                 <div class="weekend"> <span class="price">$30</span> </div>
                                 <div class="tariff-label clearfix">Extra Child</div>
                                 <div class="weekday"> <span class="price">$10</span> </div>
                                 <div class="weekend"> <span class="price">$15</span> </div>
                            
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="3">
                              <div class="block clearfix">
                                 <div class="weekday"> Weekdays <span class="price">$100</span> </div>
                                 <div class="weekend"> Weekends <span class="price">$200</span> </div>
                                 <div class="tariff-label clearfix">Extra Adult</div>
                                 <div class="weekday"> <span class="price">$20</span> </div>
                                 <div class="weekend"> <span class="price">$30</span> </div>
                                 <div class="tariff-label clearfix">Extra Child</div>
                                 <div class="weekday"> <span class="price">$10</span> </div>
                                 <div class="weekend"> <span class="price">$15</span> </div>
                           
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="tariff clearfix">
                     <div class="date-range">
                        <div class="from"> From <span class="date">01/Apr</span> </div>
                        <div class="to"> To <span class="date">01/Jul</span> </div>
                     </div>
                     <div class="packages">
                        <div class="package-blocks clearfix">
                           <div class="package-block-outer" data-id="1">
                              <div class="block clearfix">
                                 <div class="weekday"> Weekdays <span class="price">$100</span> </div>
                                 <div class="weekend"> Weekends <span class="price">$200</span> </div>
                                 <div class="tariff-label clearfix">Extra Adult</div>
                                 <div class="weekday"> <span class="price">$20</span> </div>
                                 <div class="weekend"> <span class="price">$30</span> </div>
                                 <div class="tariff-label clearfix">Extra Child</div>
                                 <div class="weekday"> <span class="price">$10</span> </div>
                                 <div class="weekend"> <span class="price">$15</span> </div>
                              
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="2">
                              <div class="block clearfix">
                                 <div class="weekday"> Weekdays <span class="price">$100</span> </div>
                                 <div class="weekend"> Weekends <span class="price">$200</span> </div>
                                 <div class="tariff-label clearfix">Extra Adult</div>
                                 <div class="weekday"> <span class="price">$20</span> </div>
                                 <div class="weekend"> <span class="price">$30</span> </div>
                                 <div class="tariff-label clearfix">Extra Child</div>
                                 <div class="weekday"> <span class="price">$10</span> </div>
                                 <div class="weekend"> <span class="price">$15</span> </div>
                            
                              </div>
                           </div>
                           <div class="package-block-outer" data-id="3">
                              <div class="block clearfix">
                                 <div class="weekday"> Weekdays <span class="price">$100</span> </div>
                                 <div class="weekend"> Weekends <span class="price">$200</span> </div>
                                 <div class="tariff-label clearfix">Extra Adult</div>
                                 <div class="weekday"> <span class="price">$20</span> </div>
                                 <div class="weekend"> <span class="price">$30</span> </div>
                                 <div class="tariff-label clearfix">Extra Child</div>
                                 <div class="weekday"> <span class="price">$10</span> </div>
                                 <div class="weekend"> <span class="price">$15</span> </div>
                                
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    
   </div>
</div>