header.settings-header
	.row
		.col-sm-10
			h5.title {{element}} Settings
		.col-sm-2.close-btn
			a(class='close-settings', href='#') &times;
	.row
		.col-sm-12
			form(action='', method='POST', role='form')
				.form-group
					label(for='') Choose Style
					select(name="style")
						{{#styles}}
						option(value="{{name}}") {{name}}
						{{/styles}}
				.form-group
					label(for='') Choose Menu
					select(name="choose-menu")
						{{#site_menus}}
						option(value="{{menu_id}}") {{menu_name}}
						{{/site_menus}}
				.form-group
					label.pull-left(for='') Draggable
					span.checkbox.pull-left
						input(type='checkbox' name="draggable")
				.form-group
					label.pull-left(for='') Justified
					span.checkbox.pull-left
						input(type='checkbox' name="justified")
				.clearfix
				.form-group
					label.col-sm-4.control-label(for='') Top Margin
					.col-sm-8
						select.spacing(name="top_margin")
							option(value="") None
							option(value="top-margin-small") Small
							option(value="top-margin-medium") Medium
							option(value="top-margin-large") Large
				.form-group
					label.col-sm-4.control-label(for='') Bottom Margin
					.col-sm-8
						select.spacing(name="bottom_margin")
							option(value="") None
							option(value="bottom-margin-small") Small
							option(value="bottom-margin-medium") Medium
							option(value="bottom-margin-large") Large
				.form-group
					label.col-sm-4.control-label(for='') Left Margin
					.col-sm-8
						select.spacing(name="left_margin")
							option(value="") None
							option(value="left-margin-small") Small
							option(value="left-margin-medium") Medium
							option(value="left-margin-large") Large
				.form-group
					label.col-sm-4.control-label(for='') Right Margin
					.col-sm-8
						select.spacing(name="right_margin")
							option(value="") None
							option(value="right-margin-small") Small
							option(value="right-margin-medium") Medium
							option(value="right-margin-large") Large
							