<div class="tab-pane active" id="page">
    <h6 class="aj-imp-sub-head">{{#polyglot}}Page Translations{{/polyglot}}</h6>

    <div class="row">
        <div class="col-md-6">
            <div class="original-page-content">

            </div>
        </div>
        <div class="col-md-6">
            <div class="translated-page-content">

            </div>
        </div>
        <div class="col-md-6">
            <div class="original-table-content">

            </div>
        </div>
        <div class="col-md-6">
            <div class="translated-table-content">

            </div>
        </div>
    </div>
</div>