<div class="tab-pane active" id="page">
    <h6 class="aj-imp-sub-head">{{#polyglot}}Page Translations{{/polyglot}}</h6>

    <div class="row">
        <div class="col-md-6">
            <div class="original-page-content">

            </div>
        </div>
        <div class="col-md-6">
            <div class="translated-page-content">

            </div>
        </div>
    </div>

    <h6 class="aj-imp-sub-head-thin">{{#polyglot}}Table Translations{{/polyglot}}</h6>
    <div class="row">
        <div class="col-md-6">
            <div class="original-table-content">

            </div>
        </div>
        <div class="col-md-6">
            <div class="translated-table-content">

            </div>
        </div>
    </div>

    <h6 class="aj-imp-sub-head-thin">{{#polyglot}}Slider Translations{{/polyglot}}</h6>
    <div class="row">
        <div class="col-md-6">
            <div class="original-slider-content">
<!--                 <h6 class="aj-imp-sub-head-thin"><small>{{#polyglot}}Slider{{/polyglot}}</small></h6>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group"> 
                            <label for="" class="col-sm-3 control-label">Caption</label> 
                            <div class="col-sm-9 col-sm-offset-3"> 
                                <div tabindex="1" class="original title"> Click here to enter title<br> </div> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group"> 
                            <label for="" class="col-sm-3 control-label">Description</label> 
                            <div class="col-sm-9 col-sm-offset-3"> 
                                <div tabindex="1" class="original text"> Click here to enter title<br> </div> 
                            </div> 
                        </div> 
                    </div>
                </div>

                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group"> 
                            <label for="" class="col-sm-3 control-label">Caption</label> 
                            <div class="col-sm-9 col-sm-offset-3"> 
                                <div tabindex="1" class="original title"> Click here to enter title<br> </div> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group"> 
                            <label for="" class="col-sm-3 control-label">Description</label> 
                            <div class="col-sm-9 col-sm-offset-3"> 
                                <div tabindex="1" class="original text"> Click here to enter title<br> </div> 
                            </div> 
                        </div> 
                    </div>
                </div>

                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group"> 
                            <label for="" class="col-sm-3 control-label">Caption</label> 
                            <div class="col-sm-9 col-sm-offset-3"> 
                                <div tabindex="1" class="original title"> Click here to enter title<br> </div> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group"> 
                            <label for="" class="col-sm-3 control-label">Description</label> 
                            <div class="col-sm-9 col-sm-offset-3"> 
                                <div tabindex="1" class="original text"> Click here to enter title<br> </div> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <hr> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="translated-slider-content">
                <!-- <h6 class="aj-imp-sub-head-thin"><small>&nbsp;</small></h6>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group trans-field"> 
                            <div class="col-sm-10"> 
                                <div class="form-control translated-element-content title">
                                    <p>Klikk her for å skrive inn tittel</p>
                                </div> 
                                <button id="btn-save-translated-element" class="btn btn-xs trans-action aj-imp-orange-btn"> Save </button> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group trans-field"> 
                            <div class="col-sm-10"> 
                                <div class="form-control translated-element-content text">
                                    <p>Klikk her for å skrive inn tittel</p>
                                </div> 
                                <button id="btn-save-translated-element" class="btn btn-xs trans-action aj-imp-orange-btn"> Save </button> 
                            </div> 
                        </div> 
                    </div>
                </div> -->

<!--                 <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group trans-field"> 
                            <div class="col-sm-10"> 
                                <div contenteditable="true" class="form-control translated-element-content title cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="title-202" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Rich Text Editor, title-202" title="Rich Text Editor, title-202" aria-describedby="cke_165">
                                    <p>Klikk her for å skrive inn tittel</p>
                                </div> 
                                <button id="btn-save-translated-element" class="btn btn-xs trans-action aj-imp-orange-btn"> Save </button> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group trans-field"> 
                            <div class="col-sm-10"> 
                                <div contenteditable="true" class="form-control translated-element-content text cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="title-202" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Rich Text Editor, title-202" title="Rich Text Editor, title-202" aria-describedby="cke_165">
                                    <p>Klikk her for å skrive inn tittel</p>
                                </div> 
                                <button id="btn-save-translated-element" class="btn btn-xs trans-action aj-imp-orange-btn"> Save </button> 
                            </div> 
                        </div> 
                    </div>
                </div>

                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group trans-field"> 
                            <div class="col-sm-10"> 
                                <div contenteditable="true" class="form-control translated-element-content title cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="title-202" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Rich Text Editor, title-202" title="Rich Text Editor, title-202" aria-describedby="cke_165">
                                    <p>Klikk her for å skrive inn tittel</p>
                                </div> 
                                <button id="btn-save-translated-element" class="btn btn-xs trans-action aj-imp-orange-btn"> Save </button> 
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="form-group legend-group">
                    <div class="col-sm-12"> 
                        <div class="form-group trans-field"> 
                            <div class="col-sm-10"> 
                                <div contenteditable="true" class="form-control translated-element-content text cke_editable cke_editable_inline cke_contents_ltr cke_show_borders" id="title-202" tabindex="0" spellcheck="false" style="position: relative;" role="textbox" aria-label="Rich Text Editor, title-202" title="Rich Text Editor, title-202" aria-describedby="cke_165">
                                    <p>Klikk her for å skrive inn tittel</p>
                                </div> 
                                <button id="btn-save-translated-element" class="btn btn-xs trans-action aj-imp-orange-btn"> Save </button> 
                            </div> 
                        </div> 
                    </div>
                </div> -->
                <hr>
            </div>
        </div>
    </div>
</div>