
<div class="row">
  <div id="buttons-group">
    <input id="totVisitCheckbox" type="checkbox" name="visit" value="ga:visits" checked="checked" class="chart-button"/>
    <label for="visit">Total Visitors</label>
    <input id="uniqueVisitCheckbox" type="checkbox" name="unique" value="ga:visitors" checked="checked" class="chart-button"/>
    <label for="unique">Unique Visitor</label>
    <input id="newVisitCheckbox" type="checkbox" name="new" value="ga:newVisits" checked="checked" class="chart-button"/>
    <label for="new">New Visitor</label>
    <input id="pageViewCheckbox" type="checkbox" name="page" value="ga:pageviews" checked="checked" class="chart-button"/>
    <label for="page">Page Views</label>
  </div>
</div>
<div class="row">
  <div id="overview-chart-region"></div>
</div>