<div class="form-group">
    <div class="col-sm-12">
        <textarea class="form-control" name="additional_policy" id="additional_policy" rows="5" placeholder="{{#polyglot}}Enter any additional Hotel Policies Here.{{/polyglot}}">{{additional_policy}}</textarea>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-12">
        <a class="btn btn-xs aj-imp-submit" href="#" id="update_policies"><span class="glyphicon glyphicon-floppy-disk"></span> {{#polyglot}}Save{{/polyglot}}</a>
    </div>
</div>