 <header class="aj-imp-dash-header row">
	<div class="aj-imp-dash-title col-xs-8">
		<h2 class="aj-imp-page-head">Room List</h2> 
	</div>
	<div class="aj-imp-dash-actions col-xs-4">
	    <a href="#rooms/add" class="btn btn-default btn-lg add-room"><span class="icon icon-plus"></span> Add Room</a>
		<!--<a href="#" class="btn btn-embossed btn-wide"><span class="glyphicon glyphicon-cog"></span> Settings</a> -->
	</div> 
</header> 
<div class="row">
	<div class="aj-imp-dash-content col-md-12">
		<div class="table-responsive">
			<table class="table table-bordered table-striped room-list">
				<thead>
					<th class="one">Room Details</th>
					<th class="two">Tariff</th>
					<th class="three">Actions</th>
				</thead>
				<tbody>
					
				</tbody>
			</table>
		</div>
	</div>
</div>
