 <header class="aj-imp-dash-header row">
	<div class="aj-imp-dash-title col-xs-8">
		<h2 class="aj-imp-page-head">{{#polyglot}}Room List{{/polyglot}}</h2>
	</div>
	<div class="aj-imp-dash-actions col-xs-4">
	    <a href="#rooms/add" class="btn btn-default btn-lg add-room"><span class="icon icon-plus"></span> {{#polyglot}}Add Room{{/polyglot}}</a>
		<!--<a href="#" class="btn btn-embossed btn-wide"><span class="glyphicon glyphicon-cog"></span> Settings</a> -->
	</div> 
</header> 
<div class="row">
	<div class="aj-imp-dash-content col-md-12">
		<ul class="new-room-list">
			
		</ul>
	</div>
</div>
