<td>
	<div class="room-details">
		<h4>{{post_title}}</h4>
		<p class="desc">{{post_content}}</p>
		<div class="row info-strip">
			<div class="col-md-4 strip">
				<span>{{no_of_rooms}}</span> Rooms
			</div>
			<div class="col-md-4 strip">
				<span>12Hr</span> Hour Format
			</div>
			<div class="col-md-4 strip">
				<span>9:00AM</span>
			</div>
		</div>
	</div>
</td>
<td>
	<div class="tariff">
		<div class="row tariff-plan">
			<div class="col-sm-6 plan">
				<h6>Plan Name</h6>
				1st Jan to 31st Mar
			</div>
			<div class="col-sm-3 weekday">
				Weekday
				<div class="price">$200</div>
			</div>
			<div class="col-sm-3 weekend">
				Weekend
				<div class="price">$300</div>
			</div>
		</div>
	</div>
</td>
<td class="actions">
	<a href="#rooms/edit/20" class="btn btn-xs editroom_link">
	<span class="glyphicon glyphicon-pencil"></span> Edit</a> 
	<a href="#rooms/delete/20" class="btn btn-danger btn-xs deleteroom_link">
	<span class="glyphicon glyphicon-trash"></span> Delete</a>
</td>