
<header class="settings-header">
  <div class="row">
    <div class="col-sm-10">
      <h5 class="title">{{element}} {{#polyglot}}Settings{{/polyglot}}</h5>
    </div>
    <div class="col-sm-2 close-btn"><a href="#" class="close-settings">&times;</a></div>
  </div>
</header>

<div class="table-settings-bar">
	<div class="form-inline">
		<div class="control-group">
			<label for="spinner-01">{{#polyglot}}Columns{{/polyglot}}: </label>
		  	<div class="input-group spinner column-spinner">
				<input type="text" class="form-control" value="{{column}}">
				<div class="input-group-btn-vertical">
					<button class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></button>
					<button class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></button>
				</div>
			</div>
		</div>
		<div class="control-group">
			<label for="spinner-02">{{#polyglot}}Rows{{/polyglot}}: </label>
		  	<div class="input-group spinner row-spinner">
				<input type="text" class="form-control" value="{{row}}">
				<div class="input-group-btn-vertical">
					<button class="btn btn-default"><i class="glyphicon glyphicon-chevron-up"></i></button>
					<button class="btn btn-default"><i class="glyphicon glyphicon-chevron-down"></i></button>
				</div>
			</div>
		</div>
		<div class="control-group check-props">
			<label for="properties">{{#polyglot}}Properties{{/polyglot}}: </label>
		  	<div class="props">
		  		<label class="checkbox" for="checkbox-bordered">
					<input type="checkbox" value="" id="checkbox-bordered" data-toggle="checkbox">
					{{#polyglot}}Bordered{{/polyglot}}
				</label>
				<label class="checkbox" for="checkbox-striped">
					<input type="checkbox" value="" id="checkbox-striped" data-toggle="checkbox">
					{{#polyglot}}Striped{{/polyglot}}
				</label>
		  	</div>
		</div>
		<div class="control-group styles">
			<label for="style">{{#polyglot}}Style{{/polyglot}}: </label>
		  	<select id="table-style">
		  		<option value="style-1">Style 1</option>
		  		<option value="style-2">Style 2</option>
		  	</select>
		</div>
	</div>
</div>