form
    .row
        .col-md-6
            label First Name
            input.form-control.flat(type='text', placeholder='Your First Name')
            label Last Name
            input.form-control.flat(type='text', placeholder='Your Last Name')
            label Email Address
            input.form-control.flat(type='text', placeholder='Your Email Address')
            label Subject
            select#subject.form-control.flat(name='subject', placeholder='Choose One:')
                option(value='na', selected='') Choose One:
                option(value='service') General Customer Service
                option(value='suggestions') Suggestions
                option(value='product') Product Support
        .col-md-6
            label Message
            textarea#message.form-control.flat(rows='5', name='message', placeholder='Your Message')
            button.btn.btn-default(type='submit') Send Message