
<header class="settings-header">
  <div class="row">
    <div class="col-sm-10">
      <h5 class="title">{{#polyglot}}{{element}}{{/polyglot}} {{#polyglot}}Settings{{/polyglot}}</h5>
    </div>
    <div class="col-sm-2 close-btn"><a href="#" class="close-settings">&times;</a></div>
  </div>
</header>
<div class="row">
  <div class="col-sm-12">
    <form action="" method="POST" role="form" class="form-horizontal">
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Draggable{{/polyglot}}</label>
        <div class="col-sm-8"><span class="checkbox">
            <input type="checkbox" name="draggable"/></span></div>
      </div>
      <div class="form-group edit-by-user">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Add Link{{/polyglot}}</label>
        <div class="col-sm-8"><span class="checkbox">
            <input type="checkbox" name="link_check"/></span></div>
      </div>
      <div class="form-group edit-by-user">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Add Url{{/polyglot}}</label>
        <div class="col-sm-8">
          <input type="text" name="link" class="linktext form-control required url"/>
        </div>
      </div>
      <div class="form-group edit-by-user">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Open in new window{{/polyglot}}</label>
        <div class="col-sm-8"><span class="checkbox">
            <input type="checkbox" name="target"/></span></div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Align{{/polyglot}}</label>
        <div class="col-sm-8">
          <select name="align">
            <option value="left">{{#polyglot}}Left{{/polyglot}}</option>
            <option value="right">{{#polyglot}}Right{{/polyglot}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Top Margin{{/polyglot}}</label>
        <div class="col-sm-8">
          <select name="top_margin" class="spacing">
            <option value="">{{#polyglot}}None{{/polyglot}}</option>
            <option value="top-margin-small">{{#polyglot}}Small{{/polyglot}}</option>
            <option value="top-margin-medium">{{#polyglot}}Medium{{/polyglot}}</option>
            <option value="top-margin-large">{{#polyglot}}Large{{/polyglot}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Bottom Margin{{/polyglot}}</label>
        <div class="col-sm-8">
          <select name="bottom_margin" class="spacing">
            <option value="">{{#polyglot}}None{{/polyglot}}</option>
            <option value="bottom-margin-small">{{#polyglot}}Small{{/polyglot}}</option>
            <option value="bottom-margin-medium">{{#polyglot}}Medium{{/polyglot}}</option>
            <option value="bottom-margin-large">{{#polyglot}}Large{{/polyglot}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Left Margin{{/polyglot}}</label>
        <div class="col-sm-8">
          <select name="left_margin" class="spacing">
            <option value="">{{#polyglot}}None{{/polyglot}}</option>
            <option value="left-margin-small">{{#polyglot}}Small{{/polyglot}}</option>
            <option value="left-margin-medium">{{#polyglot}}Medium{{/polyglot}}</option>
            <option value="left-margin-large">{{#polyglot}}Large{{/polyglot}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="" class="col-sm-4 control-label">{{#polyglot}}Right Margin{{/polyglot}}</label>
        <div class="col-sm-8">
          <select name="right_margin" class="spacing">
            <option value="">{{#polyglot}}None{{/polyglot}}</option>
            <option value="right-margin-small">{{#polyglot}}Small{{/polyglot}}</option>
            <option value="right-margin-medium">{{#polyglot}}Medium{{/polyglot}}</option>
            <option value="right-margin-large">{{#polyglot}}Large{{/polyglot}}</option>
          </select>
        </div>
      </div>
    </form>
  </div>
</div>