<div class="aj-imp-drag-handle">
	<a href="#" title="Move">
		<span class="icon-uniF140"></span>
	</a>
</div>
<div class="aj-imp-delete-btn">
	<a href="#" title="Delete">
		&times;
	</a>
</div>
<div class="aj-imp-col-sel tooltip fade top in">
	<div class="tooltip-arrow"></div>
	<div class="tooltip-inner">
		<label>Columns: </label>
		<ul class="clearfix">
			<li><a href="#">1</a></li>
			<li  class="active"><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">6</a></li>
			<li><a href="#">12</a></li>
		</ul>
	</div>
</div>