<div class="layout">
	<span class="icon-uniF10E"></span>
	<div class="aj-imp-descriptor">Image</div>
</div>
<div class="content">
	<img src="" title="" />
</div>
<div class="aj-imp-drag-handle">
	<p title="Move">
		<span class="icon-uniF140"></span>
	</p>
</div>
<div class="aj-imp-delete-btn">
	<span title="Delete">
		&times;
	</span>
</div>