<div class="layout">
	<span class="icon-uniF13C"></span>
	<div class="aj-imp-descriptor">Menu</div>
</div>
<div class="content">
	<div class="clearfix aj-imp-edit-content">
		<nav role="navigation">
			<ul class="nav nav-justified">
				<li class="active"><a data-toggle="modal" href="#menuModal">Action</a></li>
				<li><a href="#">Another action</a></li>
				<li><a href="#">Something else here</a></li>
				<li><a href="#">Separated link</a></li>
				<li><a href="#">Separated link</a></li>
			</ul>
		</nav>
	</div>
</div>	
<div class="aj-imp-drag-handle">
    <p title="Move">
        <span class="icon-uniF140"></span>
    </p>
</div>
<div class="aj-imp-delete-btn">
    <span title="Delete">
        &times;
    </span>
</div>