<div class="layout">
	<span class="icon-uniF13C"></span>
	<div class="aj-imp-descriptor">Title</div>
</div>
<div class="content">
	<div class="clearfix aj-imp-edit-content align-center logo">
		<h1 contenteditable="true" placeholder="Enter Logo Text"></h1>
	</div>
</div>
<div class="aj-imp-drag-handle">
    <p title="Move">
        <span class="icon-uniF140"></span>
    </p>
</div>
<div class="aj-imp-delete-btn">
    <span title="Delete">
        &times;
    </span>
</div>
