
<!-- element box description-->
<p class="desc move-cursor">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<!-- builder row element-->
<div data-element="builderrow" data-placeholder-height="120" class="aj-imp-add-row builder-element"><a href="#"><span class="glyphicon glyphicon-align-justify"></span>Add New Row<span class="glyphicon glyphicon-fullscreen pull-right"></span></a></div>
<!-- tab type-->
<ul id="builder-box-tabs" class="nav nav-tabs">
  <li class="active"><a href="#content" data-toggle="tab">Content</a></li>
  <li><a href="#room-elements" data-toggle="tab">Room</a></li>
</ul>
<!--tab content-->
<div class="tab-content">
  <!--#content elements-->
  <div id="content" class="tab-pane active">
    <ul class="aj-imp-builder-items clearfix"></ul>
  </div>
  <!--#room element-->
  <div id="room-elements" class="tab-pane">
    <ul class="aj-imp-builder-items clearfix"></ul>
  </div>
</div>