/****Image With Text Styles****/
.image {
	padding: 0.5em 0;
	.info {
		color: @dark-grey;
		font-size: 1em;
	}
	&.style-one {
		
	}
	&.style-two {
		color: darken(@grey, 10%);
		font-size: 1em;
		font-weight: 300;
		p {
			font-size: inherit;
		}
	}
}