/****Menu Styles****/
.nav {
	&.slimmenu {
		text-align: center;
		width: 100%;
		margin-bottom: 1em;
		margin-top: 3em;
		background: @tertiary1;
		border-radius: 6px;
		box-shadow: 0 3px 2px -2px @tertiary1;
		> li {
			display: inline-block;
			float: none;
			width: auto;
			border: 0;
			background: transparent;
			a {
				color: #fff;
				text-transform: uppercase;
				font-family: 'Lato', sans-serif;
				font-weight: 300;
				padding: 0.5em 2.2em 0.5em 1.5em;
				&:hover {
					background: none;
					color: lighten(@tertiary1, 60%);
				}
				.glyphicon {
					font-size: 0.8em;
				}
			}
			&.active {
				a {
					font-weight: 400;
					&:hover {
						color: lighten(@tertiary1, 60%);
					}
				}
			}
			.sub-collapser { 
				background: transparent;
				i {
					color: #fff;
					font-size: 0.8em;
				}
			}
			ul {
				text-align: left;
				width: 100%;
				background: @tertiary1;
				margin: 0;
				padding: 0;
				box-shadow: 0 6px 4px -4px @tertiary1;
				li {
					background: @tertiary1;
					display: block;
					a {
						padding: 0.5em;
						&:hover {
							background: lighten(@tertiary1, 60%);
							color: @tertiary1;
						}
						.glyphicon {
							float: right;
						}
					}
				}
				&:before {
					display: none;
				}
			}
		}
		@media (max-width: 767px) { 
			text-align: left;
			width: 100%;
			margin-bottom: 1em;
			> li {
				display: block;
				width: 100%;
				.sub-collapser {
					background: darken(@blue, 10%);
					height: 36px;
					width: 40px
				}
				ul {
					padding-left: 2em;
				}
			}
		}
	}
	.menu-collapser {
		background: #fff;
		color: @primary1;
		font-weight: 700;
		text-shadow: none;
		.collapse-button {
			background: @primary1;
			border-radius: 3px;
		}
	}
	&.footer-menu {
		padding: 0;
		text-align: left;
		li {
			position: relative;
			margin: 0 0 0.2em;
			display: block;
			background: transparent;
			a {
				color: #fff;
				font-weight: 100;
				text-transform: uppercase;
				display: inline-block;
				padding: 0.33em;
				&:hover {
					text-decoration: none;
					background: transparent;
				}
			}
			&:before {
				content: '›';
				display: inline-block;
				color: #fff;
				font-size: 1.3em;
				margin-right: 5px;
			}
			&:hover {
				left: 0.25em;
				.backTrans;
				background: transparent;
				a {
					color: #fff;
				}
			}
		}
	}
}