/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Feb, 2014, 7:45:35 PM
    Author     : jarr-head
*/
.row{
	background: transparent;
	&.blue-strip-top{
	    border-top: 5px solid @primary1;
	    background: @tertiary1;
	    min-height: 100px;
	}

	&.white-shaded-background{
		padding: 1em 15px;
		background: #fff;
		box-shadow: 0 0 2px lighten(@secondary1, 50%);
	}
}