//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap blue.

@blue: #2A3B66;
@red: #FF5F5F;
@grey: #E9E9E9;
@dark-grey: #29333F;

@primary1: @red;
@secondary1: @grey;
@tertiary1: @blue;