//
// Variables
// --------------------------------------------------


//== Colors
//
//## Gray and brand colors for use across Bootstrap blue.
@dark-grey: #29333F;

@primary1: #FF5F5F;
@secondary1: #E9E9E9;
@tertiary1: #2A3B66;

@text-color: #989898;

@white: #FFFFFF;
@black: #000;

//== Padding, Margins, etc
//

@regular: 0.5em;
@medium: 1em;
@large: 1.5em;
